Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

redirect broken URLs
  .gitbook.yaml
Owners: @gravitee-io/tech-writers

redirect broken URLs (#1947)
  .gitbook.yaml
Owners: @gravitee-io/tech-writers

redirect broken URLs (#1947)
  .gitbook.yaml
Owners: @gravitee-io/tech-writers

redirect broken URLs (#1947)
  .gitbook.yaml
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.26
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.17
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.11
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

set up AM 4.12
  docs/am/4.12/.version-overrides
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

chore: add changelog for 4.11.11
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.11
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.11
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.17
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.17
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.17
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.26
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.26
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.26
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.19
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

Apply suggestions from code review
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.11.19 (#1952)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.11.19 (#1952)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.11.19 (#1952)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

docs(am-4.12): add AM 4.12.x changelog page to SUMMARY nav
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

docs(am-4.12): add AM 4.12.x changelog page to SUMMARY nav
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

set up AM 4.12
  docs/am/4.12/.version-overrides
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

docs(am-4.12): add AM 4.12.x changelog page to SUMMARY nav
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

set up AM 4.12
  docs/am/4.12/.version-overrides
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

set up AM 4.12
  docs/am/4.12/.version-overrides
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

docs(am-4.12): add AM 4.12.x changelog page to SUMMARY nav
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix some inaccuracies within the LLM proxy page
  docs/gamma/agent-management/build/configure-an-llm-proxy.md
Owners: @gravitee-io/tech-writers

fix some inaccuracies within the LLM proxy page (#1953)
  docs/gamma/agent-management/build/configure-an-llm-proxy.md
Owners: @gravitee-io/tech-writers

fix some inaccuracies within the LLM proxy page (#1953)
  docs/gamma/agent-management/build/configure-an-llm-proxy.md
Owners: @gravitee-io/tech-writers

fix some inaccuracies within the LLM proxy page (#1953)
  docs/gamma/agent-management/build/configure-an-llm-proxy.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.7
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.1
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/am

add navigation structure page to 4.12 summary file
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

add navigation structure page to 4.12 summary file (#1956)
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

add navigation structure page to 4.12 summary file (#1956)
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

add navigation structure page to 4.12 summary file (#1956)
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.1
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/am
