Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs: add changelog for gko-4.12.3
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.15
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.22
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

chore: add changelog for 4.12.4
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.3
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.3
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.15
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.15
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.22
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.22
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

[sync] gko: 4.11 → 4.12
  docs/gko/4.12/.version-overrides
  docs/gko/4.12/guides/define-an-apim-service-account-for-gko.md
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.10/.gitbook/assets/image (124).png
  docs/gko/4.10/.gitbook/assets/image (125).png
  docs/gko/4.10/.gitbook/assets/image (126).png
  docs/gko/4.10/.gitbook/assets/image (127).png
  docs/gko/4.10/.gitbook/assets/overview-example-architecture-9 (1).png
  docs/gko/4.10/guides/publish-apis-to-the-portal.md
  docs/gko/4.10/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.10/.gitbook/assets/image (124).png
  docs/gko/4.10/.gitbook/assets/image (125).png
  docs/gko/4.10/.gitbook/assets/image (126).png
  docs/gko/4.10/.gitbook/assets/image (127).png
  docs/gko/4.10/.gitbook/assets/overview-example-architecture-9 (1).png
  docs/gko/4.10/guides/publish-apis-to-the-portal.md
  docs/gko/4.10/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.9.26
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.26
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.26
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

GitBook: Update content
  docs/gko/4.9/.gitbook/assets/gs-api-storage-and-control-options--3 (1).png
  docs/gko/4.9/.gitbook/assets/gs-install-rbac-customization-18 (1).png
  docs/gko/4.9/.gitbook/assets/guide-multi-environment-architectur-12 (1).png
  docs/gko/4.9/.gitbook/assets/guide-templating-13 (1).png
  docs/gko/4.9/.gitbook/assets/guide-templating-14 (1).png
  docs/gko/4.9/.gitbook/assets/guides-export-an-api-as-a-kubernetes-man-1-1-1.png
  docs/gko/4.9/.gitbook/assets/guides-export-an-api-as-a-kubernetes-man-2-1.png
  docs/gko/4.9/.gitbook/assets/guides-manage-api-groups-and-members-1-1.png
  docs/gko/4.9/.gitbook/assets/image (124).png
  docs/gko/4.9/.gitbook/assets/image (125).png
  docs/gko/4.9/.gitbook/assets/image (126).png
  docs/gko/4.9/.gitbook/assets/image (127).png
  docs/gko/4.9/.gitbook/assets/overview-custom-resource-definition-2.png
  docs/gko/4.9/.gitbook/assets/overview-example-architecture-9 (1).png
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/rbac-customization.md
  docs/gko/4.9/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/guides/templating.md
  docs/gko/4.9/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.9/.gitbook/assets/gs-api-storage-and-control-options--3 (1).png
  docs/gko/4.9/.gitbook/assets/gs-install-rbac-customization-18 (1).png
  docs/gko/4.9/.gitbook/assets/guide-multi-environment-architectur-12 (1).png
  docs/gko/4.9/.gitbook/assets/guide-templating-13 (1).png
  docs/gko/4.9/.gitbook/assets/guide-templating-14 (1).png
  docs/gko/4.9/.gitbook/assets/guides-export-an-api-as-a-kubernetes-man-1-1-1.png
  docs/gko/4.9/.gitbook/assets/guides-export-an-api-as-a-kubernetes-man-2-1.png
  docs/gko/4.9/.gitbook/assets/guides-manage-api-groups-and-members-1-1.png
  docs/gko/4.9/.gitbook/assets/image (124).png
  docs/gko/4.9/.gitbook/assets/image (125).png
  docs/gko/4.9/.gitbook/assets/image (126).png
  docs/gko/4.9/.gitbook/assets/image (127).png
  docs/gko/4.9/.gitbook/assets/overview-custom-resource-definition-2.png
  docs/gko/4.9/.gitbook/assets/overview-example-architecture-9 (1).png
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/rbac-customization.md
  docs/gko/4.9/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/guides/templating.md
  docs/gko/4.9/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

docs(generate-jwt): policy supports v4 message APIs on onRequest phase
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
Owners: @gravitee-io/tech-writers

docs(generate-jwt): policy supports v4 message APIs on onRequest phase
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/generate-jwt.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.4 (#1911)
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.4 (#1911)
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(gravitee-cloud): fix Vale findings in the Entra SSO troubleshooting note
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

docs: add Cockpit SSO troubleshooting note for Entra AADSTS50146
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

docs(gravitee-cloud): fix Vale findings in the Entra SSO troubleshooting note
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

docs(gravitee-cloud): fix Vale findings in the Entra SSO troubleshooting note
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

docs: add Cockpit SSO troubleshooting note for Entra AADSTS50146
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.16
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.16 (#1915)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.16 (#1915)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/release-information/changelog/README.md
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
  docs/apim/4.12/terraform/README.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.4
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: clean up release notes
  docs/gko/4.12/.gitbook.yaml
  docs/gko/4.12/.version-overrides
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

docs: clean up release notes
  docs/gko/4.12/.gitbook.yaml
  docs/gko/4.12/.version-overrides
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

docs: add changelog for gko-4.12.4
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: clean up release notes
  docs/gko/4.12/.gitbook.yaml
  docs/gko/4.12/.version-overrides
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

docs: add changelog for gko-4.12.4
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

fix gko changelogs
  docs/gko/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix gko changelogs (#1916)
  docs/gko/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix gko changelogs (#1916)
  docs/gko/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers
