Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

docs: add changelog for gko-4.10.12
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: typo
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: typo
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: typo
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.14
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.14
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.14
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.6
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.6
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.6
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

[sync] gko: 4.11 → 4.12
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

fix: add AM 4.12 release notes to SUMMARY.md navigation
  docs/am/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix: restore dropped content, fix heading hierarchy and class name leakage (AM-6833 audit)
  docs/am/4.12/guides/auth-protocols/saml-2.0.md
Owners: @gravitee-io/tech-writers

Docs Update: am-6833
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/guides/auth-protocols/saml-2.0.md
  docs/am/4.12/guides/auth-protocols/saml-assertion-attribute-mapping-concepts.md
  docs/am/4.12/reference/saml-assertion-mapping-api-reference.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: am-6833
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/guides/auth-protocols/configure-saml-assertion-mappings-in-the-console.md
  docs/am/4.12/guides/auth-protocols/saml-2.0.md
  docs/am/4.12/guides/identity-providers/enterprise-identity-providers/saml-2.0.md
  docs/am/4.12/reference/application-saml-settings-api-schema-reference.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13472
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/reporter-settings-ui-for-native-apis-opentelemetry-section.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/enable-opentelemetry-tracing-for-a-kafka-api.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: cj-4155
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporters-prerequisites-and-gateway-configuration.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporters-restrictions-and-limitations.md
  docs/gravitee-cloud/4.12/.gitbook/assets/README.md
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-01.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-02.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-03.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-04.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-05.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-06.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-07.png
  docs/gravitee-cloud/creating-and-managing-custom-reporters.md
  docs/gravitee-cloud/custom-reporters-management-api-reference.md
  docs/gravitee-cloud/custom-reporters-overview.md
Owners: @gravitee-io/tech-writers

docs(opentelemetry): apply review feedback for Kafka native API tracing
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/reporter-settings-ui-for-native-apis-opentelemetry-section.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/enable-opentelemetry-tracing-for-a-kafka-api.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-13472 — OpenTelemetry Tracing for Kafka Native APIs [code+dev-prs] (#1512)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/reporter-settings-ui-for-native-apis-opentelemetry-section.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/enable-opentelemetry-tracing-for-a-kafka-api.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-13472 — OpenTelemetry Tracing for Kafka Native APIs [code+dev-prs] (#1512)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/reporter-settings-ui-for-native-apis-opentelemetry-section.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/enable-opentelemetry-tracing-for-a-kafka-api.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: cj-4155
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporters-gateway-configuration.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporters-overview.md
  docs/gravitee-cloud/4.12/.gitbook/assets/README.md
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-01.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-02.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-03.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-04.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-05.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-06.png
  docs/gravitee-cloud/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-07.png
  docs/gravitee-cloud/creating-and-managing-custom-reporters.md
  docs/gravitee-cloud/custom-reporters-management-api-reference.md
Owners: @gravitee-io/tech-writers

GITBOOK-69: addClear explnaition for the path parameters allowed for v4 APIs
  docs/apim/4.11/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
Owners: @gravitee-io/tech-writers

GITBOOK-69: addClear explnaition for the path parameters allowed for v4 APIs
  docs/apim/4.11/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
Owners: @gravitee-io/tech-writers

GITBOOK-70: Clear explnaition for the path parameters allowed for v4 APIs
  docs/apim/4.11/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
Owners: @gravitee-io/tech-writers

GITBOOK-70: Clear explnaition for the path parameters allowed for v4 APIs
  docs/apim/4.11/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
Owners: @gravitee-io/tech-writers

Document CSV reporter output columns for v2 and v4 APIs
  docs/apim/4.11/analyze-and-monitor-apis/reporters/README.md
Owners: @gravitee-io/tech-writers

fix vale: correct Elasticsearch casing and accept proxied/Kibana
  docs/apim/4.11/analyze-and-monitor-apis/reporters/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

fix vale: correct Elasticsearch casing and accept proxied/Kibana
  docs/apim/4.11/analyze-and-monitor-apis/reporters/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

fix vale: correct Elasticsearch casing and accept proxied/Kibana
  docs/apim/4.11/analyze-and-monitor-apis/reporters/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

Document CSV reporter output columns for v2 and v4 APIs
  docs/apim/4.11/analyze-and-monitor-apis/reporters/README.md
Owners: @gravitee-io/tech-writers

Document CSV reporter output columns for v2 and v4 APIs
  docs/apim/4.11/analyze-and-monitor-apis/reporters/README.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/analyze-and-monitor-apis/reporters/README.md
  docs/apim/4.12/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.33
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

[sync] apim: 4.11 → 4.12 (#1499)
  docs/apim/4.12/analyze-and-monitor-apis/reporters/README.md
  docs/apim/4.12/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1499)
  docs/apim/4.12/analyze-and-monitor-apis/reporters/README.md
  docs/apim/4.12/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] gko: 4.11 → 4.12 (#1508)
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

[sync] gko: 4.11 → 4.12 (#1508)
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

Docs Update: cj-4155
  docs/apim/4.12/.gitbook/assets/README.md
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-01.png
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-02.png
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-03.png
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-04.png
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-05.png
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-06.png
  docs/apim/4.12/.gitbook/assets/gravitee-cloud-custom-reporters-step-07.png
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporter-configuration-reference.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporters-management-api-reference.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/custom-reporters-overview.md
  docs/gravitee-cloud/.gitbook/assets/README.md
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-01.png
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-02.png
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-03.png
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-04.png
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-05.png
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-06.png
  docs/gravitee-cloud/.gitbook/assets/gravitee-cloud-custom-reporters-step-07.png
  docs/gravitee-cloud/creating-and-managing-custom-reporters.md
Owners: @gravitee-io/tech-writers

chore: remove auto-generated README stubs from .gitbook/assets/ dirs
  docs/apim/4.12/.gitbook/assets/README.md
  docs/gravitee-cloud/.gitbook/assets/README.md
Owners: @gravitee-io/tech-writers

chore: add SUMMARY.md navigation entries for custom reporters pages
  docs/apim/4.12/SUMMARY.md
  docs/gravitee-cloud/SUMMARY.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
