Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

docs: add changelog for gko-4.7.25
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: release notes 4.10.5
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: release notes 4.10.5
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: release notes 4.10.5
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.6
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

GITBOOK-282: Webhook entrypoint updates
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

GITBOOK-282: Webhook entrypoint updates
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.10.6
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.6
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

GITBOOK-283: 4.11: Webhook entrypoint updates
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

GITBOOK-283: 4.11: Webhook entrypoint updates
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

GITBOOK-284: Webhook entrypoint updates
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

GITBOOK-284: Webhook entrypoint updates
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

GITBOOK-285: No subject
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

GITBOOK-285: No subject
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/webhook.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.11
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.29
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

GITBOOK-280: update-docker-compose-on-federation-agent
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/edge-stack.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/solace.md
Owners: @gravitee-io/tech-writers

GITBOOK-280: update-docker-compose-on-federation-agent
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/edge-stack.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.10/govern-apis/federation/3rd-party-providers/solace.md
Owners: @gravitee-io/tech-writers

GITBOOK-19: update-docker-yaml-config-on-federation-4.9
  docs/apim/4.9/.gitbook/assets/image (38) (4) (1) (1) (1).png
  docs/apim/4.9/.gitbook/assets/image (56) (1).png
  docs/apim/4.9/.gitbook/assets/image (61) (1).png
  docs/apim/4.9/.gitbook/assets/image (62) (1).png
  docs/apim/4.9/.gitbook/assets/image (68) (1).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/edge-stack.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/solace.md
Owners: @gravitee-io/tech-writers

GITBOOK-19: update-docker-yaml-config-on-federation-4.9
  docs/apim/4.9/.gitbook/assets/image (38) (4) (1) (1) (1).png
  docs/apim/4.9/.gitbook/assets/image (56) (1).png
  docs/apim/4.9/.gitbook/assets/image (61) (1).png
  docs/apim/4.9/.gitbook/assets/image (62) (1).png
  docs/apim/4.9/.gitbook/assets/image (68) (1).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/edge-stack.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/solace.md
Owners: @gravitee-io/tech-writers

GITBOOK-281: important note about Gateway only loading the same AI Model once (instead of multiple times)
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/resources.md
  docs/apim/4.9/.gitbook/includes/untitled (1).md
Owners: @gravitee-io/tech-writers

GITBOOK-281: important note about Gateway only loading the same AI Model once (instead of multiple times)
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/resources.md
  docs/apim/4.9/.gitbook/includes/untitled (1).md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.22
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.11
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.11
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.22
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.22
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.29
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.29
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.2
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Docs Update: mTLS for Native Kafka APIs
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/configure-and-manage-the-platform/gravitee-gateway/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/mtls.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
  docs/apim/4.10/kafka-gateway/README.md
  docs/apim/4.10/kafka-gateway/configure-the-kafka-client-and-gateway.md
  docs/apim/4.10/kafka-gateway/plans.md
  docs/apim/4.10/readme/enterprise-edition.md
Owners: @gravitee-io/tech-writers

Docs Update: Kafka Multi-Endpoint Configuration with Tenant Management
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/configure-and-manage-the-platform/gravitee-gateway/tenants.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/endpoints/README.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/README.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/endpoints.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/policies.md
  docs/apim/4.10/management-api-reference.md
  docs/apim/4.10/prepare-a-production-environment/production-best-practices/general-recommendations/default-apim-settings.md
Owners: @gravitee-io/tech-writers

Docs Update: ai-semantic-caching-policy
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/agent-mesh/llm-proxy/proxy-your-llms.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/ai-semantic-caching.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/data-cache.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/resources.md
Owners: @gravitee-io/tech-writers

Docs Update: mTLS for Native Kafka APIs
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
  docs/apim/4.10/kafka-gateway/README.md
  docs/apim/4.10/kafka-gateway/configure-the-kafka-client-and-gateway.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/endpoints.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/create-kafka-apis.md
  docs/apim/4.10/kafka-gateway/plans.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.10/secure-and-expose-apis/plans/README.md
  docs/apim/4.10/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

Docs Update: mTLS for Native Kafka APIs
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/mtls.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
  docs/apim/4.10/kafka-gateway/configure-the-kafka-client-and-gateway.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/create-kafka-apis.md
  docs/apim/4.10/kafka-gateway/plans.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.10/secure-and-expose-apis/applications/global-settings.md
  docs/apim/4.10/secure-and-expose-apis/plans/README.md
Owners: @gravitee-io/tech-writers

Docs Update: mTLS for Native Kafka APIs
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/mtls.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
  docs/apim/4.10/kafka-gateway/configure-the-kafka-client-and-gateway.md
  docs/apim/4.10/kafka-gateway/plans.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.10/secure-and-expose-apis/applications/create-an-application.md
  docs/apim/4.10/secure-and-expose-apis/plans/README.md
  docs/apim/4.10/secure-and-expose-apis/plans/mtls.md
Owners: @gravitee-io/tech-writers

Docs Update: mTLS for Native Kafka APIs
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
  docs/apim/4.10/kafka-gateway/README.md
  docs/apim/4.10/kafka-gateway/configure-the-kafka-client-and-gateway.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/create-kafka-apis.md
  docs/apim/4.10/kafka-gateway/plans.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.10/secure-and-expose-apis/plans/README.md
  docs/apim/4.10/secure-and-expose-apis/plans/mtls.md
Owners: @gravitee-io/tech-writers

Docs Update: ai-semantic-caching-policy
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/agent-mesh/llm-proxy/proxy-your-llms.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/authentication-providers.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/ai-semantic-caching.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/data-cache.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/resources.md
  docs/apim/4.10/create-and-configure-apis/gravitee-api-definitions/execution-engine.md
  docs/apim/4.10/prepare-a-production-environment/cache.md
  docs/apim/4.10/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-semantic-caching.md
Owners: @gravitee-io/tech-writers

Docs Update: ai-semantic-caching-policy
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/agent-mesh/llm-proxy/proxy-your-llms.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/README.md
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/ai-semantic-caching.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/documentation.md
  docs/apim/4.10/gravitee-expression-language.md
  docs/apim/4.10/prepare-a-production-environment/production-best-practices/README.md
  docs/apim/4.10/readme/enterprise-edition.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
