Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

test commit
  docs/test-vale-good.md
Owners: @gravitee-io/tech-writers

test wrong spelllings
  .pre-commit-config.yaml
  docs/test-vale-bad.md
  vale/styles/config/vocabularies/docs/accept.txt
  vale/styles/config/vocabularies/docs/reject.txt
Owners: @gravitee-io/tech-writers

add updated test content and test cspell
  docs/test-bad.md
Owners: @gravitee-io/tech-writers

fix broken YAML frontmatter in GKO 4.11 release notes
  .vale.ini
  docs/gko/4.11/releases-and-changelog/release-notes/gko-4.10.md
  docs/gko/4.11/releases-and-changelog/release-notes/gko-4.11.md
Owners: @gravitee-io/tech-writers

add vale docs to test and update pre commit config
  .pre-commit-config.yaml
  docs/test-vale-bad.md
Owners: @gravitee-io/tech-writers

add comments in valeini workflow file
  .vale.ini
Owners: @gravitee-io/tech-writers

GITBOOK-319: fix-codeblock
  docs/apim/4.10/self-hosted-installation-guides/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-319: fix-codeblock
  docs/apim/4.10/self-hosted-installation-guides/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-320: change-code-block-to-bash
  docs/apim/4.10/self-hosted-installation-guides/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-320: change-code-block-to-bash
  docs/apim/4.10/self-hosted-installation-guides/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

docs: update hangelog for 4.10.7
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: update hangelog for 4.10.7
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

GITBOOK-321: EL tip to obtain the current date/time
  docs/apim/4.9/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

GITBOOK-321: EL tip to obtain the current date/time
  docs/apim/4.9/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.4
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Update docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Update docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.4
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Update docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Update docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Update docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

Update docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.4
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

GITBOOK-114: Datadog - add new config entry to support changeover of source attribute
  docs/apim/4.10/README.md
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/analyze-and-monitor-apis/reporters/datadog-reporter.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.9/analyze-and-monitor-apis/reporters/datadog-reporter.md
Owners: @gravitee-io/tech-writers

GITBOOK-114: Datadog - add new config entry to support changeover of source attribute
  docs/apim/4.10/README.md
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/analyze-and-monitor-apis/reporters/datadog-reporter.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.9/analyze-and-monitor-apis/reporters/datadog-reporter.md
Owners: @gravitee-io/tech-writers

GITBOOK-115: Added Helm values.yml examples
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/README.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/websocket.md
  docs/apim/4.10/prepare-a-production-environment/README.md
  docs/apim/4.10/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.10/secure-and-expose-apis/plans/mtls.md
  docs/apim/4.9/create-and-configure-apis/configure-v4-apis/entrypoints/websocket.md
  docs/apim/4.9/prepare-a-production-environment/configure-your-http-server.md
Owners: @gravitee-io/tech-writers

GITBOOK-115: Added Helm values.yml examples
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/README.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/entrypoints/websocket.md
  docs/apim/4.10/prepare-a-production-environment/README.md
  docs/apim/4.10/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.10/readme/enterprise-edition.md
  docs/apim/4.10/secure-and-expose-apis/plans/mtls.md
  docs/apim/4.9/create-and-configure-apis/configure-v4-apis/entrypoints/websocket.md
  docs/apim/4.9/prepare-a-production-environment/configure-your-http-server.md
Owners: @gravitee-io/tech-writers

GITBOOK-324: update-path-files
  docs/apim/4.10/create-and-configure-apis/apply-policies/v4-api-policy-studio.md
Owners: @gravitee-io/tech-writers

GITBOOK-324: update-path-files
  docs/apim/4.10/create-and-configure-apis/apply-policies/v4-api-policy-studio.md
Owners: @gravitee-io/tech-writers

GITBOOK-191: Update hints related to RedirectURI
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
  docs/apim/4.10/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
Owners: @gravitee-io/tech-writers

GITBOOK-191: Update hints related to RedirectURI
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
  docs/apim/4.10/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
Owners: @gravitee-io/tech-writers

GITBOOK-198: Added tooltip on why Users cannot see APIs in the APIM Console without having "write" permissions.
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/configure-and-manage-the-platform/README.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/applications.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/user-management.md
  docs/apim/4.10/create-and-configure-apis/configure-v2-apis/user-and-group-access.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/user-permissions.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/configuration.md
  docs/apim/4.10/prepare-a-production-environment/production-best-practices/authentication.md
  docs/apim/4.10/secure-and-expose-apis/applications/global-settings.md
  docs/apim/4.10/secure-and-expose-apis/applications/user-and-group-access.md
  docs/apim/4.10/secure-and-expose-apis/plans/README.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/user-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-198: Added tooltip on why Users cannot see APIs in the APIM Console without having "write" permissions.
  docs/apim/4.10/SUMMARY.md
  docs/apim/4.10/configure-and-manage-the-platform/README.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/applications.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/user-management.md
  docs/apim/4.10/create-and-configure-apis/configure-v2-apis/user-and-group-access.md
  docs/apim/4.10/create-and-configure-apis/configure-v4-apis/user-permissions.md
  docs/apim/4.10/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/configuration.md
  docs/apim/4.10/prepare-a-production-environment/production-best-practices/authentication.md
  docs/apim/4.10/secure-and-expose-apis/applications/global-settings.md
  docs/apim/4.10/secure-and-expose-apis/applications/user-and-group-access.md
  docs/apim/4.10/secure-and-expose-apis/plans/README.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/user-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-275: Added another JOLT example to the JSON-to-JSON Policy
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/json-to-json.md
Owners: @gravitee-io/tech-writers

GITBOOK-275: Added another JOLT example to the JSON-to-JSON Policy
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/json-to-json.md
Owners: @gravitee-io/tech-writers

GITBOOK-323: RBAC Policy - add further hints for configuration
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/role-based-access-control-rbac.md
Owners: @gravitee-io/tech-writers

GITBOOK-323: RBAC Policy - add further hints for configuration
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/role-based-access-control-rbac.md
Owners: @gravitee-io/tech-writers

GITBOOK-325: Scopes are not optional for OIDC
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
Owners: @gravitee-io/tech-writers

GITBOOK-325: Scopes are not optional for OIDC
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
Owners: @gravitee-io/tech-writers

Update compatibility-matrices.md - do-not-merge
  docs/am/4.10/overview/plugins/compatibility-matrices.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
