Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

Docs Update: apim-13473
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/create-and-configure-apis/create-apis/4.9-migrate-apis.md
  docs/apim/4.12/create-and-configure-apis/gravitee-api-definitions/v2-and-v4-api-comparison.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/api-products/api-product-analytics-prerequisites-and-restrictions.md
  docs/apim/4.12/v2-api-analytics-continuity-after-migration.md
Owners: @gravitee-io/tech-writers

Fix formatting and clarify Brownfield resources section
  docs/am/4.12/guides/automation-api.md
Owners: @gravitee-io/tech-writers

Update Automation API documentation for resource ownership
  docs/am/4.12/guides/automation-api.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: AM-6850 — Declarative Access Management [code+dev-prs] (#1718)
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/getting-started/configuration/configure-am-api/README.md
  docs/am/4.12/getting-started/configuration/configure-automation-api.md
  docs/am/4.12/guides/automation-api.md
  docs/am/4.12/reference/automation-api-reference.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: AM-6850 — Declarative Access Management [code+dev-prs] (#1718)
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/getting-started/configuration/configure-am-api/README.md
  docs/am/4.12/getting-started/configuration/configure-automation-api.md
  docs/am/4.12/guides/automation-api.md
  docs/am/4.12/reference/automation-api-reference.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14127 — Cron Schedule Frequency Limits [code+dev-prs] (#1564)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/services.md
  docs/apim/4.12/configure-and-manage-the-platform/management-api/cron-schedule-frequency-limits.md
  docs/apim/4.12/developer-portal/classic-developer-portal/api-documentation.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14127 — Cron Schedule Frequency Limits [code+dev-prs] (#1564)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/services.md
  docs/apim/4.12/configure-and-manage-the-platform/management-api/cron-schedule-frequency-limits.md
  docs/apim/4.12/developer-portal/classic-developer-portal/api-documentation.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

docs(ssl-enforcement): remove duplicate immediate-issuer note in issuer whitelist
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
Owners: @gravitee-io/tech-writers

feat: automate version sync override maintenance and pruning
  .github/scripts/lint_overrides.py
  .github/scripts/prune_overrides.py
  .github/workflows/lint-overrides.yml
  .github/workflows/version-sync.yml
  docs/am/4.11/.version-overrides
  docs/apim/4.11/.version-overrides
  docs/apim/4.12/.version-overrides
  docs/gko/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

feat: automate version sync override maintenance and pruning
  .github/scripts/lint_overrides.py
  .github/scripts/prune_overrides.py
  .github/workflows/lint-overrides.yml
  .github/workflows/version-sync.yml
  docs/am/4.11/.version-overrides
  docs/apim/4.11/.version-overrides
  docs/apim/4.12/.version-overrides
  docs/gko/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/upgrade-guides/README.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12
  docs/am/4.12/getting-started/configuration/configure-am-api/README.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

docs(ssl-enforcement): reword issuer-whitelist notes to user-facing terms (drop policy-construction/JDK internals)
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
Owners: @gravitee-io/tech-writers

fix: protect 4.12-specific upgrade guide link
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

fix: protect 4.12-specific upgrade guide link
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

fix: manually prune dead override link
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

fix: manually prune dead override link
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

fix: restore accidentally deleted agent-mesh directory block
  docs/apim/4.11/.version-overrides
Owners: @gravitee-io/tech-writers

fix: restore accidentally deleted agent-mesh directory block
  docs/apim/4.11/.version-overrides
Owners: @gravitee-io/tech-writers

feat: add --dry-run flag to prune_overrides.py to prevent accidental deletions
  .github/scripts/prune_overrides.py
Owners: @gravitee-io/tech-writers

feat: add --dry-run flag to prune_overrides.py to prevent accidental deletions
  .github/scripts/prune_overrides.py
Owners: @gravitee-io/tech-writers

Update docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14474 — SSL Enforcement Policy - Issuer Whitelist [code+dev-prs] (#1777)
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14474 — SSL Enforcement Policy - Issuer Whitelist [code+dev-prs] (#1777)
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1773)
  docs/am/4.12/getting-started/configuration/configure-am-api/README.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

[sync] am: 4.11 → 4.12 (#1773)
  docs/am/4.12/getting-started/configuration/configure-am-api/README.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

chore: add changelog for 4.8.39 (#1687)
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.39 (#1687)
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.23 (#1686)
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.23 (#1686)
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.7 (#1685)
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.7 (#1685)
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.14 (#1684)
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.14 (#1684)
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

[sync] am: 4.11 → 4.12
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

Docs Update: apim-14120
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/govern-apis/federation/federated-apis.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1779)
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

[sync] am: 4.11 → 4.12 (#1779)
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

docs(redis): update supported redis version for ratelimit
  docs/apim/4.10/prepare-a-production-environment/repositories/redis.md
  docs/apim/4.11/prepare-a-production-environment/repositories/redis.md
  docs/apim/4.12/prepare-a-production-environment/repositories/redis.md
  docs/apim/4.7/configure-apim/repositories/redis.md
  docs/apim/4.8/prepare-a-production-environment/repositories/redis.md
  docs/apim/4.9/prepare-a-production-environment/repositories/redis.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
