Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

chore: add changelog for 4.11.3
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.3
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

[sync] am: 4.11 → 4.12
  docs/am/4.12/overview/plugins/plugin-reference.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

chore: add changelog for 4.8.32
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.32
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.19
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.19
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

Docs Update: apim-13822 (#1469)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/4.9-jwt-validator.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/plans/jwt.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13822 (#1469)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/4.9-jwt-validator.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/plans/jwt.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1482)
  docs/apim/4.12/plugins/plugin-reference.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1482)
  docs/apim/4.12/plugins/plugin-reference.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1483)
  docs/am/4.12/overview/plugins/plugin-reference.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

[sync] am: 4.11 → 4.12 (#1483)
  docs/am/4.12/overview/plugins/plugin-reference.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

Remove standalone gateway setup instructions
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/deploying-the-hazelcast-rate-limit-repository-with-helm-and-kubernetes-discovery.md
Owners: @gravitee-io/tech-writers

Enhance documentation for standalone gateway setup
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/configuring-the-hazelcast-rate-limit-repository-for-standalone-gateways.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-13752 — Hazelcast Rate-Limit Repository [code+dev-prs] (#1481)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/configuring-the-hazelcast-rate-limit-repository-for-standalone-gateways.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/deploying-the-hazelcast-rate-limit-repository-with-helm-and-kubernetes-discovery.md
  docs/apim/4.12/prepare-a-production-environment/repositories/README.md
  docs/apim/4.12/prepare-a-production-environment/repositories/hazelcast-rate-limit-repository-overview-and-key-concepts.md
  docs/apim/4.12/prepare-a-production-environment/repositories/hazelcast-rate-limit-repository-restrictions-and-known-limitations.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-13752 — Hazelcast Rate-Limit Repository [code+dev-prs] (#1481)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/configuring-the-hazelcast-rate-limit-repository-for-standalone-gateways.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/deploying-the-hazelcast-rate-limit-repository-with-helm-and-kubernetes-discovery.md
  docs/apim/4.12/prepare-a-production-environment/repositories/README.md
  docs/apim/4.12/prepare-a-production-environment/repositories/hazelcast-rate-limit-repository-overview-and-key-concepts.md
  docs/apim/4.12/prepare-a-production-environment/repositories/hazelcast-rate-limit-repository-restrictions-and-known-limitations.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

added information about ES support
  docs/apim/4.9/prepare-a-production-environment/repositories/elasticsearch.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

added information about ES support (#1490)
  docs/apim/4.9/prepare-a-production-environment/repositories/elasticsearch.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

added information about ES support (#1490)
  docs/apim/4.9/prepare-a-production-environment/repositories/elasticsearch.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-66: make-docker-compose-guide-better
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-66: make-docker-compose-guide-better
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

Use :latest-debian for self-hosted images and <add_the_gateway_tag> placeholder for hybrid pages
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

update the image tags docs
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.11/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

Use :latest-debian for self-hosted images and <add_the_gateway_tag> placeholder for hybrid pages
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

Use :latest-debian for self-hosted images and <add_the_gateway_tag> placeholder for hybrid pages
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

update the image tags docs
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.11/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

update the image tags docs
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.11/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.12/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.12/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: Full example of configuring a self-hosted Gravitee APIM with K8s Gateway API
  docs/gko/4.11/.gitbook/assets/GatewayAPI-Configure-With-APIM-Flow.png
  docs/gko/4.11/.gitbook/assets/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api-request-flow.png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
  docs/gko/4.11/.gitbook/assets/image (1).png
  docs/gko/4.11/.gitbook/assets/image.png
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.11/guides/export-an-api-as-a-kubernetes-manifest.md
  docs/gko/4.11/guides/gateway-api/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api.md
  docs/gko/4.11/guides/manage-api-groups-and-members.md
  docs/gko/4.11/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: Full example of configuring a self-hosted Gravitee APIM with K8s Gateway API
  docs/gko/4.11/.gitbook/assets/GatewayAPI-Configure-With-APIM-Flow.png
  docs/gko/4.11/.gitbook/assets/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api-request-flow.png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.11/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
  docs/gko/4.11/.gitbook/assets/image (1).png
  docs/gko/4.11/.gitbook/assets/image.png
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.11/guides/export-an-api-as-a-kubernetes-manifest.md
  docs/gko/4.11/guides/gateway-api/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api.md
  docs/gko/4.11/guides/manage-api-groups-and-members.md
  docs/gko/4.11/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

GITBOOK-9: update-images-with-proper-naming
  docs/gko/4.11/.gitbook/assets/kubertenes-gateway-api-integration-tooling.png
  docs/gko/4.11/.gitbook/assets/request-flow-kubernetes-cluster-http-route.png
  docs/gko/4.11/guides/gateway-api/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api.md
Owners: @gravitee-io/tech-writers

GITBOOK-9: update-images-with-proper-naming
  docs/gko/4.11/.gitbook/assets/kubertenes-gateway-api-integration-tooling.png
  docs/gko/4.11/.gitbook/assets/request-flow-kubernetes-cluster-http-route.png
  docs/gko/4.11/guides/gateway-api/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1491)
  docs/apim/4.12/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.12/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.12/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1491)
  docs/apim/4.12/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.12/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.12/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.12/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

[sync] gko: 4.11 → 4.12 (#1492)
  docs/gko/4.12/.gitbook/assets/GatewayAPI-Configure-With-APIM-Flow.png
  docs/gko/4.12/.gitbook/assets/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api-request-flow.png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
  docs/gko/4.12/.gitbook/assets/image (1).png
  docs/gko/4.12/.gitbook/assets/image.png
  docs/gko/4.12/.gitbook/assets/kubertenes-gateway-api-integration-tooling.png
  docs/gko/4.12/.gitbook/assets/request-flow-kubernetes-cluster-http-route.png
  docs/gko/4.12/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.12/guides/export-an-api-as-a-kubernetes-manifest.md
  docs/gko/4.12/guides/gateway-api/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api.md
  docs/gko/4.12/guides/manage-api-groups-and-members.md
  docs/gko/4.12/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

[sync] gko: 4.11 → 4.12 (#1492)
  docs/gko/4.12/.gitbook/assets/GatewayAPI-Configure-With-APIM-Flow.png
  docs/gko/4.12/.gitbook/assets/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api-request-flow.png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.12/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
  docs/gko/4.12/.gitbook/assets/image (1).png
  docs/gko/4.12/.gitbook/assets/image.png
  docs/gko/4.12/.gitbook/assets/kubertenes-gateway-api-integration-tooling.png
  docs/gko/4.12/.gitbook/assets/request-flow-kubernetes-cluster-http-route.png
  docs/gko/4.12/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.12/guides/export-an-api-as-a-kubernetes-manifest.md
  docs/gko/4.12/guides/gateway-api/full-example-of-configuring-self-hosted-gravitee-apim-with-k8s-gateway-api.md
  docs/gko/4.12/guides/manage-api-groups-and-members.md
  docs/gko/4.12/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

GITBOOK-67: update-docs-on-executin-transparency-analytics
  docs/apim/4.11/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/apim-console.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/smtp-configuration.md
Owners: @gravitee-io/tech-writers

GITBOOK-67: update-docs-on-executin-transparency-analytics
  docs/apim/4.11/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/apim-console.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/smtp-configuration.md
Owners: @gravitee-io/tech-writers

GITBOOK-68: add helm values and env to retry strategy to deployment method
  docs/apim/4.11/secure-and-expose-apis/plans/push.md
Owners: @gravitee-io/tech-writers
