Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

gitbook[cr-33]: Add details for DataSource in 4.6
  docs/am/4.6/.gitbook/assets/image (5).png
  docs/am/4.6/.gitbook/assets/image (6).png
  docs/am/4.6/guides/auth-protocols/uma-2.0.md
  docs/am/4.6/guides/identity-providers/database-identity-providers/mongodb.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.6.26
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.20
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.15
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.8
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for 4.8.x and 4.9.x
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

GITBOOK-181: fix-self-host-guides-env-path
  docs/apim/4.9/getting-started/vanilla-kubernetes.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-181: fix-self-host-guides-env-path
  docs/apim/4.9/getting-started/vanilla-kubernetes.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

docs: add changelog for 4.8.x and 4.9.x
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for 4.8.x and 4.9.x
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

GITBOOK-2: No subject
  trial-runs/.gitbook/assets/C59621FB-6019-478F-BEB5-65646363CD72_1_201_a.jpeg
  trial-runs/.gitbook/assets/image (1) (1).png
  trial-runs/.gitbook/assets/image (1).png
  trial-runs/.gitbook/assets/image (2).png
  trial-runs/.gitbook/assets/image (3).png
  trial-runs/.gitbook/assets/image.png
  trial-runs/README.md
  trial-runs/SUMMARY.md
  trial-runs/configure-authentication-with-sso.md
  trial-runs/configure-authentication-with-sso.peer-reviewed.md
  trial-runs/enforce-user-authentication.md
Owners: @gravitee-io/tech-writers

GITBOOK-2: No subject
  trial-runs/.gitbook/assets/C59621FB-6019-478F-BEB5-65646363CD72_1_201_a.jpeg
  trial-runs/.gitbook/assets/image (1) (1).png
  trial-runs/.gitbook/assets/image (1).png
  trial-runs/.gitbook/assets/image (2).png
  trial-runs/.gitbook/assets/image (3).png
  trial-runs/.gitbook/assets/image.png
  trial-runs/README.md
  trial-runs/SUMMARY.md
  trial-runs/configure-authentication-with-sso.md
  trial-runs/configure-authentication-with-sso.peer-reviewed.md
  trial-runs/enforce-user-authentication.md
Owners: @gravitee-io/tech-writers

new review
  trial-runs/enforce-user-authentication.change-log.md
  trial-runs/enforce-user-authentication.peer-reviewed.md
  trial-runs/enforce-user-authentication.suggestions.md
Owners: @gravitee-io/tech-writers

new review
  trial-runs/enforce-user-authentication.change-log.md
  trial-runs/enforce-user-authentication.peer-reviewed.md
  trial-runs/enforce-user-authentication.suggestions.md
Owners: @gravitee-io/tech-writers

update summary file
  trial-runs/SUMMARY.md
Owners: @gravitee-io/tech-writers

update summary file
  trial-runs/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-184: fix-broken-urls
  docs/apim/4.9/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-184: fix-broken-urls
  docs/apim/4.9/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: fix-broken-urls-and-code-blocks
  docs/gko/4.9/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: fix-broken-urls-and-code-blocks
  docs/gko/4.9/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

GITBOOK-183: update-the-compatibility-table
  docs/apim/4.9/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-183: update-the-compatibility-table
  docs/apim/4.9/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.6
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.24
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.16
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.24
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.24
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.16
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.16
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.6
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.6
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.27
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.27
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.21
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.21
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.16
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.16
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.9
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.9
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

tidy figures
  docs/am/4.1/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/4.2/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/4.2/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.3/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.4/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.5/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/4.5/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.6/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.7/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.9/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/draft-4.10/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/apim/4.1/getting-started/configuration/authentication-and-sso.md
  docs/apim/4.2/getting-started/configuration/authentication.md
  docs/apim/4.8/govern-apis/api-score/types-of-assets.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
