Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

gitbook[cr-127]: sync-cloud-promote-with-apim-docs
  docs/gravitee-cloud/guides/promote-apis.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.10
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.28
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.20
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.10
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.10
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.28
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.28
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

gitbook[cr-125]: add Dublin region for AWS SaaS Gateway hosting
  docs/gravitee-cloud/reference/geography-and-provider-support.md
Owners: @gravitee-io/tech-writers

gitbook[cr-125]: add Dublin region for AWS SaaS Gateway hosting
  docs/gravitee-cloud/reference/geography-and-provider-support.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.20
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.20
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.1
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.1
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.1
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.32
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.32
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.32
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.12
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.12
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.19
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.19
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.3
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.3
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.24
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.24
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.7.24
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.19
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.24
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.24
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.19
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.19
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.12
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.12
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.12
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.3
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

GITBOOK-9: system-error-return
  docs/gko/4.10/guides/manage-api-groups-and-members.md
Owners: @gravitee-io/tech-writers

GITBOOK-9: system-error-return
  docs/gko/4.10/guides/manage-api-groups-and-members.md
Owners: @gravitee-io/tech-writers

GITBOOK-30: IDP responseMode 4.7
  docs/am/4.7/guides/identity-providers/social-identity-providers/azure-ad.md
  docs/am/4.7/guides/identity-providers/social-identity-providers/openid-connect.md
Owners: @gravitee-io/tech-writers

GITBOOK-30: IDP responseMode 4.7
  docs/am/4.7/guides/identity-providers/social-identity-providers/azure-ad.md
  docs/am/4.7/guides/identity-providers/social-identity-providers/openid-connect.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
