Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

chore: add changelog for 4.7.22
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.6.28
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.6.28
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.7.22
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.7.22
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.17
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.17
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.10
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.10
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.29
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.25
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.17
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.7
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.29
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.29
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.25
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.25
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.17
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.17
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.7
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.7
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

docs: add changelog for gko-4.6.27
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.27
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.27
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.28
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.28
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.28
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.21
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.21
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.21
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.22
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.22
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.22
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.16
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.16
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.16
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.17
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.17
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.17
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.9
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko
