Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

import placeholders
  docs/blackbird/placeholder.md
  docs/edge-stack/placeholder.md
  docs/telepresence/placeholder.md
Owners: @gravitee-io/tech-writers

GITBOOK-350: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-350: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-351: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-351: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.6
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.6
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.5.25
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.5.25
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.5.25
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.5.24
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.5.24
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.5.24
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.18
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.18
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.18
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.12
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.12
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.4
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.4
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.19
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.19
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.19
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.13
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.5
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.13
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.13
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.5
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.5
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.6
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.6
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.6
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

GITBOOK-355: Kafka attributes for use with the Assign Attributes policy
  docs/apim/4.8/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
Owners: @gravitee-io/tech-writers

GITBOOK-355: Kafka attributes for use with the Assign Attributes policy
  docs/apim/4.8/create-and-configure-apis/configure-v4-apis/endpoints/kafka.md
Owners: @gravitee-io/tech-writers

GITBOOK-356: No subject
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/README.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/README.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
Owners: @gravitee-io/tech-writers

GITBOOK-356: No subject
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/README.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/README.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
Owners: @gravitee-io/tech-writers

Update spellcheck-ignore.txt
  .github/spellcheck-ignore.txt
Owners: @gravitee-io/tech-writers

Update spellcheck-ignore.txt
  .github/spellcheck-ignore.txt
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.20
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.20
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am
