Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

GITBOOK-21: Updates to HTTP server
  docs/am/4.9/getting-started/configuration/configure-am-gateway/README.md
  docs/am/4.9/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
Owners: @gravitee-io/tech-writers

Update docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

Update docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

Add 'aks' and 'als' to spellcheck ignore list
  .github/spellcheck-ignore.txt
Owners: @gravitee-io/tech-writers

Add 'aks' and 'als' to spellcheck ignore list
  .github/spellcheck-ignore.txt
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.11
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.11
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.2
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.2
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-57: Updates to New Developer Portal section
  docs/apim/4.9/.gitbook/assets/image (436).png
  docs/apim/4.9/.gitbook/assets/image (437).png
  docs/apim/4.9/.gitbook/assets/image (438).png
  docs/apim/4.9/.gitbook/assets/image (439).png
  docs/apim/4.9/.gitbook/assets/image (440).png
  docs/apim/4.9/.gitbook/assets/image (441).png
  docs/apim/4.9/.gitbook/assets/image (442).png
  docs/apim/4.9/.gitbook/assets/image (443).png
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/developer-portal/new-developer-portal/configure-the-new-portal.md
Owners: @gravitee-io/tech-writers

GITBOOK-57: Updates to New Developer Portal section
  docs/apim/4.9/.gitbook/assets/image (436).png
  docs/apim/4.9/.gitbook/assets/image (437).png
  docs/apim/4.9/.gitbook/assets/image (438).png
  docs/apim/4.9/.gitbook/assets/image (439).png
  docs/apim/4.9/.gitbook/assets/image (440).png
  docs/apim/4.9/.gitbook/assets/image (441).png
  docs/apim/4.9/.gitbook/assets/image (442).png
  docs/apim/4.9/.gitbook/assets/image (443).png
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/developer-portal/new-developer-portal/configure-the-new-portal.md
Owners: @gravitee-io/tech-writers

docs(gko): fix various typos for 4.10
  docs/gko/4.10/guides/templating.md
  docs/gko/4.10/overview/custom-resource-definitions/README.md
  docs/gko/4.10/overview/custom-resource-definitions/sharedpolicygroup.md
Owners: @gravitee-io/tech-writers

docs: rephrase rbac install guide
  docs/gko/4.10/getting-started/installation/rbac-customization.md
Owners: @gravitee-io/tech-writers

docs(gko): fix additional typo in rbac guide
  docs/gko/4.10/getting-started/installation/rbac-customization.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko TrustStore
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/guides/gko-truststore.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko proxy
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/guides/gko-http-client.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko proxy
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/guides/gko-http-client.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko proxy
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/guides/gko-http-client.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko TrustStore
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/guides/gko-truststore.md
Owners: @gravitee-io/tech-writers

docs(gko): fix various typos for 4.10
  docs/gko/4.10/guides/templating.md
  docs/gko/4.10/overview/custom-resource-definitions/README.md
  docs/gko/4.10/overview/custom-resource-definitions/sharedpolicygroup.md
Owners: @gravitee-io/tech-writers

docs: rephrase rbac install guide
  docs/gko/4.10/getting-started/installation/rbac-customization.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko TrustStore
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/guides/gko-truststore.md
Owners: @gravitee-io/tech-writers

docs(gko): fix additional typo in rbac guide
  docs/gko/4.10/getting-started/installation/rbac-customization.md
Owners: @gravitee-io/tech-writers

docs(gko): fix additional typo in rbac guide
  docs/gko/4.10/getting-started/installation/rbac-customization.md
Owners: @gravitee-io/tech-writers

docs: rephrase rbac install guide
  docs/gko/4.10/getting-started/installation/rbac-customization.md
Owners: @gravitee-io/tech-writers

docs(gko): fix various typos for 4.10
  docs/gko/4.10/guides/templating.md
  docs/gko/4.10/overview/custom-resource-definitions/README.md
  docs/gko/4.10/overview/custom-resource-definitions/sharedpolicygroup.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.9.1
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.2
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.1
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.1
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.10
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.10
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.10
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

fix: remove transfer-ownership
  docs/apim/4.9/.gitbook/assets/transfer ownership.png
Owners: @gravitee-io/tech-writers

docs(gko): generate changelog for 4.9.2
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.11
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.17
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.23
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.23
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.23
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko
