Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs: add changelog for gko-4.10.31
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.28
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.28
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.20
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.20
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs(ESM-27): document Message APIs in Event Stream Management
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-broadcasts.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-create-entrypoints.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-endpoints.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-entrypoints.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-overview.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-plans.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-api-policy-studio.png
  docs/gamma/4.13/event-stream-management/.gitbook/assets/gamma-esm-message-apis-list.png
  docs/gamma/4.13/event-stream-management/SUMMARY.md
  docs/gamma/4.13/event-stream-management/build/README.md
  docs/gamma/4.13/event-stream-management/build/message-apis/README.md
  docs/gamma/4.13/event-stream-management/build/message-apis/broadcast-messages-to-consumers.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-alerts.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-api-metadata.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-api-properties.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-cors.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-endpoints-and-failover.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-entrypoints.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-notifications.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-reporter-settings.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-resources.md
  docs/gamma/4.13/event-stream-management/build/message-apis/configure-response-templates.md
  docs/gamma/4.13/event-stream-management/build/message-apis/create-a-message-api.md
  docs/gamma/4.13/event-stream-management/build/message-apis/design-flows-in-the-policy-studio.md
  docs/gamma/4.13/event-stream-management/build/message-apis/follow-the-setup-checklist.md
  docs/gamma/4.13/event-stream-management/build/message-apis/limitations-and-considerations.md
  docs/gamma/4.13/event-stream-management/build/message-apis/manage-general-settings.md
  docs/gamma/4.13/event-stream-management/build/message-apis/manage-plans.md
  docs/gamma/4.13/event-stream-management/build/message-apis/manage-subscriptions.md
  docs/gamma/4.13/event-stream-management/build/message-apis/manage-user-permissions.md
  docs/gamma/4.13/event-stream-management/build/message-apis/publish-and-review-a-message-api.md
  docs/gamma/4.13/event-stream-management/build/message-apis/review-audit-logs.md
  docs/gamma/4.13/event-stream-management/build/message-apis/review-the-api-score.md
  docs/gamma/4.13/event-stream-management/build/message-apis/start-stop-and-deploy-a-message-api.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gko): document drift detection for GKO 4.13 (GKO-1025)
  docs/gko/4.13/.version-overrides
  docs/gko/4.13/SUMMARY.md
  docs/gko/4.13/getting-started/installation/install-with-helm.md
  docs/gko/4.13/overview/admission-validation.md
  docs/gko/4.13/overview/drift-detection.md
  docs/gko/4.13/releases-and-changelog/release-notes/gko-4.13.md
Owners: @gravitee-io/tech-writers

docs(gko): state that drift detection skips the deprecated portal navigation (GKO-1025)
  docs/gko/4.13/overview/drift-detection.md
  docs/gko/4.13/releases-and-changelog/release-notes/gko-4.13.md
Owners: @gravitee-io/tech-writers

docs(gko): state that drift detection skips the deprecated portal navigation (GKO-1025)
  docs/gko/4.13/overview/drift-detection.md
  docs/gko/4.13/releases-and-changelog/release-notes/gko-4.13.md
Owners: @gravitee-io/tech-writers

docs(gko): document drift detection for GKO 4.13 (GKO-1025)
  docs/gko/4.13/.version-overrides
  docs/gko/4.13/SUMMARY.md
  docs/gko/4.13/getting-started/installation/install-with-helm.md
  docs/gko/4.13/overview/admission-validation.md
  docs/gko/4.13/overview/drift-detection.md
  docs/gko/4.13/releases-and-changelog/release-notes/gko-4.13.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.42
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.42
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

docs(ESM-102): tighten the Observability pages and fix the dashboards contradiction
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/diagnose-a-failed-kafka-connection.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
  docs/gamma/4.13/event-stream-management/observability/view-observability-dashboards.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): drop the internal term "verdict" from the Kafka connection detail
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/diagnose-a-failed-kafka-connection.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): use only the console's own words and restore the Verification sections
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/diagnose-a-failed-kafka-connection.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
  docs/gamma/4.13/event-stream-management/observability/view-observability-dashboards.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): document AI Workspace spend and the workspace dashboard (AIAM-295)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/SUMMARY.md
  docs/gamma/4.13/agent-management/build/ai-workspaces/README.md
  docs/gamma/4.13/agent-management/build/assign-users-to-an-ai-workspace.md
  docs/gamma/4.13/agent-management/build/track-ai-workspace-spend.md
  docs/gamma/4.13/agent-management/observe/dashboards/README.md
  docs/gamma/4.13/agent-management/observe/monitor-your-ai-workspaces.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): add AI Workspace spend and dashboard screenshots (AIAM-295)
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-overview-dashboard.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-overview-key-metrics.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-spend-user-panel.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-spend-users.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-spend.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-users-list.png
  docs/gamma/4.13/agent-management/build/assign-users-to-an-ai-workspace.md
  docs/gamma/4.13/agent-management/build/track-ai-workspace-spend.md
  docs/gamma/4.13/agent-management/observe/monitor-your-ai-workspaces.md
Owners: @gravitee-io/tech-writers

docs(gamma): add AI Workspace spend and dashboard screenshots (AIAM-295)
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-overview-dashboard.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-overview-key-metrics.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-spend-user-panel.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-spend-users.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-spend.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-workspace-users-list.png
  docs/gamma/4.13/agent-management/build/assign-users-to-an-ai-workspace.md
  docs/gamma/4.13/agent-management/build/track-ai-workspace-spend.md
  docs/gamma/4.13/agent-management/observe/monitor-your-ai-workspaces.md
Owners: @gravitee-io/tech-writers

docs(gamma): document AI Workspace spend and the workspace dashboard (AIAM-295)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/SUMMARY.md
  docs/gamma/4.13/agent-management/build/ai-workspaces/README.md
  docs/gamma/4.13/agent-management/build/assign-users-to-an-ai-workspace.md
  docs/gamma/4.13/agent-management/build/track-ai-workspace-spend.md
  docs/gamma/4.13/agent-management/observe/dashboards/README.md
  docs/gamma/4.13/agent-management/observe/monitor-your-ai-workspaces.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(apim-4.13): address review on subscription forms (PORTAL-4)
  docs/apim/4.13/secure-and-expose-apis/subscriptions/creating-and-managing-subscription-forms.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/subscription-form-feature-overview.md
Owners: @gravitee-io/tech-writers

docs(apim-4.13): document multiple subscription forms (PORTAL-4)
  docs/apim/4.13/.gitbook/assets/subscription-forms-assign-apis.png
  docs/apim/4.13/.gitbook/assets/subscription-forms-catalog.png
  docs/apim/4.13/.gitbook/assets/subscription-forms-console-portal-settings.png
  docs/apim/4.13/.gitbook/assets/subscription-forms-portal-checkout.png
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/developer-portal/new-developer-portal/subscription-form-technical-implementation.md
  docs/apim/4.13/release-information/breaking-changes-and-deprecations.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/README.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/creating-and-managing-subscription-forms.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/subscription-form-feature-overview.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): correct the Message API warning and what it gates
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): say the logs open on the last 5 minutes
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): correct when the Observability group disappears
  docs/gamma/4.13/event-stream-management/observability/README.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): introduce Message APIs in the module overview
  docs/gamma/4.13/event-stream-management/get-started/event-stream-management-overview.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): document the detail of a Message API row
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/SUMMARY.md
  docs/gamma/4.13/event-stream-management/observability/inspect-a-message-api-request.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): document what a trace contains, and how to get one
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): add the Reporter Settings page the section keeps pointing at
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/SUMMARY.md
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/configure-reporter-settings.md
  docs/gamma/4.13/event-stream-management/observability/inspect-a-message-api-request.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
Owners: @gravitee-io/tech-writers

docs(gamma): say interception mode is available on the 4.12 Claude Code Edge Daemon page (DOC-1941)
  docs/gamma/4.12/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

docs(gamma): say interception mode is available on the 4.12 Claude Code Edge Daemon page (DOC-1941)
  docs/gamma/4.12/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): answer the review, and bring the new pages in line with the style rules
  docs/gamma/4.13/event-stream-management/observability/configure-reporter-settings.md
  docs/gamma/4.13/event-stream-management/observability/inspect-a-message-api-request.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
Owners: @gravitee-io/tech-writers

docs(apim-4.13): document multiple subscription forms (PORTAL-4)
  docs/apim/4.13/.gitbook/assets/subscription-forms-assign-apis.png
  docs/apim/4.13/.gitbook/assets/subscription-forms-catalog.png
  docs/apim/4.13/.gitbook/assets/subscription-forms-console-portal-settings.png
  docs/apim/4.13/.gitbook/assets/subscription-forms-portal-checkout.png
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/developer-portal/new-developer-portal/subscription-form-technical-implementation.md
  docs/apim/4.13/release-information/breaking-changes-and-deprecations.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/README.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/creating-and-managing-subscription-forms.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/subscription-form-feature-overview.md
Owners: @gravitee-io/tech-writers

docs(apim-4.13): address review on subscription forms (PORTAL-4)
  docs/apim/4.13/secure-and-expose-apis/subscriptions/creating-and-managing-subscription-forms.md
  docs/apim/4.13/secure-and-expose-apis/subscriptions/subscription-form-feature-overview.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): correct the Message API warning and what it gates
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): document the Event Stream Management Observability section
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/SUMMARY.md
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/diagnose-a-failed-kafka-connection.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
  docs/gamma/4.13/event-stream-management/observability/view-observability-dashboards.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): document the detail of a Message API row
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/SUMMARY.md
  docs/gamma/4.13/event-stream-management/observability/inspect-a-message-api-request.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): add the Observability screenshots for Logs, log detail, and Dashboards
  docs/gamma/4.13/.gitbook/assets/esm-observability-dashboards.png
  docs/gamma/4.13/.gitbook/assets/esm-observability-log-detail.png
  docs/gamma/4.13/.gitbook/assets/esm-observability-logs.png
  docs/gamma/4.13/event-stream-management/observability/diagnose-a-failed-kafka-connection.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
  docs/gamma/4.13/event-stream-management/observability/view-observability-dashboards.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): add the Reporter Settings page the section keeps pointing at
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/SUMMARY.md
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/configure-reporter-settings.md
  docs/gamma/4.13/event-stream-management/observability/inspect-a-message-api-request.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): use only the console's own words and restore the Verification sections
  docs/gamma/4.13/event-stream-management/observability/README.md
  docs/gamma/4.13/event-stream-management/observability/diagnose-a-failed-kafka-connection.md
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
  docs/gamma/4.13/event-stream-management/observability/view-connection-logs.md
  docs/gamma/4.13/event-stream-management/observability/view-observability-dashboards.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(ESM-102): document what a trace contains, and how to get one
  docs/gamma/4.13/event-stream-management/observability/trace-requests.md
Owners: @gravitee-io/tech-writers
