Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

docs: runtime diagnostics batch across five support-driven tickets
  docs/am/4.11/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/apim/4.11/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.11/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.11/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.12/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/secure-and-expose-apis/plans/api-key.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
  docs/apim/4.12/terraform/README.md
Owners: @gravitee-io/tech-writers

docs: support quick wins, policy list fixes, and 4.9- filename cleanup
  docs/apim/4.11/.gitbook.yaml
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/analyze-and-monitor-apis/dashboards/README.md
  docs/apim/4.11/analyze-and-monitor-apis/dashboards/api-proxy-dashboard.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/README.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/groovy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/jwt-validator.md
  docs/apim/4.11/create-and-configure-apis/create-apis/migrate-apis.md
  docs/apim/4.11/expose-apim-as-an-mcp-server.md
  docs/apim/4.11/how-to-guides/use-case-tutorials/implement-bff-pattern-with-a-shared-policy-group.md
  docs/apim/4.11/plugins/plugin-reference.md
  docs/apim/4.12/.gitbook.yaml
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/dashboards/README.md
  docs/apim/4.12/analyze-and-monitor-apis/dashboards/api-proxy-dashboard.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/README.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/groovy.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/jwt-validator.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/shared-policy-groups.md
  docs/apim/4.12/create-and-configure-apis/create-apis/migrate-apis.md
  docs/apim/4.12/developer-portal/classic-developer-portal/portal-settings.md
  docs/apim/4.12/expose-apim-as-an-mcp-server.md
  docs/apim/4.12/how-to-guides/use-case-tutorials/implement-bff-pattern-with-a-shared-policy-group.md
  docs/apim/4.12/mcp-server-installation-widget-for-portal-pages.md
  docs/apim/4.12/plugins/plugin-reference.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.17
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.27
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.23
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.17 (#1931)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.17 (#1931)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.17 (#1931)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.27 (#1932)
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.27 (#1932)
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.27 (#1932)
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.23 (#1933)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.23 (#1933)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.23 (#1933)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.9.27
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.27
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.27
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.27
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.23
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.23
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.23
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.23
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.16
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.16
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.16
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.16
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.17
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: remove issue links from shared policy group limitations
  docs/apim/4.12/create-and-configure-apis/apply-policies/shared-policy-groups.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.11.17
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.17
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.17
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

[sync] gko: 4.11 → 4.12
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

hide the claude page in edge management
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.5
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

hide the claude page in edge management (#1941)
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

hide the claude page in edge management (#1941)
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

hide the claude page in edge management (#1941)
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.5
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
