Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13549
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-02.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/configuring-api-specific-span-attribute-redaction-rules-in-the-console.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/cors-configuration.md
  docs/apim/4.12/guides/README.md
  docs/apim/4.12/guides/configuring-platform-level-span-attribute-redaction-rules.md
  docs/apim/4.12/guides/span-attribute-redaction-overview-and-key-concepts.md
  docs/apim/4.12/guides/span-attribute-redaction-restrictions-and-related-changes.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

[sync] gko: 4.11 → 4.12 (#1594)
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

[sync] gko: 4.11 → 4.12 (#1594)
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

[sync] apim: 4.11 → 4.12 (#1598)
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1598)
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1603)
  docs/am/4.12/.gitbook/assets/graviteeio-am-userguide-domain-dcr-templates.png
  docs/am/4.12/.gitbook/assets/graviteeio-am-userguide-domain-define-dcr-templates.png
  docs/am/4.12/getting-started/configuration/configure-am-gateway/README.md
  docs/am/4.12/guides/identity-providers/enterprise-identity-providers/saml-2.0.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

[sync] am: 4.11 → 4.12 (#1603)
  docs/am/4.12/.gitbook/assets/graviteeio-am-userguide-domain-dcr-templates.png
  docs/am/4.12/.gitbook/assets/graviteeio-am-userguide-domain-define-dcr-templates.png
  docs/am/4.12/getting-started/configuration/configure-am-gateway/README.md
  docs/am/4.12/guides/identity-providers/enterprise-identity-providers/saml-2.0.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

Update docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/gateway-cluster-sync-with-redis/README.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/gateway-cluster-sync-with-redis/README.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.9/release-information/changelog/apim-4.9.x.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.9/release-information/changelog/apim-4.9.x.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.9.21 (#1606)
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.9.21 (#1606)
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.8/release-information/changelog/apim-4.8.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.8/release-information/changelog/apim-4.8.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.8.28 (#1607)
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.8.28 (#1607)
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.10.16 (#1608)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.10.16 (#1608)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14123
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-freemarker-template-validation.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14122
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/ai-agent-management/secure-mcp-proxy-with-oauth2.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/developer-portal.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/documentation.md
  docs/apim/4.12/developer-portal/classic-developer-portal/api-documentation.md
  docs/apim/4.12/developer-portal/classic-developer-portal/api-overview-page-templates-concepts-and-components.md
  docs/apim/4.12/developer-portal/classic-developer-portal/creating-and-managing-api-overview-pages.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14014
  docs/apim/4.12/.gitbook/assets/apim-native-api-connection-logs-and-reporting-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-native-api-connection-logs-and-reporting-step-02.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/logging/native-api-connection-logs-management-api-reference.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/README.md
  docs/apim/4.12/kafka-gateway/native-api-connection-logs-and-reporting.md
  docs/apim/4.12/kafka-gateway/native-api-connection-logs-gateway-configuration.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13489
  docs/apim/4.12/.gitbook/assets/apim-api-product-analytics-and-logging-integration-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-analytics-and-logging-integration-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-analytics-and-logging-integration-step-03.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/api-product-analytics-and-logging-integration.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/upgrade-guides/apim-4.9-elasticsearch-index-template-changes.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-12279
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/rest-to-soap.md
  docs/apim/4.12/create-and-configure-apis/create-apis/import-apis.md
  docs/apim/4.12/create-and-configure-apis/create-apis/wsdl-import-management-api-reference.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-12146
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-03.png
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-04.png
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-05.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/create-and-configure-apis/create-apis/creating-and-updating-apis-from-remote-urls-console.md
  docs/apim/4.12/create-and-configure-apis/create-apis/import-apis.md
  docs/apim/4.12/management-api-reference.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13549
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-02.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/configure-api-specific-span-attribute-redaction-rules.md
  docs/apim/4.12/guides/README.md
  docs/apim/4.12/guides/configure-global-span-attribute-redaction-rules.md
  docs/apim/4.12/guides/span-attribute-redaction-concepts-and-rule-syntax.md
  docs/apim/4.12/guides/span-attribute-redaction-restrictions-and-implementation-notes.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14123
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/create-and-configure-apis/configure-v2-apis/documentation.md
  docs/apim/4.12/developer-portal/classic-developer-portal/api-documentation.md
  docs/apim/4.12/developer-portal/classic-developer-portal/troubleshooting-portal-page-template-validation-errors.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/creating-portal-pages-with-freemarker-templates.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-page-templating-concepts.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14122
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/ai-agent-management/mcp-proxy-api-overview-template.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/documentation.md
  docs/apim/4.12/developer-portal/classic-developer-portal/api-overview-page-template-infrastructure.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/documentation.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14014
  docs/apim/4.12/.gitbook/assets/apim-native-api-connection-logs-reporting-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-native-api-connection-logs-reporting-step-02.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/logging/native-api-connection-logs-management-api-reference.md
  docs/apim/4.12/analyze-and-monitor-apis/logging/view-api-logs.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/reporter-settings-ui-for-native-apis-opentelemetry-section.md
  docs/apim/4.12/kafka-gateway/native-api-connection-logs-overview-and-data-model.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13489
  docs/apim/4.12/.gitbook/assets/apim-api-product-analytics-and-logging-integration-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-analytics-and-logging-integration-step-02.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/logging/view-api-logs.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/api-product-analytics-integration-reference.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/api-products/README.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-12279
  docs/apim/4.12/.gitbook/assets/wsdl-import-format-selection.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/rest-to-soap.md
  docs/apim/4.12/create-and-configure-apis/create-apis/import-apis.md
  docs/apim/4.12/create-and-configure-apis/create-apis/wsdl-import-for-v4-apis-overview-and-console-workflow.md
  docs/apim/4.12/create-and-configure-apis/create-apis/wsdl-import-management-api-reference.md
  docs/apim/4.12/create-and-configure-apis/create-apis/wsdl-import-restrictions-and-related-changes.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.8.28
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.28
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.28
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

Docs Update: apim-12146
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-import-from-remote-url-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-import-wizard-entry.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/api-import-configuration-gateway-configuration-reference.md
  docs/apim/4.12/create-and-configure-apis/create-apis/api-import-from-remote-url-rest-api-reference.md
  docs/apim/4.12/create-and-configure-apis/create-apis/import-apis.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.9.21
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.21
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
