Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

Fix misaligned architecture diagram on Gamma overview page
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

Fix misaligned architecture diagram on Gamma overview page
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

Fix misaligned architecture diagram on Gamma overview page
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

Replace ASCII architecture diagram with Mermaid on Gamma overview page
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

Update overview.md
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.10/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
Owners: @gravitee-io/tech-writers

GitBook: Update content
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-15 (1).png
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-5 (1).png
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-6 (1).png
  docs/gko/4.9/.gitbook/assets/guide-define-an-apim-service-accoun-7 (1).png
Owners: @gravitee-io/tech-writers

Update overview.md
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

Update overview.md
  docs/gamma/platform-management/overview.md
Owners: @gravitee-io/tech-writers

fix(sync): keep changelog catch-up, drop reverts of 4.12-only content
  docs/apim/4.12/release-information/changelog/README.md
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
  docs/apim/4.12/terraform/README.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1884)
  docs/apim/4.12/release-information/changelog/README.md
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1884)
  docs/apim/4.12/release-information/changelog/README.md
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

fix(sync): drop re-added prior-version RN and changelog files, keep uma-2.0 link fix
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/am, @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1883)
  docs/am/4.12/guides/auth-protocols/uma-2.0.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1883)
  docs/am/4.12/guides/auth-protocols/uma-2.0.md
Owners: @gravitee-io/tech-writers

hide the mcp page
  docs/gamma/agent-management/publish/expose-an-mcp-registry.md
Owners: @gravitee-io/tech-writers

hide the mcp page (#1920)
  docs/gamma/agent-management/publish/expose-an-mcp-registry.md
Owners: @gravitee-io/tech-writers

hide the mcp page (#1920)
  docs/gamma/agent-management/publish/expose-an-mcp-registry.md
Owners: @gravitee-io/tech-writers

[sync] gko: 4.11 → 4.12 (#1874)
  docs/gko/4.12/.version-overrides
  docs/gko/4.12/guides/define-an-apim-service-account-for-gko.md
Owners: @gravitee-io/tech-writers

[sync] gko: 4.11 → 4.12 (#1874)
  docs/gko/4.12/.version-overrides
  docs/gko/4.12/guides/define-an-apim-service-account-for-gko.md
Owners: @gravitee-io/tech-writers

docs(apim): state v4 API support for per-application analytics and logs in the Developer Portal
  docs/apim/4.12/developer-portal/README.md
  docs/apim/4.12/developer-portal/classic-developer-portal/create-an-application.md
  docs/apim/4.12/developer-portal/new-developer-portal/application-logs.md
Owners: @gravitee-io/tech-writers

docs(apim): mirror portal analytics v4 support notes into 4.11
  docs/apim/4.11/developer-portal/README.md
  docs/apim/4.11/developer-portal/classic-developer-portal/create-an-application.md
  docs/apim/4.11/developer-portal/new-developer-portal/application-logs.md
Owners: @gravitee-io/tech-writers

docs(apim): state v4 API support for per-application analytics and logs in the Developer Portal
  docs/apim/4.12/developer-portal/README.md
  docs/apim/4.12/developer-portal/classic-developer-portal/create-an-application.md
  docs/apim/4.12/developer-portal/new-developer-portal/application-logs.md
Owners: @gravitee-io/tech-writers

docs(apim): state v4 API support for per-application analytics and logs in the Developer Portal
  docs/apim/4.12/developer-portal/README.md
  docs/apim/4.12/developer-portal/classic-developer-portal/create-an-application.md
  docs/apim/4.12/developer-portal/new-developer-portal/application-logs.md
Owners: @gravitee-io/tech-writers

docs(apim): mirror portal analytics v4 support notes into 4.11
  docs/apim/4.11/developer-portal/README.md
  docs/apim/4.11/developer-portal/classic-developer-portal/create-an-application.md
  docs/apim/4.11/developer-portal/new-developer-portal/application-logs.md
Owners: @gravitee-io/tech-writers

docs(apim): mirror portal analytics v4 support notes into 4.11
  docs/apim/4.11/developer-portal/README.md
  docs/apim/4.11/developer-portal/classic-developer-portal/create-an-application.md
  docs/apim/4.11/developer-portal/new-developer-portal/application-logs.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
  docs/apim/4.12/terraform/README.md
Owners: @gravitee-io/tech-writers

docs(apim): DOC-1756 document Kafka protocol support on the Kafka Gateway page
  docs/apim/4.11/kafka-gateway/README.md
  docs/apim/4.12/kafka-gateway/README.md
Owners: @gravitee-io/tech-writers

docs: add K8s version support statement and clarify EL SpEL restrictions
  docs/am/4.11/guides/am-expression-language.md
  docs/am/4.12/guides/am-expression-language.md
  docs/apim/4.11/gravitee-expression-language.md
  docs/apim/4.11/self-hosted-installation-guides/kubernetes/README.md
  docs/apim/4.12/gravitee-expression-language.md
  docs/apim/4.12/self-hosted-installation-guides/kubernetes/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs: add K8s version support statement and clarify EL SpEL restrictions
  docs/am/4.11/guides/am-expression-language.md
  docs/am/4.12/guides/am-expression-language.md
  docs/apim/4.11/gravitee-expression-language.md
  docs/apim/4.11/self-hosted-installation-guides/kubernetes/README.md
  docs/apim/4.12/gravitee-expression-language.md
  docs/apim/4.12/self-hosted-installation-guides/kubernetes/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs(apim): DOC-1756 document Kafka protocol support on the Kafka Gateway page
  docs/apim/4.11/kafka-gateway/README.md
  docs/apim/4.12/kafka-gateway/README.md
Owners: @gravitee-io/tech-writers

docs: add K8s version support statement and clarify EL SpEL restrictions
  docs/am/4.11/guides/am-expression-language.md
  docs/am/4.12/guides/am-expression-language.md
  docs/apim/4.11/gravitee-expression-language.md
  docs/apim/4.11/self-hosted-installation-guides/kubernetes/README.md
  docs/apim/4.12/gravitee-expression-language.md
  docs/apim/4.12/self-hosted-installation-guides/kubernetes/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs(apim): DOC-1756 document Kafka protocol support on the Kafka Gateway page
  docs/apim/4.11/kafka-gateway/README.md
  docs/apim/4.12/kafka-gateway/README.md
Owners: @gravitee-io/tech-writers

docs: add K8s version support statement and clarify EL SpEL restrictions
  docs/am/4.11/guides/am-expression-language.md
  docs/am/4.12/guides/am-expression-language.md
  docs/apim/4.11/gravitee-expression-language.md
  docs/apim/4.11/self-hosted-installation-guides/kubernetes/README.md
  docs/apim/4.12/gravitee-expression-language.md
  docs/apim/4.12/self-hosted-installation-guides/kubernetes/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

docs: runtime diagnostics batch across five support-driven tickets
  docs/am/4.11/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/apim/4.11/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.11/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.11/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.12/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/secure-and-expose-apis/plans/api-key.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs: runtime diagnostics batch across five support-driven tickets
  docs/am/4.11/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/apim/4.11/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.11/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.11/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.12/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/secure-and-expose-apis/plans/api-key.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs: runtime diagnostics batch across five support-driven tickets
  docs/am/4.11/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/apim/4.11/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.11/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.11/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.12/analyze-and-monitor-apis/reporters/elasticsearch-reporter.md
  docs/apim/4.12/prepare-a-production-environment/configure-your-http-server.md
  docs/apim/4.12/secure-and-expose-apis/plans/api-key.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers
