Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs: add changelog for gko-4.5.28
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.22
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.22
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.9
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.9
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

GITBOOK-39: JSON EL updates
  docs/apim/4.9/create-and-configure-apis/gravitee-api-definitions/execution-engine.md
  docs/apim/4.9/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

GITBOOK-39: JSON EL updates
  docs/apim/4.9/create-and-configure-apis/gravitee-api-definitions/execution-engine.md
  docs/apim/4.9/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.0
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

GITBOOK-168: No subject
  docs/apim/4.7/create-apis/overview/execution-engine.md
  docs/apim/4.7/getting-started/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

GITBOOK-168: No subject
  docs/apim/4.7/create-apis/overview/execution-engine.md
  docs/apim/4.7/getting-started/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

gitbook[cr-444]: No subject
  docs/apim/4.6/getting-started/gravitee-expression-language.md
  docs/apim/4.6/overview/execution-engine.md
Owners: @gravitee-io/tech-writers

gitbook[cr-444]: No subject
  docs/apim/4.6/getting-started/gravitee-expression-language.md
  docs/apim/4.6/overview/execution-engine.md
Owners: @gravitee-io/tech-writers

gitbook[cr-189]: No subject
  docs/apim/4.5/overview/plugins-and-api-definitions/gravitee-api-definitions-and-execution-engines/engine-comparisons.md
  docs/apim/4.5/using-the-product/managing-your-apis/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

gitbook[cr-189]: No subject
  docs/apim/4.5/overview/plugins-and-api-definitions/gravitee-api-definitions-and-execution-engines/engine-comparisons.md
  docs/apim/4.5/using-the-product/managing-your-apis/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

gitbook[cr-190]: No subject
  docs/apim/4.5/overview/plugins-and-api-definitions/gravitee-api-definitions-and-execution-engines/engine-comparisons.md
  docs/apim/4.5/using-the-product/managing-your-apis/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

gitbook[cr-190]: No subject
  docs/apim/4.5/overview/plugins-and-api-definitions/gravitee-api-definitions-and-execution-engines/engine-comparisons.md
  docs/apim/4.5/using-the-product/managing-your-apis/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

GITBOOK-526: JSON EL updates
  docs/apim/4.8/create-and-configure-apis/gravitee-api-definitions/execution-engine.md
  docs/apim/4.8/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

GITBOOK-526: JSON EL updates
  docs/apim/4.8/create-and-configure-apis/gravitee-api-definitions/execution-engine.md
  docs/apim/4.8/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

chore: add a changelog for the Oct 10 release
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add a changelog for the Oct 10 release
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for missing tickets gko-4.8.9
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for missing tickets gko-4.8.9
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for missing tickets gko-4.8.9
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

GITBOOK-40: Federation Cloud token updates
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.9/govern-apis/federation/federation-agent-service-account.md
Owners: @gravitee-io/tech-writers

GITBOOK-40: Federation Cloud token updates
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.9/govern-apis/federation/federation-agent-service-account.md
Owners: @gravitee-io/tech-writers

GITBOOK-41: add deploy roles to target account
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/4.9-multi-account-and-multi-region-aws-api-gateway-federation.md
Owners: @gravitee-io/tech-writers

GITBOOK-41: add deploy roles to target account
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/4.9-multi-account-and-multi-region-aws-api-gateway-federation.md
Owners: @gravitee-io/tech-writers

GITBOOK-42: No subject
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-42: No subject
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-19: add-release-notes
  docs/am/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-19: add-release-notes
  docs/am/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-20: add-4.8-changelog
  docs/am/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-20: add-4.8-changelog
  docs/am/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

gitbook[cr-591]: No subject
  docs/platform-overview/gravitee-platform/support-model/README.md
Owners: @gravitee-io/tech-writers

gitbook[cr-591]: No subject
  docs/platform-overview/gravitee-platform/support-model/README.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.10
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.10
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-43: Terraform updates
  docs/apim/4.9/terraform/README.md
  docs/apim/4.9/terraform/example-resource-configurations.md
  docs/apim/4.9/terraform/quick-start-guide.md
Owners: @gravitee-io/tech-writers

GITBOOK-43: Terraform updates
  docs/apim/4.9/terraform/README.md
  docs/apim/4.9/terraform/example-resource-configurations.md
  docs/apim/4.9/terraform/quick-start-guide.md
Owners: @gravitee-io/tech-writers

GITBOOK-44: rename-to-gcp-gke
  docs/apim/4.9/hybrid-installation-and-configuration-guides/README.md
Owners: @gravitee-io/tech-writers
