Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

GITBOOK-110: fix markdown in the RNs
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

Add external_links_audit.py and update requirements-dev.txt
  tools/link_gov/external_links_audit.py
  tools/requirements-dev.txt
Owners: @gravitee-io/tech-writers

Add external_links_audit.py and update requirements-dev.txt
  tools/link_gov/external_links_audit.py
  tools/requirements-dev.txt
Owners: @gravitee-io/tech-writers

Enhance external_links_audit with uncertain summary and line/text context
  tools/link_gov/external_links_audit.py
  tools/link_gov/uncertain_links_summary.py
Owners: @gravitee-io/tech-writers

Enhance external_links_audit with uncertain summary and line/text context
  tools/link_gov/external_links_audit.py
  tools/link_gov/uncertain_links_summary.py
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.6.24
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.18
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.12
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.3
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

chore: add changelog for 4.9.4
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.4
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.9.4
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

GITBOOK-111: Release notes: Kafka analytics update
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-111: Release notes: Kafka analytics update
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-116: mix markdown
  docs/apim/4.9/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-116: mix markdown
  docs/apim/4.9/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

fix broken ext links
  docs/am/4.0/README.md
  docs/am/4.0/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.0/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.0/guides/auth-protocols/ciba.md
  docs/am/4.0/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.0/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.1/README.md
  docs/am/4.1/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.1/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.1/guides/auth-protocols/ciba.md
  docs/am/4.1/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.1/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.2/README.md
  docs/am/4.2/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.2/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.2/guides/auth-protocols/ciba.md
  docs/am/4.2/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.2/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.3/README.md
  docs/am/4.3/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.3/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.3/guides/auth-protocols/ciba.md
  docs/am/4.3/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.3/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.4/README.md
  docs/am/4.4/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.4/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.4/guides/auth-protocols/ciba.md
  docs/am/4.4/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.4/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.5/README.md
  docs/am/4.5/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.5/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.5/guides/auth-protocols/ciba.md
  docs/am/4.5/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.5/guides/identity-providers/user-and-role-mapping.md
Owners: @gravitee-io/tech-writers

fix broken ext links
  docs/am/4.0/README.md
  docs/am/4.0/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.0/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.0/guides/auth-protocols/ciba.md
  docs/am/4.0/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.0/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.1/README.md
  docs/am/4.1/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.1/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.1/guides/auth-protocols/ciba.md
  docs/am/4.1/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.1/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.2/README.md
  docs/am/4.2/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.2/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.2/guides/auth-protocols/ciba.md
  docs/am/4.2/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.2/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.3/README.md
  docs/am/4.3/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.3/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.3/guides/auth-protocols/ciba.md
  docs/am/4.3/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.3/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.4/README.md
  docs/am/4.4/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.4/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.4/guides/auth-protocols/ciba.md
  docs/am/4.4/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.4/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.5/README.md
  docs/am/4.5/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.5/getting-started/tutorial-getting-started-with-am/get-user-profile-information.md
  docs/am/4.5/guides/auth-protocols/ciba.md
  docs/am/4.5/guides/identity-providers/enterprise-identity-providers/http-web-service.md
  docs/am/4.5/guides/identity-providers/user-and-role-mapping.md
Owners: @gravitee-io/tech-writers

improve utils
  tools/link_gov/utils.py
Owners: @gravitee-io/tech-writers

improve utils
  tools/link_gov/utils.py
Owners: @gravitee-io/tech-writers

update redis links
  docs/apim/4.0/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.1/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.2/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.4/getting-started/install-gravitee-api-management/installing-a-gravitee-gateway-with-a-hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.5/installation-and-upgrades/advanced-hybrid-deployment/README.md
  docs/apim/4.6/hybrid-deployment/redis.md
  docs/apim/4.7/hybrid-deployment/redis.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/classic-cloud/.zip.md
  docs/apim/4.9/hybrid-installation-and-configuration-guides/classic-cloud/.zip.md
Owners: @gravitee-io/tech-writers

update redis links
  docs/apim/4.0/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.1/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.2/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.4/getting-started/install-gravitee-api-management/installing-a-gravitee-gateway-with-a-hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.5/installation-and-upgrades/advanced-hybrid-deployment/README.md
  docs/apim/4.6/hybrid-deployment/redis.md
  docs/apim/4.7/hybrid-deployment/redis.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/classic-cloud/.zip.md
  docs/apim/4.9/hybrid-installation-and-configuration-guides/classic-cloud/.zip.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.21
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

Preserve gold standard
  tools/link_gov/page_links_audit_gold.py
Owners: @gravitee-io/tech-writers

Preserve gold standard
  tools/link_gov/page_links_audit_gold.py
Owners: @gravitee-io/tech-writers

Refine page link audit categories and fix behavior
  tools/link_gov/page_links_audit.py
Owners: @gravitee-io/tech-writers

Refine page link audit categories and fix behavior
  tools/link_gov/page_links_audit.py
Owners: @gravitee-io/tech-writers

external links audit updates
  tools/link_gov/external_links_audit.py
Owners: @gravitee-io/tech-writers

external links audit updates
  tools/link_gov/external_links_audit.py
Owners: @gravitee-io/tech-writers

github link replacements
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/assign-metrics.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/data-logging-masking.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/graphql-rate-limit.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/message-filtering.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/override-http-method.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/protobuf-to-json.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/regex-threat-protection.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/role-based-access-control-rbac.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/ws-security-authentication.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/xslt.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/assign-metrics.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/data-logging-masking.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/graphql-rate-limit.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/message-filtering.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/override-http-method.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/protobuf-to-json.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/regex-threat-protection.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/role-based-access-control-rbac.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/ws-security-authentication.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/xslt.md
Owners: @gravitee-io/tech-writers

github link replacements
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/assign-metrics.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/data-logging-masking.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/graphql-rate-limit.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/message-filtering.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/override-http-method.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/protobuf-to-json.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/regex-threat-protection.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/role-based-access-control-rbac.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/ws-security-authentication.md
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/xslt.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/assign-metrics.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/data-logging-masking.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/graphql-rate-limit.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/message-filtering.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/override-http-method.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/protobuf-to-json.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/regex-threat-protection.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/role-based-access-control-rbac.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/ssl-enforcement.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/ws-security-authentication.md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/xslt.md
Owners: @gravitee-io/tech-writers

fix github links
  docs/apim/4.7/policies/assign-metrics-1.md
  docs/apim/4.7/policies/data-logging-masking-1.md
  docs/apim/4.7/policies/geoip-filtering-1.md
  docs/apim/4.7/policies/graphql-rate-limit-1.md
  docs/apim/4.7/policies/message-filtering.md
  docs/apim/4.7/policies/override-http-method.md
  docs/apim/4.7/policies/protobuf-to-json-1.md
  docs/apim/4.7/policies/regex-threat-protection.md
  docs/apim/4.7/policies/role-based-access-control-rbac.md
  docs/apim/4.7/policies/ssl-enforcement.md
  docs/apim/4.7/policies/ws-security-authentication-1.md
  docs/apim/4.7/policies/xslt-1.md
Owners: @gravitee-io/tech-writers

fix github links
  docs/apim/4.7/policies/assign-metrics-1.md
  docs/apim/4.7/policies/data-logging-masking-1.md
  docs/apim/4.7/policies/geoip-filtering-1.md
  docs/apim/4.7/policies/graphql-rate-limit-1.md
  docs/apim/4.7/policies/message-filtering.md
  docs/apim/4.7/policies/override-http-method.md
  docs/apim/4.7/policies/protobuf-to-json-1.md
  docs/apim/4.7/policies/regex-threat-protection.md
  docs/apim/4.7/policies/role-based-access-control-rbac.md
  docs/apim/4.7/policies/ssl-enforcement.md
  docs/apim/4.7/policies/ws-security-authentication-1.md
  docs/apim/4.7/policies/xslt-1.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.5
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.5
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-118: JSON formatting, no other changes
  docs/apim/4.9/configure-and-manage-the-platform/management-api/mapi-internal-api.md
Owners: @gravitee-io/tech-writers

GITBOOK-118: JSON formatting, no other changes
  docs/apim/4.9/configure-and-manage-the-platform/management-api/mapi-internal-api.md
Owners: @gravitee-io/tech-writers

GITBOOK-119: No subject
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-119: No subject
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

replace links
  docs/apim/4.6/policies/assign-metrics-1.md
  docs/apim/4.6/policies/data-logging-masking-1.md
  docs/apim/4.6/policies/geoip-filtering-1.md
  docs/apim/4.6/policies/graphql-rate-limit-1.md
  docs/apim/4.6/policies/message-filtering.md
  docs/apim/4.6/policies/override-http-method.md
  docs/apim/4.6/policies/protobuf-to-json-1.md
  docs/apim/4.6/policies/regex-threat-protection.md
  docs/apim/4.6/policies/role-based-access-control-rbac.md
  docs/apim/4.6/policies/ssl-enforcement.md
  docs/apim/4.6/policies/ws-security-authentication-1.md
  docs/apim/4.6/policies/xslt-1.md
Owners: @gravitee-io/tech-writers
