Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

chore: add changelog for 4.7.10
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.3
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.3
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.11
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.11
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.3
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.3
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-248: aws-eks-nextgen-guide
  docs/apim/4.8/.gitbook/assets/sign-into-gravitee-cloud.png
  docs/apim/4.8/.gitbook/includes/untitled (1).md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-248: aws-eks-nextgen-guide
  docs/apim/4.8/.gitbook/assets/sign-into-gravitee-cloud.png
  docs/apim/4.8/.gitbook/includes/untitled (1).md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-260: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-260: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-261: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-261: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-262: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-262: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-263: No subject
  docs/apim/4.8/.gitbook/assets/image (1) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (1).png
  docs/apim/4.8/.gitbook/assets/image (2) (1) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (2) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (2) (1).png
  docs/apim/4.8/.gitbook/assets/image (2).png
  docs/apim/4.8/.gitbook/assets/image.png
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/create-an-api.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-263: No subject
  docs/apim/4.8/.gitbook/assets/image (1) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (1).png
  docs/apim/4.8/.gitbook/assets/image (2) (1) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (2) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (2) (1).png
  docs/apim/4.8/.gitbook/assets/image (2).png
  docs/apim/4.8/.gitbook/assets/image.png
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/create-an-api.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-264: No subject
  docs/apim/4.8/.gitbook/assets/image (318).png
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-264: No subject
  docs/apim/4.8/.gitbook/assets/image (318).png
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-266: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-266: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-268: No subject
  docs/apim/4.8/.gitbook/assets/dashboard-deploy-gateway.png
  docs/apim/4.8/.gitbook/assets/deploy-your-gateway (1).png
  docs/apim/4.8/.gitbook/assets/deploy-your-gateway (2).png
  docs/apim/4.8/.gitbook/assets/deploy-your-gateway.png
  docs/apim/4.8/.gitbook/assets/generate-installation-details.png
  docs/apim/4.8/.gitbook/assets/select-environment.png
  docs/apim/4.8/.gitbook/assets/select-hybrid-gateway.png
  docs/apim/4.8/.gitbook/assets/sign-in-to-gravitee-cloud.png
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-268: No subject
  docs/apim/4.8/.gitbook/assets/dashboard-deploy-gateway.png
  docs/apim/4.8/.gitbook/assets/deploy-your-gateway (1).png
  docs/apim/4.8/.gitbook/assets/deploy-your-gateway (2).png
  docs/apim/4.8/.gitbook/assets/deploy-your-gateway.png
  docs/apim/4.8/.gitbook/assets/generate-installation-details.png
  docs/apim/4.8/.gitbook/assets/select-environment.png
  docs/apim/4.8/.gitbook/assets/select-hybrid-gateway.png
  docs/apim/4.8/.gitbook/assets/sign-in-to-gravitee-cloud.png
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-269: No subject
  docs/apim/4.8/.gitbook/assets/cloud-ssign-in-page.png
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-269: No subject
  docs/apim/4.8/.gitbook/assets/cloud-ssign-in-page.png
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.5.23
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.17
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.11
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.3
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

GITBOOK-1: GKO page contains an uncompiled code block
  docs/gko/4.8/SUMMARY.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
Owners: @gravitee-io/tech-writers

GITBOOK-1: GKO page contains an uncompiled code block
  docs/gko/4.8/SUMMARY.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
Owners: @gravitee-io/tech-writers

GITBOOK-273: CRUD clarifications
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/user-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-273: CRUD clarifications
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/user-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-274: aws-api-gateway-n
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/README.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-274: aws-api-gateway-n
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/README.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-277: No subject
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/README.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-277: No subject
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/README.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-278: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-278: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-279: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers
