Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

docs: add changelog for gko-4.9.11
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

chore: Update changelog section heading from "Others" to "GKO"
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.2
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.2
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: GKO release note
  docs/gko/4.10/getting-started/installation/install-with-helm.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/release-notes/gko-4.10.md
  docs/gko/4.8/getting-started/installation/install-with-helm.md
  docs/gko/4.9/getting-started/installation/install-with-helm.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

docs: GKO release note
  docs/gko/4.10/getting-started/installation/install-with-helm.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/release-notes/gko-4.10.md
  docs/gko/4.8/getting-started/installation/install-with-helm.md
  docs/gko/4.9/getting-started/installation/install-with-helm.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

Update docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

Update docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

Update docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

Update docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: draft GKO 4.10 release note
  docs/gko/4.10/releases-and-changelog/release-notes/gko-4.10.md
Owners: @gravitee-io/tech-writers

docs: add missing 4.0.1 entry
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add missing 4.0.1 entry
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

Update docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

Update docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

GITBOOK-227: No subject
  docs/apim/4.10/.gitbook/assets/image (38) (4) (1).png
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.9/.gitbook/includes/untitled (1).md
Owners: @gravitee-io/tech-writers

GITBOOK-227: No subject
  docs/apim/4.10/.gitbook/assets/image (38) (4) (1).png
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.9/.gitbook/includes/untitled (1).md
Owners: @gravitee-io/tech-writers

fix: correct GKO 4.10 changelog link in SUMMARY.md
  docs/gko/4.10/SUMMARY.md
Owners: @gravitee-io/tech-writers

Update SUMMARY.md
  docs/gko/4.10/SUMMARY.md
Owners: @gravitee-io/tech-writers

Update SUMMARY.md
  docs/gko/4.10/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-228: remove-invalid-text
  docs/apim/4.10/how-to-guides/use-case-tutorials/configure-dcr.md
Owners: @gravitee-io/tech-writers

GITBOOK-228: remove-invalid-text
  docs/apim/4.10/how-to-guides/use-case-tutorials/configure-dcr.md
Owners: @gravitee-io/tech-writers

GITBOOK-229: attach-updated-dcr-images
  docs/apim/4.10/.gitbook/assets/image (187).png
  docs/apim/4.10/how-to-guides/use-case-tutorials/configure-dcr.md
Owners: @gravitee-io/tech-writers

GITBOOK-229: attach-updated-dcr-images
  docs/apim/4.10/.gitbook/assets/image (187).png
  docs/apim/4.10/how-to-guides/use-case-tutorials/configure-dcr.md
Owners: @gravitee-io/tech-writers

GITBOOK-230: update-the-page-url-for-4.0
  docs/apim/4.10/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-230: update-the-page-url-for-4.0
  docs/apim/4.10/SUMMARY.md
Owners: @gravitee-io/tech-writers

Add CrossID and CI/CD import documentation for APIM 4.4-4.10
  docs/apim/4.10/create-and-configure-apis/create-apis/import-apis.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/create-apis/import-apis.md
  docs/apim/4.5/using-the-product/managing-your-apis/create-apis/import-apis.md
  docs/apim/4.6/create-apis/import-apis.md
  docs/apim/4.7/create-apis/import-apis.md
  docs/apim/4.8/create-and-configure-apis/create-apis/import-apis.md
  docs/apim/4.9/create-and-configure-apis/create-apis/import-apis.md
Owners: @gravitee-io/tech-writers

GITBOOK-232: add-json-definition
  docs/apim/4.10/create-and-configure-apis/create-apis/import-apis.md
Owners: @gravitee-io/tech-writers

GITBOOK-232: add-json-definition
  docs/apim/4.10/create-and-configure-apis/create-apis/import-apis.md
Owners: @gravitee-io/tech-writers

GITBOOK-8: json-definitoin
  docs/apim/4.9/.gitbook/assets/image (38) (4) (1).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/create-and-configure-apis/create-apis/import-apis.md
Owners: @gravitee-io/tech-writers

GITBOOK-8: json-definitoin
  docs/apim/4.9/.gitbook/assets/image (38) (4) (1).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/create-and-configure-apis/create-apis/import-apis.md
Owners: @gravitee-io/tech-writers

test agent
  trial-runs/writer-agent/mcp-apis/MCP_APIs.md.output.md
Owners: @gravitee-io/tech-writers

test agent
  trial-runs/writer-agent/mcp-apis/MCP_APIs.md.output.md
Owners: @gravitee-io/tech-writers

add to summary
  trial-runs/SUMMARY.md
Owners: @gravitee-io/tech-writers

add to summary
  trial-runs/SUMMARY.md
Owners: @gravitee-io/tech-writers

test 2
  trial-runs/SUMMARY.md
  trial-runs/writer-agent/mcp-apis/mcp_apis.docx.output.md
Owners: @gravitee-io/tech-writers

test 2
  trial-runs/SUMMARY.md
  trial-runs/writer-agent/mcp-apis/mcp_apis.docx.output.md
Owners: @gravitee-io/tech-writers

add assets
  trial-runs/.gitbook/assets/apim-webhook-logs-step-01.png
  trial-runs/.gitbook/assets/apim-webhook-logs-step-02.png
Owners: @gravitee-io/tech-writers

add assets
  trial-runs/.gitbook/assets/apim-webhook-logs-step-01.png
  trial-runs/.gitbook/assets/apim-webhook-logs-step-02.png
Owners: @gravitee-io/tech-writers

GITBOOK-17: No subject
  trial-runs/SUMMARY.md
  trial-runs/smart-agent/README.md
  trial-runs/smart-agent/mcp-apis/README.md
  trial-runs/smart-agent/mcp-apis/controlling-mcp-server-access.md
  trial-runs/smart-agent/mcp-apis/exposing-secured-mcp-server.md
  trial-runs/smart-agent/mcp-apis/exposing-unsecured-mcp-server.md
  trial-runs/smart-agent/mcp-apis/securing-mcp-server-with-gravitee.md
  trial-runs/smart-agent/screenshots/README.md
  trial-runs/smart-agent/screenshots/mcp-apis/README.md
  trial-runs/smart-agent/screenshots/mcp-apis/configure-mcp-access-control.writer-output.md
  trial-runs/smart-agent/screenshots/mcp-apis/expose-mcp-apis-overview.writer-output.md
  trial-runs/smart-agent/screenshots/mcp-apis/mcp_apis.writer-notes.md
  trial-runs/smart-agent/screenshots/mcp-apis/proxy-secured-mcp-server.writer-output.md
  trial-runs/smart-agent/screenshots/mcp-apis/proxy-unsecured-mcp-server.writer-output.md
  trial-runs/smart-agent/screenshots/mcp-apis/secure-mcp-server-with-am.writer-output.md
  trial-runs/smart-agent/screenshots/webhook-logs/README.md
  trial-runs/smart-agent/screenshots/webhook-logs/webhook-logs.writer-notes.md
  trial-runs/smart-agent/screenshots/webhook-logs/webhook-logs.writer-output.md
  trial-runs/webhook-logs.writer-notes.md
  trial-runs/webhook-logs.writer-output.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
