Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

Delete docs/apim/4.11/gravitee-expression-language.md - this is on 4.10
  docs/apim/4.11/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

Delete docs/apim/4.11/gravitee-expression-language.md - this is on 4.10
  docs/apim/4.11/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

Docs Update: el_tips_and_tricks
  docs/apim/4.11/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

Delete docs/apim/4.11/gravitee-expression-language.md - this is on 4.10
  docs/apim/4.11/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

Resolve conflict: restore EL page with style improvements and tips & tricks
  docs/apim/4.10/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

Docs Update: el_tips_and_tricks
  docs/apim/4.11/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

Resolve conflict: restore EL page with style improvements and tips & tricks
  docs/apim/4.10/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

docs: review and fix inaccuracies and align with policy code
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/pii-filtering.md
Owners: @gravitee-io/tech-writers

GITBOOK-314: update-use-of-gravitee-language
  docs/apim/4.10/.gitbook/assets/304A887B-9FD1-4011-961A-7DB7D91D3478_1_201_a (1) (1).jpeg
  docs/apim/4.10/.gitbook/assets/6D6E46F0-AECF-41F9-BE38-53C6EC0EDA38_1_201_a (1) (1).jpeg
  docs/apim/4.10/.gitbook/assets/DBE0A0C1-3171-4CA4-A586-A503EBD2B0BD_1_201_a (1) (1).jpeg
  docs/apim/4.10/.gitbook/assets/anim (1) (1).gif
  docs/apim/4.10/.gitbook/assets/image (38) (4) (1) (1) (3).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

GITBOOK-314: update-use-of-gravitee-language
  docs/apim/4.10/.gitbook/assets/304A887B-9FD1-4011-961A-7DB7D91D3478_1_201_a (1) (1).jpeg
  docs/apim/4.10/.gitbook/assets/6D6E46F0-AECF-41F9-BE38-53C6EC0EDA38_1_201_a (1) (1).jpeg
  docs/apim/4.10/.gitbook/assets/DBE0A0C1-3171-4CA4-A586-A503EBD2B0BD_1_201_a (1) (1).jpeg
  docs/apim/4.10/.gitbook/assets/anim (1) (1).gif
  docs/apim/4.10/.gitbook/assets/image (38) (4) (1) (1) (3).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/gravitee-expression-language.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.31
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.13
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.25
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

Update docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

GITBOOK-30: No subject
  docs/am/4.10/.gitbook/assets/image (1).png
  docs/am/4.10/.gitbook/assets/image (10).png
  docs/am/4.10/.gitbook/assets/image (11).png
  docs/am/4.10/.gitbook/assets/image (12).png
  docs/am/4.10/.gitbook/assets/image (13).png
  docs/am/4.10/.gitbook/assets/image (14).png
  docs/am/4.10/.gitbook/assets/image (15).png
  docs/am/4.10/.gitbook/assets/image (16).png
  docs/am/4.10/.gitbook/assets/image (17).png
  docs/am/4.10/.gitbook/assets/image (18).png
  docs/am/4.10/.gitbook/assets/image (19).png
  docs/am/4.10/.gitbook/assets/image (2).png
  docs/am/4.10/.gitbook/assets/image (20).png
  docs/am/4.10/.gitbook/assets/image (21).png
  docs/am/4.10/.gitbook/assets/image (6).png
  docs/am/4.10/.gitbook/assets/image (7).png
  docs/am/4.10/.gitbook/assets/image (8).png
  docs/am/4.10/.gitbook/assets/image (9).png
  docs/am/4.10/.gitbook/assets/image.png
  docs/am/4.10/getting-started/configuration/configure-reporters.md
  docs/am/4.10/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/4.10/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.10/guides/applications/client-secrets.md
  docs/am/4.10/guides/auth-protocols/oauth-2.0/dynamic-redirect-uri-parameters.md
  docs/am/4.10/guides/auth-protocols/uma-2.0.md
  docs/am/4.10/guides/device-identifier.md
  docs/am/4.10/guides/identity-providers/database-identity-providers/mongodb.md
  docs/am/4.10/guides/identity-providers/social-identity-providers/azure-ad.md
  docs/am/4.10/guides/identity-providers/social-identity-providers/openid-connect.md
  docs/am/4.10/guides/login/force-reset-password-on-expiration.md
  docs/am/4.10/guides/mcp-servers/client-authorization.md
  docs/am/4.10/guides/mcp-servers/create-an-mcp-server.md
  docs/am/4.10/guides/resources.md
  docs/am/4.10/guides/user-management/users/password-options.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-30: No subject
  docs/am/4.10/.gitbook/assets/image (1).png
  docs/am/4.10/.gitbook/assets/image (10).png
  docs/am/4.10/.gitbook/assets/image (11).png
  docs/am/4.10/.gitbook/assets/image (12).png
  docs/am/4.10/.gitbook/assets/image (13).png
  docs/am/4.10/.gitbook/assets/image (14).png
  docs/am/4.10/.gitbook/assets/image (15).png
  docs/am/4.10/.gitbook/assets/image (16).png
  docs/am/4.10/.gitbook/assets/image (17).png
  docs/am/4.10/.gitbook/assets/image (18).png
  docs/am/4.10/.gitbook/assets/image (19).png
  docs/am/4.10/.gitbook/assets/image (2).png
  docs/am/4.10/.gitbook/assets/image (20).png
  docs/am/4.10/.gitbook/assets/image (21).png
  docs/am/4.10/.gitbook/assets/image (6).png
  docs/am/4.10/.gitbook/assets/image (7).png
  docs/am/4.10/.gitbook/assets/image (8).png
  docs/am/4.10/.gitbook/assets/image (9).png
  docs/am/4.10/.gitbook/assets/image.png
  docs/am/4.10/getting-started/configuration/configure-reporters.md
  docs/am/4.10/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/4.10/getting-started/tutorial-getting-started-with-am/set-up-your-first-application.md
  docs/am/4.10/guides/applications/client-secrets.md
  docs/am/4.10/guides/auth-protocols/oauth-2.0/dynamic-redirect-uri-parameters.md
  docs/am/4.10/guides/auth-protocols/uma-2.0.md
  docs/am/4.10/guides/device-identifier.md
  docs/am/4.10/guides/identity-providers/database-identity-providers/mongodb.md
  docs/am/4.10/guides/identity-providers/social-identity-providers/azure-ad.md
  docs/am/4.10/guides/identity-providers/social-identity-providers/openid-connect.md
  docs/am/4.10/guides/login/force-reset-password-on-expiration.md
  docs/am/4.10/guides/mcp-servers/client-authorization.md
  docs/am/4.10/guides/mcp-servers/create-an-mcp-server.md
  docs/am/4.10/guides/resources.md
  docs/am/4.10/guides/user-management/users/password-options.md
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-38: No subject
  docs/am/4.10/reference/am-api-reference.md
Owners: @gravitee-io/tech-writers

GITBOOK-38: No subject
  docs/am/4.10/reference/am-api-reference.md
Owners: @gravitee-io/tech-writers

GITBOOK-39: trigger-am-actions
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

GITBOOK-39: trigger-am-actions
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

fix: restore AM 4.10 patch changelogs (4.10.1, 4.10.2, 4.10.3)
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

fix: restore AM 4.10 patch changelogs (4.10.1, 4.10.2, 4.10.3)
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

fix: restore AM 4.10 patch changelogs (4.10.1, 4.10.2, 4.10.3)
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.26
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.21
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.14
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.7/overview/changelog/apim-4.7.x.md
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.7/overview/changelog/apim-4.7.x.md
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.7
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.25
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

Update docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

Update docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.25
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.13
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.13
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.31
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.31
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

Update docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.10/release-information/changelog/apim-4.10.x.md
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers
