Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

docs: add changelog for gko-4.9.4
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

GITBOOK-63: update OpenTelemetry documentation.
  docs/apim/4.9/.gitbook/assets/azure-api-integration-id (2).png
  docs/apim/4.9/.gitbook/assets/enter-integration-name (1).png
  docs/apim/4.9/.gitbook/assets/image (55).png
  docs/apim/4.9/.gitbook/assets/image (56).png
  docs/apim/4.9/.gitbook/assets/image (57).png
  docs/apim/4.9/.gitbook/assets/image (58).png
  docs/apim/4.9/.gitbook/assets/image (59).png
  docs/apim/4.9/.gitbook/assets/image (60).png
  docs/apim/4.9/.gitbook/assets/image (61).png
  docs/apim/4.9/.gitbook/assets/image (62).png
  docs/apim/4.9/.gitbook/assets/image (65).png
  docs/apim/4.9/.gitbook/assets/image (66).png
  docs/apim/4.9/.gitbook/assets/image (67).png
  docs/apim/4.9/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/azure-api-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-63: update OpenTelemetry documentation.
  docs/apim/4.9/.gitbook/assets/azure-api-integration-id (2).png
  docs/apim/4.9/.gitbook/assets/enter-integration-name (1).png
  docs/apim/4.9/.gitbook/assets/image (55).png
  docs/apim/4.9/.gitbook/assets/image (56).png
  docs/apim/4.9/.gitbook/assets/image (57).png
  docs/apim/4.9/.gitbook/assets/image (58).png
  docs/apim/4.9/.gitbook/assets/image (59).png
  docs/apim/4.9/.gitbook/assets/image (60).png
  docs/apim/4.9/.gitbook/assets/image (61).png
  docs/apim/4.9/.gitbook/assets/image (62).png
  docs/apim/4.9/.gitbook/assets/image (65).png
  docs/apim/4.9/.gitbook/assets/image (66).png
  docs/apim/4.9/.gitbook/assets/image (67).png
  docs/apim/4.9/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/azure-api-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-138: update-aws-api-gateway-federation-agent
  docs/apim/4.9/.gitbook/assets/aws-api-gateway-integration (1).png
  docs/apim/4.9/.gitbook/assets/aws-api-gateway-integration.png
  docs/apim/4.9/.gitbook/assets/click-create-integration-for-aws-api-gateway.png
  docs/apim/4.9/.gitbook/assets/enter-the-aws-api-integration-name.png
  docs/apim/4.9/.gitbook/assets/image (55) (1).png
  docs/apim/4.9/.gitbook/assets/image (55).png
  docs/apim/4.9/.gitbook/assets/image (56) (1).png
  docs/apim/4.9/.gitbook/assets/image (56).png
  docs/apim/4.9/.gitbook/assets/image (57) (1).png
  docs/apim/4.9/.gitbook/assets/image (57).png
  docs/apim/4.9/.gitbook/assets/image (58) (1).png
  docs/apim/4.9/.gitbook/assets/image (58).png
  docs/apim/4.9/.gitbook/assets/select-aws-api-gateway.png
  docs/apim/4.9/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-138: update-aws-api-gateway-federation-agent
  docs/apim/4.9/.gitbook/assets/aws-api-gateway-integration (1).png
  docs/apim/4.9/.gitbook/assets/aws-api-gateway-integration.png
  docs/apim/4.9/.gitbook/assets/click-create-integration-for-aws-api-gateway.png
  docs/apim/4.9/.gitbook/assets/enter-the-aws-api-integration-name.png
  docs/apim/4.9/.gitbook/assets/image (55) (1).png
  docs/apim/4.9/.gitbook/assets/image (55).png
  docs/apim/4.9/.gitbook/assets/image (56) (1).png
  docs/apim/4.9/.gitbook/assets/image (56).png
  docs/apim/4.9/.gitbook/assets/image (57) (1).png
  docs/apim/4.9/.gitbook/assets/image (57).png
  docs/apim/4.9/.gitbook/assets/image (58) (1).png
  docs/apim/4.9/.gitbook/assets/image (58).png
  docs/apim/4.9/.gitbook/assets/select-aws-api-gateway.png
  docs/apim/4.9/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
Owners: @gravitee-io/tech-writers

Fix assets in docs/am
  docs/am/4.7/.gitbook/assets/image (8).png
  docs/am/4.7/.gitbook/assets/image (9).png
  docs/am/4.7/guides/audit-trail.md
  docs/am/4.9/getting-started/configuration/configure-reporters.md
  docs/am/4.9/getting-started/install-and-upgrade-guides/configure-multiple-data-planes.md
  docs/am/4.9/guides/applications/client-secrets.md
  docs/am/4.9/guides/audit-trail.md
  docs/am/4.9/guides/auth-protocols/oauth-2.0/dynamic-redirect-uri-parameters.md
  docs/am/4.9/guides/certificates/README.md
  docs/am/4.9/guides/login/remember-authentication-device.md
  docs/am/4.9/guides/multi-factor-authentication/configure-mfa-for-an-application.md
  docs/am/4.9/guides/multi-factor-authentication/managing-factors/README.md
  docs/am/4.9/guides/multi-factor-authentication/mfa-policies.md
  docs/am/4.9/guides/resources.md
  docs/am/4.9/guides/security-domains/configure-cors-for-security-domains.md
  docs/am/4.9/overview/am-architecture/control-plane-and-data-plane.md
Owners: @gravitee-io/tech-writers

Fix assets in docs/am
  docs/am/4.7/.gitbook/assets/image (8).png
  docs/am/4.7/.gitbook/assets/image (9).png
  docs/am/4.7/guides/audit-trail.md
  docs/am/4.9/getting-started/configuration/configure-reporters.md
  docs/am/4.9/getting-started/install-and-upgrade-guides/configure-multiple-data-planes.md
  docs/am/4.9/guides/applications/client-secrets.md
  docs/am/4.9/guides/audit-trail.md
  docs/am/4.9/guides/auth-protocols/oauth-2.0/dynamic-redirect-uri-parameters.md
  docs/am/4.9/guides/certificates/README.md
  docs/am/4.9/guides/login/remember-authentication-device.md
  docs/am/4.9/guides/multi-factor-authentication/configure-mfa-for-an-application.md
  docs/am/4.9/guides/multi-factor-authentication/managing-factors/README.md
  docs/am/4.9/guides/multi-factor-authentication/mfa-policies.md
  docs/am/4.9/guides/resources.md
  docs/am/4.9/guides/security-domains/configure-cors-for-security-domains.md
  docs/am/4.9/overview/am-architecture/control-plane-and-data-plane.md
Owners: @gravitee-io/tech-writers

fix: add missing bug fix to 4.9 and 4.8 change logs
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

fix: add missing bug fix to 4.9 and 4.8 change logs
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

gitbook[cr-124]: Backfill page descriptions
  docs/gravitee-cloud/getting-started/getting-started-with-gravitee-cloud.md
  docs/gravitee-cloud/getting-started/upgrading-your-trial-to-a-customer-account.md
  docs/gravitee-cloud/guides/account-token.md
  docs/gravitee-cloud/guides/add-environments.md
  docs/gravitee-cloud/guides/cloud-tokens.md
  docs/gravitee-cloud/guides/configure-sso.md
  docs/gravitee-cloud/guides/custom-domains.md
  docs/gravitee-cloud/guides/gravitee-hosted-gateways/delete-a-gravitee-hosted-gateway.md
  docs/gravitee-cloud/guides/promote-apis.md
  docs/gravitee-cloud/reference/cloud-api-reference.md
  docs/gravitee-cloud/reference/release-notes.md
  docs/gravitee-cloud/reference/service-level-agreement.md
  docs/gravitee-cloud/reference/upgrade-policy.md
  docs/gravitee-cloud/self-hosted/monitor-and-check-health-of-installations.md
  docs/gravitee-cloud/self-hosted/set-up-your-gravitee-cloud-hierarchy.md
Owners: @gravitee-io/tech-writers

gitbook[cr-124]: Backfill page descriptions
  docs/gravitee-cloud/getting-started/getting-started-with-gravitee-cloud.md
  docs/gravitee-cloud/getting-started/upgrading-your-trial-to-a-customer-account.md
  docs/gravitee-cloud/guides/account-token.md
  docs/gravitee-cloud/guides/add-environments.md
  docs/gravitee-cloud/guides/cloud-tokens.md
  docs/gravitee-cloud/guides/configure-sso.md
  docs/gravitee-cloud/guides/custom-domains.md
  docs/gravitee-cloud/guides/gravitee-hosted-gateways/delete-a-gravitee-hosted-gateway.md
  docs/gravitee-cloud/guides/promote-apis.md
  docs/gravitee-cloud/reference/cloud-api-reference.md
  docs/gravitee-cloud/reference/release-notes.md
  docs/gravitee-cloud/reference/service-level-agreement.md
  docs/gravitee-cloud/reference/upgrade-policy.md
  docs/gravitee-cloud/self-hosted/monitor-and-check-health-of-installations.md
  docs/gravitee-cloud/self-hosted/set-up-your-gravitee-cloud-hierarchy.md
Owners: @gravitee-io/tech-writers

gitbook[cr-68]: Backfill page descriptions
  docs/apid/README.md
  docs/apid/guides/api-designer-workspace/design-interface.md
  docs/apid/guides/api-designer-workspace/push-interface.md
Owners: @gravitee-io/tech-writers

gitbook[cr-68]: Backfill page descriptions
  docs/apid/README.md
  docs/apid/guides/api-designer-workspace/design-interface.md
  docs/apid/guides/api-designer-workspace/push-interface.md
Owners: @gravitee-io/tech-writers

gitbook[cr-43]: Backfill page descriptions
  docs/ae/README.md
  docs/ae/guides/dampening.md
  docs/ae/guides/integration-set-up/gravitee-api-management/gravitee-api-management-alerts-dashboard.md
  docs/ae/overview/architecture.md
  docs/ae/overview/integrations.md
  docs/ae/releases-and-changelog/page-6.md
Owners: @gravitee-io/tech-writers

gitbook[cr-43]: Backfill page descriptions
  docs/ae/README.md
  docs/ae/guides/dampening.md
  docs/ae/guides/integration-set-up/gravitee-api-management/gravitee-api-management-alerts-dashboard.md
  docs/ae/overview/architecture.md
  docs/ae/overview/integrations.md
  docs/ae/releases-and-changelog/page-6.md
Owners: @gravitee-io/tech-writers

gitbook[cr-4]: Backfill page descriptions
  docs/gko/4.3/README.md
  docs/gko/4.3/overview/compatibility-and-limitations.md
  docs/gko/4.3/reference/api-reference.md
  docs/gko/4.3/releases-and-changelog/changelog/gko-4.3.x.md
  docs/gko/4.3/releases-and-changelog/release-notes/gko-4.3.md
  docs/gko/4.3/releases-and-changelog/release-notes/gko-4.4.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

gitbook[cr-4]: Backfill page descriptions
  docs/gko/4.3/README.md
  docs/gko/4.3/overview/compatibility-and-limitations.md
  docs/gko/4.3/reference/api-reference.md
  docs/gko/4.3/releases-and-changelog/changelog/gko-4.3.x.md
  docs/gko/4.3/releases-and-changelog/release-notes/gko-4.3.md
  docs/gko/4.3/releases-and-changelog/release-notes/gko-4.4.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

gitbook[cr-44]: Backfill page descriptions
  docs/gko/4.6/README.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/installation/README.md
  docs/gko/4.6/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.6/getting-started/installation/install-with-helm.md
  docs/gko/4.6/getting-started/quickstart-guide.md
  docs/gko/4.6/guides/create-your-own-helm-charts.md
  docs/gko/4.6/guides/db-less-mode.md
  docs/gko/4.6/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.6/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.6/guides/gravitee-ingress-controller.md
  docs/gko/4.6/guides/multi-environment-architecture.md
  docs/gko/4.6/guides/publish-apis-to-the-portal.md
  docs/gko/4.6/guides/templating.md
  docs/gko/4.6/overview/compatibility-and-limitations.md
  docs/gko/4.6/overview/custom-resource-definitions/README.md
  docs/gko/4.6/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.6/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.6/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.6/overview/custom-resource-definitions/application.md
  docs/gko/4.6/overview/custom-resource-definitions/subscription.md
  docs/gko/4.6/overview/example-architecture.md
  docs/gko/4.6/reference/api-reference.md
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

gitbook[cr-44]: Backfill page descriptions
  docs/gko/4.6/README.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/installation/README.md
  docs/gko/4.6/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.6/getting-started/installation/install-with-helm.md
  docs/gko/4.6/getting-started/quickstart-guide.md
  docs/gko/4.6/guides/create-your-own-helm-charts.md
  docs/gko/4.6/guides/db-less-mode.md
  docs/gko/4.6/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.6/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.6/guides/gravitee-ingress-controller.md
  docs/gko/4.6/guides/multi-environment-architecture.md
  docs/gko/4.6/guides/publish-apis-to-the-portal.md
  docs/gko/4.6/guides/templating.md
  docs/gko/4.6/overview/compatibility-and-limitations.md
  docs/gko/4.6/overview/custom-resource-definitions/README.md
  docs/gko/4.6/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.6/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.6/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.6/overview/custom-resource-definitions/application.md
  docs/gko/4.6/overview/custom-resource-definitions/subscription.md
  docs/gko/4.6/overview/example-architecture.md
  docs/gko/4.6/reference/api-reference.md
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-14: Backfill page descriptions
  docs/gko/4.7/README.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.7/getting-started/installation/README.md
  docs/gko/4.7/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.7/getting-started/installation/install-with-helm.md
  docs/gko/4.7/getting-started/quickstart-guide.md
  docs/gko/4.7/guides/create-your-own-helm-charts.md
  docs/gko/4.7/guides/db-less-mode.md
  docs/gko/4.7/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.7/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.7/guides/gravitee-ingress-controller.md
  docs/gko/4.7/guides/multi-environment-architecture.md
  docs/gko/4.7/guides/publish-apis-to-the-portal.md
  docs/gko/4.7/guides/templating.md
  docs/gko/4.7/overview/compatibility-and-limitations.md
  docs/gko/4.7/overview/custom-resource-definitions/README.md
  docs/gko/4.7/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.7/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.7/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.7/overview/custom-resource-definitions/application.md
  docs/gko/4.7/overview/custom-resource-definitions/group.md
  docs/gko/4.7/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.7/overview/custom-resource-definitions/subscription.md
  docs/gko/4.7/overview/example-architecture.md
  docs/gko/4.7/reference/api-reference.md
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-14: Backfill page descriptions
  docs/gko/4.7/README.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.7/getting-started/installation/README.md
  docs/gko/4.7/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.7/getting-started/installation/install-with-helm.md
  docs/gko/4.7/getting-started/quickstart-guide.md
  docs/gko/4.7/guides/create-your-own-helm-charts.md
  docs/gko/4.7/guides/db-less-mode.md
  docs/gko/4.7/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.7/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.7/guides/gravitee-ingress-controller.md
  docs/gko/4.7/guides/multi-environment-architecture.md
  docs/gko/4.7/guides/publish-apis-to-the-portal.md
  docs/gko/4.7/guides/templating.md
  docs/gko/4.7/overview/compatibility-and-limitations.md
  docs/gko/4.7/overview/custom-resource-definitions/README.md
  docs/gko/4.7/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.7/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.7/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.7/overview/custom-resource-definitions/application.md
  docs/gko/4.7/overview/custom-resource-definitions/group.md
  docs/gko/4.7/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.7/overview/custom-resource-definitions/subscription.md
  docs/gko/4.7/overview/example-architecture.md
  docs/gko/4.7/reference/api-reference.md
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-9: Backfill page descriptions
  docs/gko/4.8/README.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.8/getting-started/installation/README.md
  docs/gko/4.8/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.8/getting-started/installation/install-with-helm.md
  docs/gko/4.8/getting-started/quickstart-guide.md
  docs/gko/4.8/guides/create-your-own-helm-charts.md
  docs/gko/4.8/guides/db-less-mode.md
  docs/gko/4.8/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.8/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.8/guides/gravitee-ingress-controller.md
  docs/gko/4.8/guides/multi-environment-architecture.md
  docs/gko/4.8/guides/publish-apis-to-the-portal.md
  docs/gko/4.8/guides/templating.md
  docs/gko/4.8/overview/compatibility-and-limitations.md
  docs/gko/4.8/overview/custom-resource-definitions/README.md
  docs/gko/4.8/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.8/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.8/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.8/overview/custom-resource-definitions/application.md
  docs/gko/4.8/overview/custom-resource-definitions/gatewayclassparameters.md
  docs/gko/4.8/overview/custom-resource-definitions/group.md
  docs/gko/4.8/overview/custom-resource-definitions/kafkaroute.md
  docs/gko/4.8/overview/custom-resource-definitions/notification.md
  docs/gko/4.8/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.8/overview/custom-resource-definitions/subscription.md
  docs/gko/4.8/overview/example-architecture.md
  docs/gko/4.8/reference/api-reference.md
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-9: Backfill page descriptions
  docs/gko/4.8/README.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.8/getting-started/installation/README.md
  docs/gko/4.8/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.8/getting-started/installation/install-with-helm.md
  docs/gko/4.8/getting-started/quickstart-guide.md
  docs/gko/4.8/guides/create-your-own-helm-charts.md
  docs/gko/4.8/guides/db-less-mode.md
  docs/gko/4.8/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.8/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.8/guides/gravitee-ingress-controller.md
  docs/gko/4.8/guides/multi-environment-architecture.md
  docs/gko/4.8/guides/publish-apis-to-the-portal.md
  docs/gko/4.8/guides/templating.md
  docs/gko/4.8/overview/compatibility-and-limitations.md
  docs/gko/4.8/overview/custom-resource-definitions/README.md
  docs/gko/4.8/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.8/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.8/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.8/overview/custom-resource-definitions/application.md
  docs/gko/4.8/overview/custom-resource-definitions/gatewayclassparameters.md
  docs/gko/4.8/overview/custom-resource-definitions/group.md
  docs/gko/4.8/overview/custom-resource-definitions/kafkaroute.md
  docs/gko/4.8/overview/custom-resource-definitions/notification.md
  docs/gko/4.8/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.8/overview/custom-resource-definitions/subscription.md
  docs/gko/4.8/overview/example-architecture.md
  docs/gko/4.8/reference/api-reference.md
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-5: Backfill page descriptions
  docs/gko/4.9/README.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/README.md
  docs/gko/4.9/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.9/getting-started/installation/install-with-helm.md
  docs/gko/4.9/getting-started/quickstart-guide.md
  docs/gko/4.9/guides/create-your-own-helm-charts.md
  docs/gko/4.9/guides/db-less-mode.md
  docs/gko/4.9/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.9/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.9/guides/gravitee-ingress-controller.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/guides/publish-apis-to-the-portal.md
  docs/gko/4.9/guides/templating.md
  docs/gko/4.9/overview/compatibility-and-limitations.md
  docs/gko/4.9/overview/custom-resource-definitions/README.md
  docs/gko/4.9/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.9/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.9/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.9/overview/custom-resource-definitions/application.md
  docs/gko/4.9/overview/custom-resource-definitions/gatewayclassparameters.md
  docs/gko/4.9/overview/custom-resource-definitions/group.md
  docs/gko/4.9/overview/custom-resource-definitions/kafkaroute.md
  docs/gko/4.9/overview/custom-resource-definitions/notification.md
  docs/gko/4.9/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.9/overview/custom-resource-definitions/subscription.md
  docs/gko/4.9/overview/example-architecture.md
  docs/gko/4.9/reference/api-reference.md
  docs/gko/4.9/releases-and-changelog/release-notes/gko-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-5: Backfill page descriptions
  docs/gko/4.9/README.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/README.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/configure-the-gateway-to-load-apis-from-local-configmaps.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/store-apis-in-local-configmaps.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/README.md
  docs/gko/4.9/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.9/getting-started/installation/install-with-helm.md
  docs/gko/4.9/getting-started/quickstart-guide.md
  docs/gko/4.9/guides/create-your-own-helm-charts.md
  docs/gko/4.9/guides/db-less-mode.md
  docs/gko/4.9/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.9/guides/deploy-apis-to-a-gateway.md
  docs/gko/4.9/guides/gravitee-ingress-controller.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/guides/publish-apis-to-the-portal.md
  docs/gko/4.9/guides/templating.md
  docs/gko/4.9/overview/compatibility-and-limitations.md
  docs/gko/4.9/overview/custom-resource-definitions/README.md
  docs/gko/4.9/overview/custom-resource-definitions/apidefinition.md
  docs/gko/4.9/overview/custom-resource-definitions/apiresource.md
  docs/gko/4.9/overview/custom-resource-definitions/apiv4definition.md
  docs/gko/4.9/overview/custom-resource-definitions/application.md
  docs/gko/4.9/overview/custom-resource-definitions/gatewayclassparameters.md
  docs/gko/4.9/overview/custom-resource-definitions/group.md
  docs/gko/4.9/overview/custom-resource-definitions/kafkaroute.md
  docs/gko/4.9/overview/custom-resource-definitions/notification.md
  docs/gko/4.9/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.9/overview/custom-resource-definitions/subscription.md
  docs/gko/4.9/overview/example-architecture.md
  docs/gko/4.9/reference/api-reference.md
  docs/gko/4.9/releases-and-changelog/release-notes/gko-4.9.md
Owners: @gravitee-io/tech-writers

gitbook[cr-594]: Backfill page descriptions
  docs/platform-overview/before-you-begin/api-fundamentals/README.md
  docs/platform-overview/before-you-begin/api-fundamentals/api-basics.md
  docs/platform-overview/before-you-begin/api-fundamentals/categorizing-web-apis.md
  docs/platform-overview/before-you-begin/api-fundamentals/web-apis.md
  docs/platform-overview/contribute/contribute-to-the-codebase.md
  docs/platform-overview/gravitee-platform/gravitee-offerings-ce-vs-ee/enterprise-edition-installation.md
  docs/platform-overview/gravitee-platform/gravitee-offerings-ce-vs-ee/enterprise-edition-licensing.md
  docs/platform-overview/gravitee-platform/release-schedule.md
Owners: @gravitee-io/tech-writers

gitbook[cr-594]: Backfill page descriptions
  docs/platform-overview/before-you-begin/api-fundamentals/README.md
  docs/platform-overview/before-you-begin/api-fundamentals/api-basics.md
  docs/platform-overview/before-you-begin/api-fundamentals/categorizing-web-apis.md
  docs/platform-overview/before-you-begin/api-fundamentals/web-apis.md
  docs/platform-overview/contribute/contribute-to-the-codebase.md
  docs/platform-overview/gravitee-platform/gravitee-offerings-ce-vs-ee/enterprise-edition-installation.md
  docs/platform-overview/gravitee-platform/gravitee-offerings-ce-vs-ee/enterprise-edition-licensing.md
  docs/platform-overview/gravitee-platform/release-schedule.md
Owners: @gravitee-io/tech-writers

GITBOOK-150: fix-broken-markdown
  docs/apim/4.9/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-150: fix-broken-markdown
  docs/apim/4.9/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-151: fix-broken-images
  docs/apim/4.9/.gitbook/assets/image (68).png
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-151: fix-broken-images
  docs/apim/4.9/.gitbook/assets/image (68).png
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
Owners: @gravitee-io/tech-writers

Fix some broken references
  docs/apim/4.0/getting-started/configuration/configure-notifications.md
  docs/apim/4.1/getting-started/configuration/configure-alerts-and-notifications.md
  docs/apim/4.1/guides/api-measurement-tracking-and-analytics/configure-alerts-and-notifications.md
  docs/apim/4.2/getting-started/configuration/notifications.md
  docs/apim/4.3/getting-started/configuration/notifications.md
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/apim-console/notifications.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/apim-console/configuring-notifications-and-alerts-for-your-apis.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/notifications.md
  docs/apim/4.6/gravitee-gateway/notifications.md
  docs/apim/4.7/expose-apis/applications/notifications.md
  docs/apim/4.7/gravitee-gateway/notifications.md
  docs/apim/4.8/configure-and-manage-the-platform/gravitee-gateway/notifications.md
  docs/apim/4.9/configure-and-manage-the-platform/gravitee-gateway/notifications.md
Owners: @gravitee-io/tech-writers

Fix some broken references
  docs/apim/4.0/getting-started/configuration/configure-notifications.md
  docs/apim/4.1/getting-started/configuration/configure-alerts-and-notifications.md
  docs/apim/4.1/guides/api-measurement-tracking-and-analytics/configure-alerts-and-notifications.md
  docs/apim/4.2/getting-started/configuration/notifications.md
  docs/apim/4.3/getting-started/configuration/notifications.md
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/apim-console/notifications.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/apim-console/configuring-notifications-and-alerts-for-your-apis.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/notifications.md
  docs/apim/4.6/gravitee-gateway/notifications.md
  docs/apim/4.7/expose-apis/applications/notifications.md
  docs/apim/4.7/gravitee-gateway/notifications.md
  docs/apim/4.8/configure-and-manage-the-platform/gravitee-gateway/notifications.md
  docs/apim/4.9/configure-and-manage-the-platform/gravitee-gateway/notifications.md
Owners: @gravitee-io/tech-writers

Fix more broken files
  docs/apim/4.0/getting-started/configuration/configure-notifications.md
  docs/apim/4.1/getting-started/configuration/configure-alerts-and-notifications.md
  docs/apim/4.1/guides/api-measurement-tracking-and-analytics/configure-alerts-and-notifications.md
  docs/apim/4.2/getting-started/configuration/notifications.md
  docs/apim/4.3/getting-started/configuration/notifications.md
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/apim-console/notifications.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/apim-console/configuring-notifications-and-alerts-for-your-apis.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/notifications.md
Owners: @gravitee-io/tech-writers

Fix more broken files
  docs/apim/4.0/getting-started/configuration/configure-notifications.md
  docs/apim/4.1/getting-started/configuration/configure-alerts-and-notifications.md
  docs/apim/4.1/guides/api-measurement-tracking-and-analytics/configure-alerts-and-notifications.md
  docs/apim/4.2/getting-started/configuration/notifications.md
  docs/apim/4.3/getting-started/configuration/notifications.md
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/apim-console/notifications.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/apim-console/configuring-notifications-and-alerts-for-your-apis.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/notifications.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.6.25
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.19
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.13
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.6
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

Continue fixing imports
  docs/apim/4.3/guides/api-exposure-plans-applications-and-subscriptions/subscriptions.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/subscriptions.md
  docs/apim/4.5/using-the-product/managing-your-apis/preparing-apis-for-subscribers/subscriptions.md
  docs/apim/4.6/kafka-gateway/subscriptions.md
  docs/apim/4.7/expose-apis/subscriptions.md
  docs/apim/4.7/kafka-gateway/subscriptions.md
  docs/apim/4.8/kafka-gateway/subscriptions.md
  docs/apim/4.8/secure-and-expose-apis/subscriptions/manage-subscriptions.md
  docs/apim/4.9/configure-and-manage-the-platform/gravitee-gateway/notifications.md
  docs/apim/4.9/kafka-gateway/subscriptions.md
  docs/apim/4.9/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
