Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs: add changelog for gko-4.9.9
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.9
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.10
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.10
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.10
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

second draft of release notes
  trial-runs/APIM_4.10_Release_Notes2.md
  trial-runs/SUMMARY.md
Owners: @gravitee-io/tech-writers

second draft of release notes
  trial-runs/APIM_4.10_Release_Notes2.md
  trial-runs/SUMMARY.md
Owners: @gravitee-io/tech-writers

gpt writer trial
  trial-runs/SUMMARY.md
  trial-runs/mcp-docs.md
Owners: @gravitee-io/tech-writers

gpt writer trial
  trial-runs/SUMMARY.md
  trial-runs/mcp-docs.md
Owners: @gravitee-io/tech-writers

sync mcp trial
  trial-runs/mcp-docs-citations.md
  trial-runs/mcp-docs.md
Owners: @gravitee-io/tech-writers

sync mcp trial
  trial-runs/mcp-docs-citations.md
  trial-runs/mcp-docs.md
Owners: @gravitee-io/tech-writers

Simplify Helm install command formatting
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-on-kubernetes/apim-helm-install-and-configuration.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.8
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.30
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.26
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.18
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.8
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.8
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.18
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.18
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.26
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.26
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.30
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.30
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

GITBOOK-3: No subject
  trial-runs/README.md
  trial-runs/SUMMARY.md
  trial-runs/peer-review-gpt/README.md
  trial-runs/peer-review-gpt/beta-testing/README.md
  trial-runs/peer-review-gpt/beta-testing/sample-c-changelog.md
  trial-runs/peer-review-gpt/beta-testing/sample-c-reviewed.md
  trial-runs/peer-review-gpt/beta-testing/sample-c-suggestions.md
  trial-runs/peer-review-gpt/beta-testing/sample-c.md
  trial-runs/peer-review-gpt/test-1/README.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.change-log.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.peer-reviewed.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.suggestions.md
  trial-runs/peer-review-gpt/test-1/readme.md
  trial-runs/peer-review-gpt/test-2/README.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.change-log.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.peer-reviewed.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.suggestions.md
  trial-runs/peer-review-gpt/test-3/README.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.change-log.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.peer-reviewed.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.suggestions.md
  trial-runs/release-notes/README.md
  trial-runs/release-notes/apim_4.10_release_notes.md
  trial-runs/release-notes/apim_4.10_release_notes2.md
  trial-runs/writer-gpt/mcp-apis/README.md
  trial-runs/writer-gpt/mcp-apis/mcp-apis.pdf.writer-output.md
  trial-runs/writer-gpt/mcp-apis/mcp-docs.md
  trial-runs/writer-gpt/webhook-logs/README.md
  trial-runs/writer-gpt/webhook-logs/webhook-logs.writer-output.md
Owners: @gravitee-io/tech-writers

GITBOOK-3: No subject
  trial-runs/README.md
  trial-runs/SUMMARY.md
  trial-runs/peer-review-gpt/README.md
  trial-runs/peer-review-gpt/beta-testing/README.md
  trial-runs/peer-review-gpt/beta-testing/sample-c-changelog.md
  trial-runs/peer-review-gpt/beta-testing/sample-c-reviewed.md
  trial-runs/peer-review-gpt/beta-testing/sample-c-suggestions.md
  trial-runs/peer-review-gpt/beta-testing/sample-c.md
  trial-runs/peer-review-gpt/test-1/README.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.change-log.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.peer-reviewed.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.suggestions.md
  trial-runs/peer-review-gpt/test-1/readme.md
  trial-runs/peer-review-gpt/test-2/README.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.change-log.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.peer-reviewed.md
  trial-runs/peer-review-gpt/test-2/configure-authentication-with-sso.suggestions.md
  trial-runs/peer-review-gpt/test-3/README.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.change-log.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.peer-reviewed.md
  trial-runs/peer-review-gpt/test-3/enforce-user-authentication.suggestions.md
  trial-runs/release-notes/README.md
  trial-runs/release-notes/apim_4.10_release_notes.md
  trial-runs/release-notes/apim_4.10_release_notes2.md
  trial-runs/writer-gpt/mcp-apis/README.md
  trial-runs/writer-gpt/mcp-apis/mcp-apis.pdf.writer-output.md
  trial-runs/writer-gpt/mcp-apis/mcp-docs.md
  trial-runs/writer-gpt/webhook-logs/README.md
  trial-runs/writer-gpt/webhook-logs/webhook-logs.writer-output.md
Owners: @gravitee-io/tech-writers

GITBOOK-4: No subject
  trial-runs/SUMMARY.md
  trial-runs/webhook-logs.writer-notes.md
Owners: @gravitee-io/tech-writers

GITBOOK-4: No subject
  trial-runs/SUMMARY.md
  trial-runs/webhook-logs.writer-notes.md
Owners: @gravitee-io/tech-writers

GITBOOK-5: No subject
  trial-runs/SUMMARY.md
  trial-runs/writer-gpt/webhook-logs/webhook-logs.writer-notes.md
Owners: @gravitee-io/tech-writers

GITBOOK-5: No subject
  trial-runs/SUMMARY.md
  trial-runs/writer-gpt/webhook-logs/webhook-logs.writer-notes.md
Owners: @gravitee-io/tech-writers

file rename
  trial-runs/peer-review-gpt/test-1/README.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.md
Owners: @gravitee-io/tech-writers

file rename
  trial-runs/peer-review-gpt/test-1/README.md
  trial-runs/peer-review-gpt/test-1/configure-authentication-with-login-and-password.md
Owners: @gravitee-io/tech-writers

move file
  trial-runs/writer-gpt/mcp-apis/mcp-docs-citations.md
Owners: @gravitee-io/tech-writers

move file
  trial-runs/writer-gpt/mcp-apis/mcp-docs-citations.md
Owners: @gravitee-io/tech-writers

GITBOOK-17: 4.10 - changelogs & release notes
  docs/am/draft-4.10/.gitbook/assets/image (1) (1).png
  docs/am/draft-4.10/.gitbook/assets/image (1).png
  docs/am/draft-4.10/.gitbook/assets/image (2) (1).png
  docs/am/draft-4.10/.gitbook/assets/image (2).png
  docs/am/draft-4.10/.gitbook/assets/image.png
  docs/am/draft-4.10/SUMMARY.md
  docs/am/draft-4.10/getting-started/configuration/configure-repositories.md
  docs/am/draft-4.10/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/draft-4.10/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/draft-4.10/getting-started/install-and-upgrade-guides/deploy-in-kubernetes.md
  docs/am/draft-4.10/guides/audit-trail.md
  docs/am/draft-4.10/guides/login/certificate-based-authentication.md
  docs/am/draft-4.10/overview/plugins/compatibility-matrices.md
  docs/am/draft-4.10/reference/am-api-reference.md
  docs/am/draft-4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/draft-4.10/releases-and-changelog/changelog/am-4.9.x.md
  docs/am/draft-4.10/releases-and-changelog/release-notes/am-4.10.md
  docs/am/draft-4.10/releases-and-changelog/release-notes/am-4.9.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-17: 4.10 - changelogs & release notes
  docs/am/draft-4.10/.gitbook/assets/image (1) (1).png
  docs/am/draft-4.10/.gitbook/assets/image (1).png
  docs/am/draft-4.10/.gitbook/assets/image (2) (1).png
  docs/am/draft-4.10/.gitbook/assets/image (2).png
  docs/am/draft-4.10/.gitbook/assets/image.png
  docs/am/draft-4.10/SUMMARY.md
  docs/am/draft-4.10/getting-started/configuration/configure-repositories.md
  docs/am/draft-4.10/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/draft-4.10/getting-started/install-and-upgrade-guides/configure-a-production-ready-am-environment.md
  docs/am/draft-4.10/getting-started/install-and-upgrade-guides/deploy-in-kubernetes.md
  docs/am/draft-4.10/guides/audit-trail.md
  docs/am/draft-4.10/guides/login/certificate-based-authentication.md
  docs/am/draft-4.10/overview/plugins/compatibility-matrices.md
  docs/am/draft-4.10/reference/am-api-reference.md
  docs/am/draft-4.10/releases-and-changelog/changelog/am-4.10.x.md
  docs/am/draft-4.10/releases-and-changelog/changelog/am-4.9.x.md
  docs/am/draft-4.10/releases-and-changelog/release-notes/am-4.10.md
  docs/am/draft-4.10/releases-and-changelog/release-notes/am-4.9.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-199: link fix
  docs/apim/4.9/prepare-a-production-environment/sensitive-data-management/configure-secrets/reference-secrets-in-configurations.md
Owners: @gravitee-io/tech-writers

GITBOOK-199: link fix
  docs/apim/4.9/prepare-a-production-environment/sensitive-data-management/configure-secrets/reference-secrets-in-configurations.md
Owners: @gravitee-io/tech-writers

4.10 space
  docs/apim/4.10/placeholder.md
Owners: @gravitee-io/tech-writers

4.10 space
  docs/apim/4.10/placeholder.md
Owners: @gravitee-io/tech-writers
