Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

chore: add changelog for 4.9.12
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.3
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.30
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.30
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.23
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.23
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.12
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.12
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.3
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.3
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

fix vale workflow
  .github/workflows/vale.yml
Owners: @gravitee-io/tech-writers

clean up vale repo and delete old docs used in testing
  docs/test-comments.go
  docs/test-comments.js
  docs/test-comments.py
  docs/test-comments.sh
  docs/test-vale-bad.md
  docs/test-vale-good.md
Owners: @gravitee-io/tech-writers

add test file another
  docs/apim/4.10/ test-bad.md
Owners: @gravitee-io/tech-writers

add test file another
  docs/apim/4.10/ test-bad.md
Owners: @gravitee-io/tech-writers

add updated test content
  docs/apim/4.10/ test-bad.md
Owners: @gravitee-io/tech-writers

gitbook[cr-215]: fixed-named-groups
  docs/apim/4.0/.gitbook/assets/Configure flow mode (1).png
  docs/apim/4.0/.gitbook/assets/file (1).excalidraw%20\(4\
  docs/apim/4.0/.gitbook/assets/image (37) (1).png
  docs/apim/4.0/.gitbook/assets/image (38) (1).png
  docs/apim/4.0/.gitbook/assets/image (39) (1).png
  docs/apim/4.0/.gitbook/assets/image (40) (1).png
  docs/apim/4.0/.gitbook/assets/image (42) (1).png
  docs/apim/4.0/.gitbook/assets/image (43) (1).png
  docs/apim/4.0/.gitbook/assets/policy studio_flow (1).png
  docs/apim/4.0/guides/api-configuration/v2-api-configuration/configure-user-and-group-access.md
  docs/apim/4.0/guides/api-measurement-tracking-and-analytics/configure-the-dashboard-with-custom-api-analytics.md
  docs/apim/4.0/guides/create-apis/the-api-creation-wizard/v4-api-creation-wizard.md
  docs/apim/4.0/guides/developer-portal/configuration/user-management.md
  docs/apim/4.0/guides/policy-studio/v2-api-policy-studio.md
  docs/apim/4.0/guides/policy-studio/v4-api-policy-studio.md
  docs/apim/4.0/overview/apim-architecture.md
  docs/apim/4.0/reference/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

gitbook[cr-215]: fixed-named-groups
  docs/apim/4.0/.gitbook/assets/Configure flow mode (1).png
  docs/apim/4.0/.gitbook/assets/file (1).excalidraw%20\(4\
  docs/apim/4.0/.gitbook/assets/image (37) (1).png
  docs/apim/4.0/.gitbook/assets/image (38) (1).png
  docs/apim/4.0/.gitbook/assets/image (39) (1).png
  docs/apim/4.0/.gitbook/assets/image (40) (1).png
  docs/apim/4.0/.gitbook/assets/image (42) (1).png
  docs/apim/4.0/.gitbook/assets/image (43) (1).png
  docs/apim/4.0/.gitbook/assets/policy studio_flow (1).png
  docs/apim/4.0/guides/api-configuration/v2-api-configuration/configure-user-and-group-access.md
  docs/apim/4.0/guides/api-measurement-tracking-and-analytics/configure-the-dashboard-with-custom-api-analytics.md
  docs/apim/4.0/guides/create-apis/the-api-creation-wizard/v4-api-creation-wizard.md
  docs/apim/4.0/guides/developer-portal/configuration/user-management.md
  docs/apim/4.0/guides/policy-studio/v2-api-policy-studio.md
  docs/apim/4.0/guides/policy-studio/v4-api-policy-studio.md
  docs/apim/4.0/overview/apim-architecture.md
  docs/apim/4.0/reference/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

gitbook[cr-319]: fix-named-groups-dynamic-routing
  docs/apim/4.1/.gitbook/assets/Configure flow mode (1).png
  docs/apim/4.1/.gitbook/assets/file.excalidraw (11) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (12) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (4) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (5) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (7) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (9) (1).svg
  docs/apim/4.1/.gitbook/assets/image (37) (1).png
  docs/apim/4.1/.gitbook/assets/image (38) (1).png
  docs/apim/4.1/.gitbook/assets/image (39) (1).png
  docs/apim/4.1/.gitbook/assets/image (40) (1).png
  docs/apim/4.1/.gitbook/assets/image (42) (1).png
  docs/apim/4.1/.gitbook/assets/image (43) (1).png
  docs/apim/4.1/.gitbook/assets/image (52) (1).png
  docs/apim/4.1/.gitbook/assets/policy studio_flow (1).png
  docs/apim/4.1/getting-started/configuration/authentication-and-sso.md
  docs/apim/4.1/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.1/getting-started/quickstart-guide/README.md
  docs/apim/4.1/getting-started/quickstart-guide/gateway-apis-101-traditional-and-message-proxies/README.md
  docs/apim/4.1/getting-started/quickstart-guide/gateway-apis-101-traditional-and-message-proxies/message-proxy.md
  docs/apim/4.1/getting-started/quickstart-guide/gateway-apis-101-traditional-and-message-proxies/traditional-proxy.md
  docs/apim/4.1/getting-started/quickstart-guide/plans-and-policies-101.md
  docs/apim/4.1/guides/api-configuration/v2-api-configuration/configure-user-and-group-access.md
  docs/apim/4.1/guides/api-configuration/v4-api-configuration/configure-user-and-group-access.md
  docs/apim/4.1/guides/api-measurement-tracking-and-analytics/how-to.md
  docs/apim/4.1/guides/create-apis/how-to/v4-api-creation-wizard.md
  docs/apim/4.1/guides/developer-portal/advanced-developer-portal-configuration/user-management.md
  docs/apim/4.1/guides/policy-design/v2-api-policy-design-studio.md
  docs/apim/4.1/guides/policy-design/v4-api-policy-design-studio.md
  docs/apim/4.1/overview/apim-architecture.md
  docs/apim/4.1/reference/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

gitbook[cr-319]: fix-named-groups-dynamic-routing
  docs/apim/4.1/.gitbook/assets/Configure flow mode (1).png
  docs/apim/4.1/.gitbook/assets/file.excalidraw (11) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (12) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (4) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (5) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (7) (1).svg
  docs/apim/4.1/.gitbook/assets/file.excalidraw (9) (1).svg
  docs/apim/4.1/.gitbook/assets/image (37) (1).png
  docs/apim/4.1/.gitbook/assets/image (38) (1).png
  docs/apim/4.1/.gitbook/assets/image (39) (1).png
  docs/apim/4.1/.gitbook/assets/image (40) (1).png
  docs/apim/4.1/.gitbook/assets/image (42) (1).png
  docs/apim/4.1/.gitbook/assets/image (43) (1).png
  docs/apim/4.1/.gitbook/assets/image (52) (1).png
  docs/apim/4.1/.gitbook/assets/policy studio_flow (1).png
  docs/apim/4.1/getting-started/configuration/authentication-and-sso.md
  docs/apim/4.1/getting-started/hybrid-deployment/advanced-hybrid-deployment.md
  docs/apim/4.1/getting-started/quickstart-guide/README.md
  docs/apim/4.1/getting-started/quickstart-guide/gateway-apis-101-traditional-and-message-proxies/README.md
  docs/apim/4.1/getting-started/quickstart-guide/gateway-apis-101-traditional-and-message-proxies/message-proxy.md
  docs/apim/4.1/getting-started/quickstart-guide/gateway-apis-101-traditional-and-message-proxies/traditional-proxy.md
  docs/apim/4.1/getting-started/quickstart-guide/plans-and-policies-101.md
  docs/apim/4.1/guides/api-configuration/v2-api-configuration/configure-user-and-group-access.md
  docs/apim/4.1/guides/api-configuration/v4-api-configuration/configure-user-and-group-access.md
  docs/apim/4.1/guides/api-measurement-tracking-and-analytics/how-to.md
  docs/apim/4.1/guides/create-apis/how-to/v4-api-creation-wizard.md
  docs/apim/4.1/guides/developer-portal/advanced-developer-portal-configuration/user-management.md
  docs/apim/4.1/guides/policy-design/v2-api-policy-design-studio.md
  docs/apim/4.1/guides/policy-design/v4-api-policy-design-studio.md
  docs/apim/4.1/overview/apim-architecture.md
  docs/apim/4.1/reference/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

gitbook[cr-225]: fix-named-groups-dynamic-routing
  docs/apim/4.2/getting-started/quickstart-guide/README.md
  docs/apim/4.2/guides/api-configuration/v2-api-configuration/configure-user-and-group-access.md
  docs/apim/4.2/reference/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

gitbook[cr-225]: fix-named-groups-dynamic-routing
  docs/apim/4.2/getting-started/quickstart-guide/README.md
  docs/apim/4.2/guides/api-configuration/v2-api-configuration/configure-user-and-group-access.md
  docs/apim/4.2/reference/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

GITBOOK-297: fix-named-group-and-policy-reference
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

GITBOOK-297: fix-named-group-and-policy-reference
  docs/apim/4.10/create-and-configure-apis/apply-policies/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

GITBOOK-20: fix-named-group-policy-reference
  docs/apim/4.9/.gitbook/assets/image (38) (4) (1) (1) (2).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

GITBOOK-20: fix-named-group-policy-reference
  docs/apim/4.9/.gitbook/assets/image (38) (4) (1) (1) (2).png
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

GITBOOK-564: No subject
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

GITBOOK-564: No subject
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/dynamic-routing.md
Owners: @gravitee-io/tech-writers

gitbook[cr-195]: using-regular-expression-and-dynamic-routing
  docs/apim/4.5/installation-and-upgrades/install-on-kubernetes.md
  docs/apim/4.5/overview/readme/architecture.md
  docs/apim/4.5/using-the-product/managing-your-apis/policy-studio/policies-for-your-apis/d-h/dynamic-routing.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/tenants.md
Owners: @gravitee-io/tech-writers

gitbook[cr-195]: using-regular-expression-and-dynamic-routing
  docs/apim/4.5/installation-and-upgrades/install-on-kubernetes.md
  docs/apim/4.5/overview/readme/architecture.md
  docs/apim/4.5/using-the-product/managing-your-apis/policy-studio/policies-for-your-apis/d-h/dynamic-routing.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/tenants.md
Owners: @gravitee-io/tech-writers

set up AM 4.11
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.11/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

set up AM 4.11
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.11/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-299: fix-broken-links-in-configure-secrets-page
  docs/apim/4.10/prepare-a-production-environment/sensitive-data-management/README.md
  docs/apim/4.9/.gitbook/includes/untitled (1).md
Owners: @gravitee-io/tech-writers

GITBOOK-299: fix-broken-links-in-configure-secrets-page
  docs/apim/4.10/prepare-a-production-environment/sensitive-data-management/README.md
  docs/apim/4.9/.gitbook/includes/untitled (1).md
Owners: @gravitee-io/tech-writers

GITBOOK-21: fix-broken-url
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/prepare-a-production-environment/sensitive-data-management/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-21: fix-broken-url
  docs/apim/4.9/.gitbook/includes/untitled (1).md
  docs/apim/4.9/prepare-a-production-environment/sensitive-data-management/README.md
Owners: @gravitee-io/tech-writers

Docs Update: am-6339
  docs/am/4.11/.version-overrides
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/getting-started/configuration/configure-monitoring.md
  docs/am/4.11/getting-started/configuration/domain-secrets/README.md
  docs/am/4.11/guides/administration.md
  docs/am/4.11/guides/auth-protocols/oauth-2.0/extension-grants.md
  docs/am/4.11/guides/certificates/README.md
  docs/am/4.11/guides/certificates/certificate-fallback-reference.md
  docs/am/4.11/overview/open-source-vs-enterprise-am/README.md
  docs/am/4.11/reference/am-api-reference.md
  docs/am/4.11/release-information/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers

Docs Update: am-6339
  docs/am/4.11/.version-overrides
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/getting-started/tutorial-getting-started-with-am/login-to-am-console.md
  docs/am/4.11/guides/administration.md
  docs/am/4.11/guides/certificates/README.md
  docs/am/4.11/guides/certificates/certificate-fallback.md
  docs/am/4.11/release-information/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers

Docs Update: am-6321
  docs/am/4.11/.version-overrides
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/getting-started/tutorial-getting-started-with-am/secure-your-apis/configure-generic-oauth2-authorization-server.md
  docs/am/4.11/guides/applications/client-secrets.md
  docs/am/4.11/guides/audit-trail.md
  docs/am/4.11/guides/auth-protocols/oauth-2.0/README.md
  docs/am/4.11/guides/auth-protocols/oauth-2.0/extension-grants.md
  docs/am/4.11/guides/auth-protocols/uma-2.0.md
  docs/am/4.11/guides/auth-protocols/uma-2.0/protected-resource-secrets.md
  docs/am/4.11/guides/certificates/README.md
  docs/am/4.11/guides/mcp-servers/create-an-mcp-server.md
  docs/am/4.11/guides/mcp-servers/secret-management.md
  docs/am/4.11/guides/mcp-servers/token-exchange.md
  docs/am/4.11/reference/am-api-reference.md
  docs/am/4.11/release-information/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers

fix: version-sync handles filenames with spaces
  .github/scripts/sync_versions.py
  .github/workflows/version-sync.yml
Owners: @gravitee-io/tech-writers

fix: version-sync handles filenames with spaces
  .github/scripts/sync_versions.py
  .github/workflows/version-sync.yml
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
