Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

SME review updates
  docs/apim/4.12/govern-apis/federation/federated-apis.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.12/govern-apis/federation/federated-apis.md
  docs/apim/4.12/govern-apis/federation/federated-apis.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14120 — Federated API Access Information Display [code+dev-prs] (#1788)
  docs/apim/4.12/.gitbook/assets/federated-api-catalog-view.png
  docs/apim/4.12/.gitbook/assets/federated-api-console-subscriptions.png
  docs/apim/4.12/.gitbook/assets/federated-api-plans-list.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/developer-portal.md
  docs/apim/4.12/govern-apis/federation/federated-apis.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14120 — Federated API Access Information Display [code+dev-prs] (#1788)
  docs/apim/4.12/.gitbook/assets/federated-api-catalog-view.png
  docs/apim/4.12/.gitbook/assets/federated-api-console-subscriptions.png
  docs/apim/4.12/.gitbook/assets/federated-api-plans-list.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/developer-portal.md
  docs/apim/4.12/govern-apis/federation/federated-apis.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

TW review
  docs/am/4.12/getting-started/configuration/configure-reporters.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/guides/login/passwordless-w3c-webauthn.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

Update docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

docs(am/4.12): document 4.12 changes for AM 4.12 (#1774)
  docs/am/4.12/getting-started/configuration/configure-reporters.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/guides/login/passwordless-w3c-webauthn.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

docs(am/4.12): document 4.12 changes for AM 4.12 (#1774)
  docs/am/4.12/getting-started/configuration/configure-reporters.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/guides/login/passwordless-w3c-webauthn.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1797)
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

[sync] apim: 4.11 → 4.12 (#1797)
  docs/apim/4.12/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.9 (#1785)
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.9 (#1785)
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

[sync] am: 4.11 → 4.12
  docs/am/4.12/getting-started/configuration/configure-reporters.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/guides/login/passwordless-w3c-webauthn.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

Docs Update: apim-14411
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/documentation.md
  docs/apim/4.12/developer-portal/new-developer-portal/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-cascade-operations.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/documentation.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13625
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/gateway-cluster-sync-with-redis/gateway-cluster-sync-with-redis-using-kubernetes-helm.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/configure-cache-policies-to-use-redis-cache-resources.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/create-and-configure-redis-cache-resources.md
  docs/apim/4.12/create-and-configure-apis/apply-policies/policy-reference/oauth2/README.md
  docs/apim/4.12/prepare-a-production-environment/repositories/README.md
  docs/apim/4.12/prepare-a-production-environment/repositories/redis.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1798)
  docs/am/4.12/getting-started/configuration/configure-reporters.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/guides/login/passwordless-w3c-webauthn.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

[sync] am: 4.11 → 4.12 (#1798)
  docs/am/4.12/getting-started/configuration/configure-reporters.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.12/guides/login/passwordless-w3c-webauthn.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

TW review
  docs/am/4.12/getting-started/install-and-upgrade-guides/upgrade-guide.md
  docs/am/4.12/guides/applications/README.md
  docs/am/4.12/reference/application-filtering-cursor-pagination-and-expand-parameters.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

updates based of of vale
  docs/am/4.12/reference/application-filtering-cursor-pagination-and-expand-parameters.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: AM-6980 — Application Filtering, Cursor Pagination, and Expand Parameters [code+dev-prs] (#1664)
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/upgrade-guide.md
  docs/am/4.12/guides/applications/README.md
  docs/am/4.12/reference/application-filtering-cursor-pagination-and-expand-parameters.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: AM-6980 — Application Filtering, Cursor Pagination, and Expand Parameters [code+dev-prs] (#1664)
  docs/am/4.12/.version-overrides
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/getting-started/install-and-upgrade-guides/upgrade-guide.md
  docs/am/4.12/guides/applications/README.md
  docs/am/4.12/reference/application-filtering-cursor-pagination-and-expand-parameters.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.12.md
Owners: @gravitee-io/tech-writers

TW review
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/applications.md
  docs/apim/4.12/management-api-reference.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/applications/user-and-group-access.md
Owners: @gravitee-io/tech-writers

Vale updates
  docs/apim/4.12/secure-and-expose-apis/applications/user-and-group-access.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-11584 — Application Membership Management [code] (#1769)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/applications.md
  docs/apim/4.12/management-api-reference.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/applications/user-and-group-access.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-11584 — Application Membership Management [code] (#1769)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/applications.md
  docs/apim/4.12/management-api-reference.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/applications/user-and-group-access.md
Owners: @gravitee-io/tech-writers

docs: remove unrelated changes and unnecessary references to previous versions.
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/documentation.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-cascade-operations.md
  docs/apim/4.12/kafka-gateway/create-and-configure-kafka-apis/configure-kafka-apis/documentation.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14357
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-03.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-04.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-05.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-06.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-07.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-08.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-09.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-10.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-11.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-12.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-13.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/sharding-tags.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/api-products/configure-api-product-deployment-with-sharding-tags.md
  docs/apim/4.12/secure-and-expose-apis/api-products/configure-plan-deployment-with-sharding-tags.md
  docs/apim/4.12/secure-and-expose-apis/api-products/console-ui-reference.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14357
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-03.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-04.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-05.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-06.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-07.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-08.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-09.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-10.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-11.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/sharding-tags.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/api-products/deploy-api-product-plans-to-specific-gateways.md
  docs/apim/4.12/secure-and-expose-apis/api-products/deploy-api-products-to-specific-gateways.md
  docs/apim/4.12/secure-and-expose-apis/api-products/manage-api-products-via-management-api.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14357
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-03.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-04.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-05.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-06.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-07.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-08.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/sharding-tags.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/api-products/configure-plan-deployment.md
  docs/apim/4.12/secure-and-expose-apis/api-products/console-ui-reference.md
  docs/apim/4.12/secure-and-expose-apis/plans/README.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-14357
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-03.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-04.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-05.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-06.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-07.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-08.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-09.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-10.png
  docs/apim/4.12/.gitbook/assets/apim-api-product-sharding-tags-step-11.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/sharding-tags.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/configure-organization-sharding-tags-and-entrypoints.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
  docs/apim/4.12/secure-and-expose-apis/api-products/api-product-deployment-configuration-overview.md
  docs/apim/4.12/secure-and-expose-apis/api-products/console-ui-reference.md
  docs/apim/4.12/secure-and-expose-apis/api-products/manage-plan-deployment-with-sharding-tags.md
Owners: @gravitee-io/tech-writers

docs: document JSON Validation policy response error key correction in 4.12 breaking changes
  docs/apim/4.12/release-information/breaking-changes-and-deprecations.md
Owners: @gravitee-io/tech-writers

chore: add breaking-changes page to 4.12 version overrides
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

TW Review
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-cascade-operations.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14411 — Portal Navigation Management [code+dev-prs] (#1799)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/developer-portal/new-developer-portal/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-cascade-operations.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

AGENT-DRAFT: APIM-14411 — Portal Navigation Management [code+dev-prs] (#1799)
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/developer-portal/new-developer-portal/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/README.md
  docs/apim/4.12/developer-portal/new-developer-portal/customize-the-navigation/portal-navigation-cascade-operations.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

docs: add "subtree" to Vale accept.txt vocabulary
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

GITBOOK-95: No subject
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
Owners: @gravitee-io/tech-writers

GITBOOK-95: No subject
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
Owners: @gravitee-io/tech-writers

docs: add "subtree" to Vale accept.txt vocabulary
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs: add "subtree" to Vale accept.txt vocabulary
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
