Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

remove category layout section from NG docs
  docs/apim/4.10/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.11/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.12/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.7/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.8/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.9/developer-portal/new-developer-portal/layout-and-theme.md
Owners: @gravitee-io/tech-writers

docs(apim): add classic-cloud README to 4.12 version-overrides
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

docs(apim): add 4.12 to classic cloud Bridge/Gateway compatibility tables
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

docs(apim): add 4.12 to classic cloud Bridge/Gateway compatibility tables
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

docs(apim): add classic-cloud README to 4.12 version-overrides
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

update based off of SME review
  docs/apim/4.10/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.7/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.8/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.9/developer-portal/new-developer-portal/layout-and-theme.md
Owners: @gravitee-io/tech-writers

remove category layout section from NG docs (#1858)
  docs/apim/4.11/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.12/developer-portal/new-developer-portal/layout-and-theme.md
Owners: @gravitee-io/tech-writers

remove category layout section from NG docs (#1858)
  docs/apim/4.11/developer-portal/new-developer-portal/layout-and-theme.md
  docs/apim/4.12/developer-portal/new-developer-portal/layout-and-theme.md
Owners: @gravitee-io/tech-writers

[sync] am: 4.11 → 4.12 (#1857)
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

[sync] am: 4.11 → 4.12 (#1857)
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

Add support-model.md to version overrides
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

Add support-model.md to version overrides
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

Add support-model.md to version overrides
  docs/apim/4.12/.version-overrides
Owners: @gravitee-io/tech-writers

update EOL table with 4.12 version (#1851)
  docs/apim/4.12/release-information/support-model.md
Owners: @gravitee-io/tech-writers

update EOL table with 4.12 version (#1851)
  docs/apim/4.12/release-information/support-model.md
Owners: @gravitee-io/tech-writers

chore(redirects): update am and gko redirects from modernized pipeline (#1847)
  docs/am/4.0/.gitbook.yaml
  docs/am/4.1/.gitbook.yaml
  docs/am/4.10/.gitbook.yaml
  docs/am/4.11/.gitbook.yaml
  docs/am/4.12/.gitbook.yaml
  docs/am/4.3/.gitbook.yaml
  docs/am/4.4/.gitbook.yaml
  docs/am/4.6/.gitbook.yaml
  docs/am/4.7/.gitbook.yaml
  docs/am/4.8/.gitbook.yaml
  docs/am/4.9/.gitbook.yaml
  docs/gko/4.10/.gitbook.yaml
  docs/gko/4.11/.gitbook.yaml
  docs/gko/4.12/.gitbook.yaml
  docs/gko/4.3/.gitbook.yaml
  docs/gko/4.4/.gitbook.yaml
  docs/gko/4.5/.gitbook.yaml
  docs/gko/4.6/.gitbook.yaml
  docs/gko/4.7/.gitbook.yaml
  docs/gko/4.8/.gitbook.yaml
  docs/gko/4.9/.gitbook.yaml
Owners: @gravitee-io/tech-writers

chore(redirects): update am and gko redirects from modernized pipeline (#1847)
  docs/am/4.0/.gitbook.yaml
  docs/am/4.1/.gitbook.yaml
  docs/am/4.10/.gitbook.yaml
  docs/am/4.11/.gitbook.yaml
  docs/am/4.12/.gitbook.yaml
  docs/am/4.3/.gitbook.yaml
  docs/am/4.4/.gitbook.yaml
  docs/am/4.6/.gitbook.yaml
  docs/am/4.7/.gitbook.yaml
  docs/am/4.8/.gitbook.yaml
  docs/am/4.9/.gitbook.yaml
  docs/gko/4.10/.gitbook.yaml
  docs/gko/4.11/.gitbook.yaml
  docs/gko/4.12/.gitbook.yaml
  docs/gko/4.3/.gitbook.yaml
  docs/gko/4.4/.gitbook.yaml
  docs/gko/4.5/.gitbook.yaml
  docs/gko/4.6/.gitbook.yaml
  docs/gko/4.7/.gitbook.yaml
  docs/gko/4.8/.gitbook.yaml
  docs/gko/4.9/.gitbook.yaml
Owners: @gravitee-io/tech-writers

chore(apim): update semantic redirects for 4.0-4.12 (#1846)
  docs/apim/4.0/.gitbook.yaml
  docs/apim/4.1/.gitbook.yaml
  docs/apim/4.10/.gitbook.yaml
  docs/apim/4.11/.gitbook.yaml
  docs/apim/4.12/.gitbook.yaml
  docs/apim/4.2/.gitbook.yaml
  docs/apim/4.3/.gitbook.yaml
  docs/apim/4.4/.gitbook.yaml
  docs/apim/4.5/.gitbook.yaml
  docs/apim/4.6/.gitbook.yaml
  docs/apim/4.7/.gitbook.yaml
  docs/apim/4.8/.gitbook.yaml
  docs/apim/4.9/.gitbook.yaml
Owners: @gravitee-io/tech-writers

chore(apim): update semantic redirects for 4.0-4.12 (#1846)
  docs/apim/4.0/.gitbook.yaml
  docs/apim/4.1/.gitbook.yaml
  docs/apim/4.10/.gitbook.yaml
  docs/apim/4.11/.gitbook.yaml
  docs/apim/4.12/.gitbook.yaml
  docs/apim/4.2/.gitbook.yaml
  docs/apim/4.3/.gitbook.yaml
  docs/apim/4.4/.gitbook.yaml
  docs/apim/4.5/.gitbook.yaml
  docs/apim/4.6/.gitbook.yaml
  docs/apim/4.7/.gitbook.yaml
  docs/apim/4.8/.gitbook.yaml
  docs/apim/4.9/.gitbook.yaml
Owners: @gravitee-io/tech-writers

GITBOOK-1: RN and changelog updates
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/guides/auth-protocols/uma-2.0.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-1: RN and changelog updates
  docs/am/4.12/SUMMARY.md
  docs/am/4.12/guides/auth-protocols/uma-2.0.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.12/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-2: RN and changelog updates
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/developer-portal/new-developer-portal/viewing-and-managing-portal-analytics-dashboards.md
  docs/apim/4.12/developer-portal/typo-tolerant-api-search.md
  docs/apim/4.12/release-information/changelog/README.md
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
Owners: @gravitee-io/tech-writers

GITBOOK-2: RN and changelog updates
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/developer-portal/new-developer-portal/viewing-and-managing-portal-analytics-dashboards.md
  docs/apim/4.12/developer-portal/typo-tolerant-api-search.md
  docs/apim/4.12/release-information/changelog/README.md
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
Owners: @gravitee-io/tech-writers

add 4.12 RN
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

add 4.12 RN
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-3: quick and dirty RN fix
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

GITBOOK-3: quick and dirty RN fix
  docs/apim/4.12/release-information/release-notes/apim-4.11.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

docs: clarify client template setup
  docs/am/4.12/.gitbook/assets/guide-applications-readme-84 (1).png
  docs/am/4.12/.gitbook/assets/guide-applications-readme-84.png
  docs/am/4.12/.version-overrides
  docs/am/4.12/guides/applications/README.md
Owners: @gravitee-io/tech-writers

fix(apim/4.12): restore missing Release Information nav entries + orphaned pages, bump .gitbook.yaml redirects to 4.12
  .gitbook.yaml
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix(apim/4.12): restore missing Release Information nav entries + orphaned pages, bump .gitbook.yaml redirects to 4.12
  .gitbook.yaml
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix(apim/4.12): restore missing Release Information nav entries + orphaned pages, bump .gitbook.yaml redirects to 4.12
  .gitbook.yaml
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix(apim/4.12): point broken Release Notes/Changelog nav links to correct versioned URLs
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix(apim/4.12): point broken Release Notes/Changelog nav links to correct versioned URLs
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix(apim/4.12): point broken Release Notes/Changelog nav links to correct versioned URLs
  docs/apim/4.12/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix(gamma): correct "Gavitee" -> "Gravitee" in release notes heading
  docs/gamma/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): index Platform overview + Register-your-first-cluster, drop orphan edge-daemon page
  docs/gamma/SUMMARY.md
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

docs(gamma): consolidate release notes, restore Connect Claude Code page
  docs/gamma/SUMMARY.md
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
  docs/gamma/release-notes/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): index Platform overview + Register-your-first-cluster, drop orphan edge-daemon page
  docs/gamma/SUMMARY.md
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

fix(gamma): correct "Gavitee" -> "Gravitee" in release notes heading
  docs/gamma/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): index Platform overview + Register-your-first-cluster, drop orphan edge-daemon page
  docs/gamma/SUMMARY.md
  docs/gamma/edge-management/connect-claude-code-to-daemon.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
