Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

fix: remove duplicated Environment Variable Overrides section
  docs/apim/4.12/analyze-and-monitor-apis/configure-gateway-for-opentelemetry-logs.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13549
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/configure-gateway-for-opentelemetry-logs.md
  docs/apim/4.12/analyze-and-monitor-apis/creating-api-specific-redaction-rules-and-enabling-log-correlation-in-the-console.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry-span-attribute-redaction-and-log-correlation-overview.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13549
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/logging/configuring-span-attribute-redaction-and-log-correlation-for-individual-apis.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry-logs-integration-overview.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry-span-attribute-redaction-and-log-correlation-overview.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13549
  docs/apim/4.12/.gitbook/assets/analytics-tracing-section.png
  docs/apim/4.12/.gitbook/assets/reporter-settings-empty-rules.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/configure-gateway-for-opentelemetry-logs.md
  docs/apim/4.12/analyze-and-monitor-apis/enable-and-use-opentelemetry-logs-for-apis.md
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry-logs-integration-overview.md
  docs/apim/4.12/create-and-configure-apis/configure-span-attribute-redaction-rules-in-the-console.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

GITBOOK-12: update changelog visibility
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

GITBOOK-12: update changelog visibility
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

update accpet.txt file in vale configuration
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

update accpet.txt file in vale configuration
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

update accpet.txt file in vale configuration
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs: terraform 1.0.0 release notes
  docs/apim/4.12/terraform/README.md
  docs/apim/4.12/terraform/changelog.md
  docs/apim/4.12/terraform/example-resource-configurations.md
  docs/apim/4.12/terraform/release-notes.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.8
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.8 (#1597)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.8 (#1597)
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.6
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.13
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.22
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.38
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.38
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.38
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.22
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.22
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.13
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.13
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.6
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.6
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

[sync] am: 4.11 → 4.12
  docs/am/4.12/.gitbook/assets/graviteeio-am-userguide-domain-dcr-templates.png
  docs/am/4.12/.gitbook/assets/graviteeio-am-userguide-domain-define-dcr-templates.png
  docs/am/4.12/getting-started/configuration/configure-am-gateway/README.md
  docs/am/4.12/guides/identity-providers/enterprise-identity-providers/saml-2.0.md
  docs/am/4.12/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

docs: add changelog for gko-4.11.8
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.8
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.8
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

[sync] gko: 4.11 → 4.12
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

Made updates based off of SME review
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/gateway-cluster-sync-with-redis/README.md
Owners: @gravitee-io/tech-writers

Made changes based of off SME review
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/gateway-cluster-sync-with-redis/README.md
Owners: @gravitee-io/tech-writers

make changes based on SME review
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/gateway-cluster-sync-with-redis/README.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.21
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.28
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.16
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.9
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.9
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.9
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

Docs Update: apim-13549
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-01.png
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-02.png
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-03.png
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-04.png
  docs/apim/4.12/.gitbook/assets/apim-span-attribute-redaction-for-opentelemetry-tracing-step-05.png
  docs/apim/4.12/.version-overrides
  docs/apim/4.12/SUMMARY.md
  docs/apim/4.12/analyze-and-monitor-apis/span-attribute-redaction-overview-and-concepts.md
  docs/apim/4.12/configure-and-manage-the-platform/gravitee-gateway/configuring-global-redaction-rules-in-the-gateway.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/configuring-api-specific-redaction-rules-in-the-console.md
  docs/apim/4.12/create-and-configure-apis/configure-v4-apis/span-attribute-redaction-runtime-behavior-and-restrictions.md
  docs/apim/4.12/release-information/release-notes/apim-4.12.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
