Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs: add changelog for gko-4.5.23
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

GITBOOK-304: aws-api-gateway-multi-account
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-304: aws-api-gateway-multi-account
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-306: update-gcp-gke-hybrid-guide
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/gcp-gke.md
Owners: @gravitee-io/tech-writers

GITBOOK-306: update-gcp-gke-hybrid-guide
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/gcp-gke.md
Owners: @gravitee-io/tech-writers

GITBOOK-307: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/.zip.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/gcp-gke.md
Owners: @gravitee-io/tech-writers

GITBOOK-307: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/.zip.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/gcp-gke.md
Owners: @gravitee-io/tech-writers

GITBOOK-310: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-310: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.5.24
  docs/apim/4.5/overview/changelog/apim-4.5.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.5.24
  docs/apim/4.5/overview/changelog/apim-4.5.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.4
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.4
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.5.24
  docs/am/4.5/releases-and-changelog/changelog/am-4.5.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.18
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.11
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.4
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

GITBOOK-311: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

GITBOOK-311: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.4
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.4
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.11
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.11
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.18
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.18
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.18
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.12
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.12
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

gitbook[cr-111]: adding more providers and regions
  docs/gravitee-cloud/reference/geography-and-provider-support.md
Owners: @gravitee-io/tech-writers

gitbook[cr-111]: adding more providers and regions
  docs/gravitee-cloud/reference/geography-and-provider-support.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.18 and missing issue: 10732
  docs/apim/4.5/overview/changelog/apim-4.5.x.md
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.18 and missing issue: 10732
  docs/apim/4.5/overview/changelog/apim-4.5.x.md
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-313: aws-api-gateway-multi-account-and-multi-region
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-313: aws-api-gateway-multi-account-and-multi-region
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-314: No subject
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-314: No subject
  docs/apim/4.8/govern-apis/federation/3rd-party-providers/aws-api-gateway/aws-api-gateway-multi-account-and-multi-region.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-315: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-315: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-316: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers

GITBOOK-316: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
Owners: @gravitee-io/tech-writers
