Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

Fix broken references in docs/gko
  docs/gko/4.4/.gitbook/assets/image (15).png
  docs/gko/4.4/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.4/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.5/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.5/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.5/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.5/guides/export-an-api-as-a-kubernetes-manifest.md
  docs/gko/4.5/guides/manage-api-groups-and-members.md
  docs/gko/4.5/guides/multi-environment-architecture.md
  docs/gko/4.5/guides/templating.md
  docs/gko/4.5/overview/example-architecture.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.6/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.6/guides/multi-environment-architecture.md
  docs/gko/4.6/guides/templating.md
  docs/gko/4.6/overview/example-architecture.md
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.7/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.7/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.7/guides/multi-environment-architecture.md
  docs/gko/4.7/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.7/overview/example-architecture.md
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.8/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.8/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.8/guides/multi-environment-architecture.md
  docs/gko/4.8/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.8/overview/example-architecture.md
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.9/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.9/overview/example-architecture.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

Fix broken references in docs/gravitee-cloud
  docs/gravitee-cloud/.gitbook/assets/image (4).png
  docs/gravitee-cloud/guides/account-token.md
  docs/gravitee-cloud/guides/add-environments.md
  docs/gravitee-cloud/guides/cloud-tokens.md
  docs/gravitee-cloud/guides/configure-sso.md
  docs/gravitee-cloud/guides/custom-domains.md
  docs/gravitee-cloud/guides/gravitee-hosted-gateways/delete-a-gravitee-hosted-gateway.md
Owners: @gravitee-io/tech-writers

Fix broken references in docs/gravitee-cloud
  docs/gravitee-cloud/.gitbook/assets/image (4).png
  docs/gravitee-cloud/guides/account-token.md
  docs/gravitee-cloud/guides/add-environments.md
  docs/gravitee-cloud/guides/cloud-tokens.md
  docs/gravitee-cloud/guides/configure-sso.md
  docs/gravitee-cloud/guides/custom-domains.md
  docs/gravitee-cloud/guides/gravitee-hosted-gateways/delete-a-gravitee-hosted-gateway.md
Owners: @gravitee-io/tech-writers

Rollback changelog updates
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

Rollback changelog updates
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

Restore missing asset
  docs/am/4.9/.gitbook/assets/image (10).png
Owners: @gravitee-io/tech-writers

Restore missing asset
  docs/am/4.9/.gitbook/assets/image (10).png
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.14
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.14
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

Finish fixing links and restoring missing assets
  docs/apim/4.1/guides/create-apis/how-to/v4-api-creation-wizard-docs.md
  docs/apim/4.3/guides/api-configuration/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.3/guides/policy-studio/v4-api-policy-studio.md
  docs/apim/4.4/.gitbook/assets/Screen Shot 2023-03-16 at 11.44.51 AM (1).png
  docs/apim/4.4/.gitbook/assets/image (52).png
  docs/apim/4.4/overview/release-notes/apim-4.4.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/plans.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/types-of-plans.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/configuring-apis-with-the-gravitee-api-management/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/policy-studio/v4-api-policy-studio.md
  docs/apim/4.4/using-the-product/most-common-use-cases/exposing-soap-webservices-as-rest-apis.md
  docs/apim/4.5/.gitbook/assets/image (52).png
  docs/apim/4.5/using-the-product/managing-your-apis/api-configuration/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.5/using-the-product/managing-your-apis/policy-studio/v4-api-policy-studio.md
  docs/apim/4.5/using-the-product/most-common-use-cases/exposing-soap-webservices-as-rest-apis.md
  docs/apim/4.6/.gitbook/assets/image (52).png
  docs/apim/4.6/getting-started/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
  docs/apim/4.7/.gitbook/assets/image (52).png
  docs/apim/4.7/getting-started/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
  docs/apim/4.8/.gitbook/assets/image (52).png
  docs/apim/4.8/how-to-guides/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
  docs/apim/4.9/how-to-guides/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
Owners: @gravitee-io/tech-writers

Finish fixing links and restoring missing assets
  docs/apim/4.1/guides/create-apis/how-to/v4-api-creation-wizard-docs.md
  docs/apim/4.3/guides/api-configuration/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.3/guides/policy-studio/v4-api-policy-studio.md
  docs/apim/4.4/.gitbook/assets/Screen Shot 2023-03-16 at 11.44.51 AM (1).png
  docs/apim/4.4/.gitbook/assets/image (52).png
  docs/apim/4.4/overview/release-notes/apim-4.4.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/plans.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/types-of-plans.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/configuring-apis-with-the-gravitee-api-management/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/policy-studio/v4-api-policy-studio.md
  docs/apim/4.4/using-the-product/most-common-use-cases/exposing-soap-webservices-as-rest-apis.md
  docs/apim/4.5/.gitbook/assets/image (52).png
  docs/apim/4.5/using-the-product/managing-your-apis/api-configuration/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.5/using-the-product/managing-your-apis/policy-studio/v4-api-policy-studio.md
  docs/apim/4.5/using-the-product/most-common-use-cases/exposing-soap-webservices-as-rest-apis.md
  docs/apim/4.6/.gitbook/assets/image (52).png
  docs/apim/4.6/getting-started/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
  docs/apim/4.7/.gitbook/assets/image (52).png
  docs/apim/4.7/getting-started/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
  docs/apim/4.8/.gitbook/assets/image (52).png
  docs/apim/4.8/how-to-guides/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
  docs/apim/4.9/how-to-guides/use-case-tutorials/expose-soap-webservices-as-rest-apis.md
Owners: @gravitee-io/tech-writers

Unescape hints
  docs/gko/4.7/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

Unescape hints
  docs/gko/4.7/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

Fix nested hints in docs/gko/4.7
  docs/gko/4.7/guides/gravitee-ingress-controller.md
  docs/gko/4.7/guides/manage-jwt-subscriptions-with-gko.md
Owners: @gravitee-io/tech-writers

Fix nested hints in docs/gko/4.7
  docs/gko/4.7/guides/gravitee-ingress-controller.md
  docs/gko/4.7/guides/manage-jwt-subscriptions-with-gko.md
Owners: @gravitee-io/tech-writers

Fix remaining nest hints in docs/gko
  docs/gko/4.10/guides/gravitee-ingress-controller.md
  docs/gko/4.10/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.6/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.8/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.9/guides/manage-jwt-subscriptions-with-gko.md
Owners: @gravitee-io/tech-writers

Fix remaining nest hints in docs/gko
  docs/gko/4.10/guides/gravitee-ingress-controller.md
  docs/gko/4.10/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.6/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.8/guides/manage-jwt-subscriptions-with-gko.md
  docs/gko/4.9/guides/manage-jwt-subscriptions-with-gko.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.9.7
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

[APIM] Changelog for version 4.9.7
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

Fix remaining proper nested hint blocks
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-on-kubernetes/apim-helm-install-and-configuration.md
  docs/apim/4.8/self-hosted-installation-guides/docker/customize-your-installation.md
  docs/apim/4.9/self-hosted-installation-guides/docker/customize-your-installation.md
Owners: @gravitee-io/tech-writers

Fix remaining proper nested hint blocks
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-on-kubernetes/apim-helm-install-and-configuration.md
  docs/apim/4.8/self-hosted-installation-guides/docker/customize-your-installation.md
  docs/apim/4.9/self-hosted-installation-guides/docker/customize-your-installation.md
Owners: @gravitee-io/tech-writers

Fix all docs/gko
  docs/gko/4.4/guides/gravitee-ingress-controller.md
  docs/gko/4.5/guides/gravitee-ingress-controller.md
  docs/gko/4.6/guides/gravitee-ingress-controller.md
  docs/gko/4.8/guides/gravitee-ingress-controller.md
  docs/gko/4.9/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

Fix all docs/gko
  docs/gko/4.4/guides/gravitee-ingress-controller.md
  docs/gko/4.5/guides/gravitee-ingress-controller.md
  docs/gko/4.6/guides/gravitee-ingress-controller.md
  docs/gko/4.8/guides/gravitee-ingress-controller.md
  docs/gko/4.9/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

Update ingress-controller.md
  docs/edge-stack/technical-reference/ingress-and-load-balancing/ingress-controller.md
Owners: @gravitee-io/tech-writers

Update ingress-controller.md
  docs/edge-stack/technical-reference/ingress-and-load-balancing/ingress-controller.md
Owners: @gravitee-io/tech-writers

Update ingress-controller.md
  docs/edge-stack/technical-reference/ingress-and-load-balancing/ingress-controller.md
Owners: @gravitee-io/tech-writers

Update ingress-controller.md
  docs/edge-stack/technical-reference/ingress-and-load-balancing/ingress-controller.md
Owners: @gravitee-io/tech-writers

Fix backticks in docs/gko
  docs/apim/4.4/installation-and-upgrades/upgrading-gravitee-api-management/upgrade-guide.md
  docs/apim/4.5/installation-and-upgrades/upgrading-gravitee-api-management/upgrade-guide.md
  docs/apim/4.6/install-and-upgrade/upgrade-guide.md
  docs/apim/4.7/install-and-upgrade/upgrade-guide.md
  docs/gko/4.4/guides/gravitee-ingress-controller.md
  docs/gko/4.5/guides/gravitee-ingress-controller.md
  docs/gko/4.6/guides/gravitee-ingress-controller.md
  docs/gko/4.8/guides/gravitee-ingress-controller.md
  docs/gko/4.9/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

Fix backticks in docs/gko
  docs/apim/4.4/installation-and-upgrades/upgrading-gravitee-api-management/upgrade-guide.md
  docs/apim/4.5/installation-and-upgrades/upgrading-gravitee-api-management/upgrade-guide.md
  docs/apim/4.6/install-and-upgrade/upgrade-guide.md
  docs/apim/4.7/install-and-upgrade/upgrade-guide.md
  docs/gko/4.4/guides/gravitee-ingress-controller.md
  docs/gko/4.5/guides/gravitee-ingress-controller.md
  docs/gko/4.6/guides/gravitee-ingress-controller.md
  docs/gko/4.8/guides/gravitee-ingress-controller.md
  docs/gko/4.9/guides/gravitee-ingress-controller.md
Owners: @gravitee-io/tech-writers

Finish updating docs/edge-stack
  docs/edge-stack/README.md
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/consul-integration.md
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/externaldns-integration.md
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/istio-integration.md
  docs/edge-stack/edge-stack-user-guide/rate-limiting/basic-rate-limiting.md
  docs/edge-stack/edge-stack-user-guide/rate-limiting/rate-limiting-in-ambassador-edge-stack.md
  docs/edge-stack/technical-reference/filters/using-api-keys-filter.md
Owners: @gravitee-io/tech-writers

Finish updating docs/edge-stack
  docs/edge-stack/README.md
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/consul-integration.md
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/externaldns-integration.md
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/istio-integration.md
  docs/edge-stack/edge-stack-user-guide/rate-limiting/basic-rate-limiting.md
  docs/edge-stack/edge-stack-user-guide/rate-limiting/rate-limiting-in-ambassador-edge-stack.md
  docs/edge-stack/technical-reference/filters/using-api-keys-filter.md
Owners: @gravitee-io/tech-writers

Also fix bold marks in edge-stack
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/consul-integration.md
Owners: @gravitee-io/tech-writers

Also fix bold marks in edge-stack
  docs/edge-stack/edge-stack-user-guide/ambassador-edge-stack-integrations/consul-integration.md
Owners: @gravitee-io/tech-writers

Fix docs/gravitee-cloud
  docs/gravitee-cloud/guides/add-environments.md
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

Fix docs/gravitee-cloud
  docs/gravitee-cloud/guides/add-environments.md
  docs/gravitee-cloud/guides/configure-sso.md
Owners: @gravitee-io/tech-writers

Fix all docs/am
  docs/am/4.6/README.md
  docs/am/4.7/README.md
  docs/am/4.8/README.md
  docs/am/4.9/README.md
Owners: @gravitee-io/tech-writers

Fix all docs/am
  docs/am/4.6/README.md
  docs/am/4.7/README.md
  docs/am/4.8/README.md
  docs/am/4.9/README.md
Owners: @gravitee-io/tech-writers

Fix docs/apim/4.3
  docs/apim/4.3/getting-started/configuration/apim-gateway/opentracing.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-on-amazon/quick-install.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-with-.zip.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/multi-tenancy.md
  docs/apim/4.3/guides/api-configuration/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.3/guides/api-configuration/v4-api-configuration/entrypoints/cors.md
  docs/apim/4.3/guides/api-exposure-plans-applications-and-subscriptions/applications.md
  docs/apim/4.3/guides/api-exposure-plans-applications-and-subscriptions/plans/jwt.md
  docs/apim/4.3/guides/create-apis/import-apis/json-definition.md
  docs/apim/4.3/guides/gravitee-expression-language.md
  docs/apim/4.3/guides/gravitee-kubernetes-operator/gravitee-as-an-ingress-controller.md
  docs/apim/4.3/most-common-use-cases/rate-limiting-rest-api-use-cases.md
Owners: @gravitee-io/tech-writers

Fix docs/apim/4.3
  docs/apim/4.3/getting-started/configuration/apim-gateway/opentracing.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-on-amazon/quick-install.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/installing-a-self-hosted-gravitee-api-management-platform/install-with-.zip.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/multi-tenancy.md
  docs/apim/4.3/guides/api-configuration/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.3/guides/api-configuration/v4-api-configuration/entrypoints/cors.md
  docs/apim/4.3/guides/api-exposure-plans-applications-and-subscriptions/applications.md
  docs/apim/4.3/guides/api-exposure-plans-applications-and-subscriptions/plans/jwt.md
  docs/apim/4.3/guides/create-apis/import-apis/json-definition.md
  docs/apim/4.3/guides/gravitee-expression-language.md
  docs/apim/4.3/guides/gravitee-kubernetes-operator/gravitee-as-an-ingress-controller.md
  docs/apim/4.3/most-common-use-cases/rate-limiting-rest-api-use-cases.md
Owners: @gravitee-io/tech-writers

Fix docs/apim/4.4
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/multi-tenancy.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/applications.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/configuring-apis-with-the-gravitee-api-management/v2-api-configuration/general-proxy-settings.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/configuring-apis-with-the-gravitee-api-management/v4-api-configuration/entrypoints/cors.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/federation/federated-apis.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/federation/integrations.md
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/general-configuration/opentracing.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
