Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

docs: add changelog for gko-4.10.29
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.33
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.29
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs(gamma): document proxy pictures in the LLM Proxies list (AIAM-339)
  docs/gamma/4.13/agent-management/build/browse-the-llm-proxies-list.md
  docs/gamma/4.13/agent-management/build/configure-an-llm-proxy.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.11.26
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.26
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs(gamma): FOUND-76 manage environment groups
  docs/gamma/4.13/.gitbook/assets/gamma-platform-group-add-members.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-group-detail.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-group-invitations.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-groups-create.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-groups-list.png
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
  docs/gamma/4.13/platform-management/manage-applications.md
  docs/gamma/4.13/platform-management/manage-groups.md
  docs/gamma/4.13/platform-management/manage-users.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.18
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs(authentication): clarify identity provider configurations and scoping
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/gravitee-access-management.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
  docs/apim/4.10/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/social-providers.md
  docs/apim/4.10/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/gravitee-access-management.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
  docs/apim/4.11/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/social-providers.md
  docs/apim/4.11/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/gravitee-access-management.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
  docs/apim/4.12/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/social-providers.md
  docs/apim/4.12/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.13/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.13/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/gravitee-access-management.md
  docs/apim/4.13/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
  docs/apim/4.13/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
  docs/apim/4.13/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/social-providers.md
  docs/apim/4.13/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/README.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/gravitee-access-management.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/microsoft-entra-id.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/openid-connect.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/social-providers.md
Owners: @gravitee-io/tech-writers

fixup! docs(apim): document the FIPS images for 4.12 and 4.13
  docs/apim/4.12/self-hosted-installation-guides/docker/fips-images.md
Owners: @gravitee-io/tech-writers

docs(gamma): document proxy pictures in the LLM Proxies list (AIAM-339)
  docs/gamma/4.13/agent-management/build/browse-the-llm-proxies-list.md
  docs/gamma/4.13/agent-management/build/configure-an-llm-proxy.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

GITBOOK-16: Further enhancements to Disaster Recovery - including Elasticsearch and Redis
  docs/apim/4.12/prepare-a-production-environment/disaster-recovery-backup-and-restore.md
Owners: @gravitee-io/tech-writers

docs(gamma): FOUND-76 manage environment groups
  docs/gamma/4.13/.gitbook/assets/gamma-platform-group-add-members.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-group-detail.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-group-invitations.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-groups-create.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-groups-list.png
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
  docs/gamma/4.13/platform-management/manage-applications.md
  docs/gamma/4.13/platform-management/manage-groups.md
  docs/gamma/4.13/platform-management/manage-users.md
Owners: @gravitee-io/tech-writers

docs(gamma): FOUND-78 configure console authentication
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/platform-management/configure-console-authentication.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): FOUND-78 configure console authentication
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/platform-management/configure-console-authentication.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.18
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs(apim): flag the 4.12.18 identity provider toggle regression in the 4.12.x changelog
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): apply the SME workaround wording to the 4.12.18 identity provider note
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): flag the 4.12.18 identity provider toggle regression in the 4.12.x changelog
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): apply the SME workaround wording to the 4.12.18 identity provider note
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): point the 4.12.18 #11717 changelog entry at the Console login warning
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): drop "before you upgrade" from the 4.12.18 #11717 pointer
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): drop "before you upgrade" from the 4.12.18 #11717 pointer
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): point the 4.12.18 #11717 changelog entry at the Console login warning
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(gamma): document environment-scoped shared policy groups (FOUND-4)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
  docs/gamma/4.13/platform-management/manage-shared-policy-groups.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs(gamma): document proxy stop and restart for Agent Management
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/build/configure-your-a2a-proxy/README.md
  docs/gamma/4.12/agent-management/build/stop-and-restart-proxy-traffic.md
Owners: @gravitee-io/tech-writers

docs(gamma): add shared policy group screenshots (FOUND-4)
  docs/gamma/4.13/.gitbook/assets/gamma-platform-shared-policy-groups-create.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-shared-policy-groups-deploy.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-shared-policy-groups-history.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-shared-policy-groups-list.png
  docs/gamma/4.13/.gitbook/assets/gamma-platform-shared-policy-groups-studio.png
  docs/gamma/4.13/platform-management/manage-shared-policy-groups.md
Owners: @gravitee-io/tech-writers

docs(gamma): document the OpenTelemetry pipeline behind the Trace Explorer
  docs/apim/4.12/analyze-and-monitor-apis/opentelemetry.md
  docs/apim/4.13/analyze-and-monitor-apis/opentelemetry.md
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/observe/inspect-your-agent-log.md
  docs/gamma/4.12/api-management/observe/view-api-logs.md
  docs/gamma/4.12/platform-management/configure-opentelemetry-tracing-and-logs.md
  docs/gamma/4.12/platform-management/get-started/get-started-for-existing-users/activate-gamma-with-docker-compose.md
  docs/gamma/4.12/platform-management/get-started/get-started-for-existing-users/activate-gamma-with-kubernetes-helm.md
  docs/gamma/4.12/platform-management/get-started/get-started-for-new-users/fully-self-hosted-with-docker.md
  docs/gamma/4.12/platform-management/get-started/get-started-for-new-users/fully-self-hosted-with-vanilla-kubernetes.md
  docs/gamma/4.12/platform-management/install/self-hosted-installation-guides/docker/docker-cli.md
  docs/gamma/4.12/platform-management/install/self-hosted-installation-guides/docker/docker-compose.md
  docs/gamma/4.12/platform-management/install/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/gamma/4.12/platform-management/install/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/gamma/4.12/platform-management/install/self-hosted-installation-guides/kubernetes/openshift.md
  docs/gamma/4.12/platform-management/install/self-hosted-installation-guides/kubernetes/vanilla-kubernetes.md
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/observe/inspect-your-agent-log.md
  docs/gamma/4.13/api-management/observe/view-api-logs.md
  docs/gamma/4.13/platform-management/configure-opentelemetry-tracing-and-logs.md
  docs/gamma/4.13/platform-management/get-started/get-started-for-existing-users/activate-gamma-with-docker-compose.md
  docs/gamma/4.13/platform-management/get-started/get-started-for-existing-users/activate-gamma-with-kubernetes-helm.md
  docs/gamma/4.13/platform-management/get-started/get-started-for-new-users/fully-self-hosted-with-docker.md
  docs/gamma/4.13/platform-management/get-started/get-started-for-new-users/fully-self-hosted-with-vanilla-kubernetes.md
  docs/gamma/4.13/platform-management/install/self-hosted-installation-guides/docker/docker-cli.md
  docs/gamma/4.13/platform-management/install/self-hosted-installation-guides/docker/docker-compose.md
  docs/gamma/4.13/platform-management/install/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/gamma/4.13/platform-management/install/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/gamma/4.13/platform-management/install/self-hosted-installation-guides/kubernetes/openshift.md
  docs/gamma/4.13/platform-management/install/self-hosted-installation-guides/kubernetes/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

docs(gamma): note the enabled-flag gating and the fixed-index caveat
  docs/gamma/4.12/platform-management/configure-opentelemetry-tracing-and-logs.md
  docs/gamma/4.13/platform-management/configure-opentelemetry-tracing-and-logs.md
Owners: @gravitee-io/tech-writers

docs(gamma): correct 4.12 cost attribution claims
  docs/gamma/4.12/agent-management/observe/inspect-your-agent-log.md
  docs/gamma/4.12/agent-management/observe/monitor-your-llm-proxy.md
  docs/gamma/4.12/platform-management/overview.md
Owners: @gravitee-io/tech-writers

docs(gamma): document receipts for Agent Management
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/govern/README.md
  docs/gamma/4.12/agent-management/govern/audit-agent-actions-with-receipts.md
Owners: @gravitee-io/tech-writers

docs(gamma): add a performance targets reference to Agent Management Observe
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/observe/README.md
  docs/gamma/4.12/agent-management/observe/performance-targets.md
Owners: @gravitee-io/tech-writers

docs(gamma): document 4.12 subscription provisioning for LLM and MCP Proxies
  docs/gamma/4.12/agent-management/build/llm-proxies/consumer-access/README.md
  docs/gamma/4.12/agent-management/build/mcp-proxies/README.md
  docs/gamma/4.12/agent-management/publish/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

docs(gamma): correct provider integrations and agent discovery for 4.12
  docs/gamma/4.12/agent-management/import/README.md
  docs/gamma/4.12/agent-management/import/add-an-ai-model.md
  docs/gamma/4.12/agent-management/import/connect-integrations.md
  docs/gamma/4.12/agent-management/import/import-an-agent.md
  docs/gamma/4.12/agent-management/import/integrations/README.md
  vale/styles/config/vocabularies/docs/accept.txt
Owners: @gravitee-io/tech-writers

docs(gamma): document publishing an agent to the Developer Portal catalog [AIAM-430]
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/build/a2a-proxies/README.md
  docs/gamma/4.12/agent-management/build/expose-agent-with-a2a-proxy.md
  docs/gamma/4.12/agent-management/publish/publish-your-agent-to-the-developer-portal.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.31
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.16
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.22
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

docs(gamma): document catalog asset re-sync for 4.12
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/import/README.md
  docs/gamma/4.12/agent-management/import/re-sync-catalog-assets.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.6
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/am

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
