Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

GITBOOK-31: No subject
  docs/apim/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.17
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.17
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.9
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.9
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

GITBOOK-18: ResetPassword in change logs
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
  docs/am/4.9/releases-and-changelog/release-notes/am-4.9.md
Owners: @gravitee-io/am, @gravitee-io/tech-writers

GITBOOK-18: ResetPassword in change logs
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
  docs/am/4.9/releases-and-changelog/release-notes/am-4.9.md
Owners: @gravitee-io/am, @gravitee-io/tech-writers

GITBOOK-18: No subject
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

GITBOOK-18: No subject
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

GITBOOK-32: No subject
  docs/apim/4.9/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-32: No subject
  docs/apim/4.9/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.10
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.10
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

fix: add missing issue for AM 4.8.10
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

fix: add missing issue for AM 4.8.10
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

docs: add changelog for gko-4.7.16
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

GITBOOK-33: APIM 4.9 Elasticsearch Index Template Changes
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.9/release-information/breaking-changes-and-deprecations.md
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
  docs/apim/4.9/upgrade-guides/apim-4.9-elasticsearch-index-template-changes.md
Owners: @gravitee-io/tech-writers

GITBOOK-33: APIM 4.9 Elasticsearch Index Template Changes
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/analyze-and-monitor-apis/execution-transparency-analytics.md
  docs/apim/4.9/release-information/breaking-changes-and-deprecations.md
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
  docs/apim/4.9/upgrade-guides/apim-4.9-elasticsearch-index-template-changes.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.5.28
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.22
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.9
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

GITBOOK-528: updates K8s MongoDB
  docs/apim/4.8/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.8/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.8/self-hosted-installation-guides/kubernetes/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

GITBOOK-528: updates K8s MongoDB
  docs/apim/4.8/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.8/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.8/self-hosted-installation-guides/kubernetes/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

gitbook[cr-443]: add-bitnamilegacy/osshell-to-4.6-and-4.7-docs
  docs/apim/4.6/install-and-upgrade/kubernetes.md
Owners: @gravitee-io/tech-writers

gitbook[cr-443]: add-bitnamilegacy/osshell-to-4.6-and-4.7-docs
  docs/apim/4.6/install-and-upgrade/kubernetes.md
Owners: @gravitee-io/tech-writers

GITBOOK-34: MongoDB updates
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-34: MongoDB updates
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-36: No subject
  docs/apim/4.9/upgrade-guides/apim-4.9-elasticsearch-index-template-changes.md
Owners: @gravitee-io/tech-writers

GITBOOK-36: No subject
  docs/apim/4.9/upgrade-guides/apim-4.9-elasticsearch-index-template-changes.md
Owners: @gravitee-io/tech-writers

GITBOOK-37: RN updates
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

GITBOOK-37: RN updates
  docs/apim/4.9/release-information/release-notes/apim-4.9.md
Owners: @gravitee-io/tech-writers

language corrections
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/4.9-roles-and-groups-mapping.md
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/roles-and-groups-mapping.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/roles-and-groups-mapping.md
Owners: @gravitee-io/tech-writers

language corrections
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/4.9-roles-and-groups-mapping.md
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/roles-and-groups-mapping.md
  docs/apim/4.9/configure-and-manage-the-platform/manage-organizations-and-environments/authentication/roles-and-groups-mapping.md
Owners: @gravitee-io/tech-writers

test redirects
  docs/apim/4.0/.gitbook.yaml
Owners: @gravitee-io/tech-writers

test redirects
  docs/apim/4.0/.gitbook.yaml
Owners: @gravitee-io/tech-writers

4.0 redirects
  docs/apim/4.0/.gitbook.yaml
Owners: @gravitee-io/tech-writers

4.0 redirects
  docs/apim/4.0/.gitbook.yaml
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.7.16
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.16
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.5.28
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
