Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs: add changelog for gko-4.7.17
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.17
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.11
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.11
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

chore: scaffold link-governance tooling (CLI + config + cache stubs) & lint fixes
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tools/__init__.py
  tools/cli.py
  tools/link_gov/__init__.py
  tools/link_gov/apply_corrections.py
  tools/link_gov/check_links.py
  tools/link_gov/classify_normalize.py
  tools/link_gov/config.yaml
  tools/link_gov/extract_links.py
  tools/link_gov/index_build.py
  tools/link_gov/report_csv.py
  tools/link_gov/suggest_corrections.py
  tools/link_gov/utils.py
  tools/requirements.txt
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.25
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.25
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.19
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.19
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.12
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.12
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

GITBOOK-71: Bitnami reference removal
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-71: Bitnami reference removal
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/aws-eks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/azure-aks.md
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.2
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.2
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

GITBOOK-75: move-openshift-callout-to-the-top
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/openshift.md
Owners: @gravitee-io/tech-writers

GITBOOK-75: move-openshift-callout-to-the-top
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/openshift.md
Owners: @gravitee-io/tech-writers

GITBOOK-77: add sudo to a command
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-77: add sudo to a command
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/vanilla-kubernetes/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-74: New getting started guide for vanilla Kubernetes
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/getting-started/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

GITBOOK-74: New getting started guide for vanilla Kubernetes
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/getting-started/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

GITBOOK-78: add-new-changes-to-openshift-guide
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/openshift.md
Owners: @gravitee-io/tech-writers

GITBOOK-78: add-new-changes-to-openshift-guide
  docs/apim/4.9/self-hosted-installation-guides/kubernetes/openshift.md
Owners: @gravitee-io/tech-writers

GITBOOK-81: minor cleanup
  docs/apim/4.9/prepare-a-production-environment/gateway-resource-sizing-guidelines.md
Owners: @gravitee-io/tech-writers

GITBOOK-81: minor cleanup
  docs/apim/4.9/prepare-a-production-environment/gateway-resource-sizing-guidelines.md
Owners: @gravitee-io/tech-writers

GITBOOK-82: update-docs-to-show-data-masking-policy-works-onv4-apis
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/data-logging-masking.md
Owners: @gravitee-io/tech-writers

GITBOOK-82: update-docs-to-show-data-masking-policy-works-onv4-apis
  docs/apim/4.9/create-and-configure-apis/apply-policies/policy-reference/data-logging-masking.md
Owners: @gravitee-io/tech-writers

GITBOOK-463: Add guide to enable component-based & java-class debug logging
  docs/apim/4.8/.gitbook/assets/file.excalidraw (1) (1).svg
  docs/apim/4.8/.gitbook/assets/image (1) (1) (1) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (262) (1).png
  docs/apim/4.8/.gitbook/assets/image (271) (1).png
  docs/apim/4.8/.gitbook/assets/image (272) (1).png
  docs/apim/4.8/.gitbook/assets/image (273) (1).png
  docs/apim/4.8/.gitbook/assets/image (274) (1).png
  docs/apim/4.8/.gitbook/assets/image (275) (1).png
  docs/apim/4.8/.gitbook/assets/image (276) (1).png
  docs/apim/4.8/.gitbook/assets/image (277) (1).png
  docs/apim/4.8/.gitbook/assets/image (278) (1).png
  docs/apim/4.8/.gitbook/assets/image (279) (1).png
  docs/apim/4.8/.gitbook/assets/image (280) (1).png
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/configure-and-manage-the-platform/debug-logging.md
Owners: @gravitee-io/tech-writers

GITBOOK-463: Add guide to enable component-based & java-class debug logging
  docs/apim/4.8/.gitbook/assets/file.excalidraw (1) (1).svg
  docs/apim/4.8/.gitbook/assets/image (1) (1) (1) (1) (1).png
  docs/apim/4.8/.gitbook/assets/image (262) (1).png
  docs/apim/4.8/.gitbook/assets/image (271) (1).png
  docs/apim/4.8/.gitbook/assets/image (272) (1).png
  docs/apim/4.8/.gitbook/assets/image (273) (1).png
  docs/apim/4.8/.gitbook/assets/image (274) (1).png
  docs/apim/4.8/.gitbook/assets/image (275) (1).png
  docs/apim/4.8/.gitbook/assets/image (276) (1).png
  docs/apim/4.8/.gitbook/assets/image (277) (1).png
  docs/apim/4.8/.gitbook/assets/image (278) (1).png
  docs/apim/4.8/.gitbook/assets/image (279) (1).png
  docs/apim/4.8/.gitbook/assets/image (280) (1).png
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/configure-and-manage-the-platform/debug-logging.md
Owners: @gravitee-io/tech-writers

gitbook[cr-205]: test for internal link workflow
  docs/apim/4.0/SUMMARY.md
  docs/apim/4.0/community-and-support/enterprise-support/README.md
  docs/apim/4.0/community-and-support/enterprise-support/test.md
Owners: @gravitee-io/tech-writers

gitbook[cr-205]: test for internal link workflow
  docs/apim/4.0/SUMMARY.md
  docs/apim/4.0/community-and-support/enterprise-support/README.md
  docs/apim/4.0/community-and-support/enterprise-support/test.md
Owners: @gravitee-io/tech-writers

GITBOOK-538: Update debugging article
  docs/apim/4.8/configure-and-manage-the-platform/debug-logging.md
Owners: @gravitee-io/tech-writers

GITBOOK-538: Update debugging article
  docs/apim/4.8/configure-and-manage-the-platform/debug-logging.md
Owners: @gravitee-io/tech-writers

GITBOOK-84: Add debug logging
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/configure-and-manage-the-platform/debug-logging.md
Owners: @gravitee-io/tech-writers

GITBOOK-84: Add debug logging
  docs/apim/4.9/SUMMARY.md
  docs/apim/4.9/configure-and-manage-the-platform/debug-logging.md
Owners: @gravitee-io/tech-writers

GITBOOK-85: title update for debug logging
  docs/apim/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-85: title update for debug logging
  docs/apim/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

chore: scaffold link-governance tooling (CLI + config + cache stubs) & lint fixes
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tools/__init__.py
  tools/cli.py
  tools/link_gov/__init__.py
  tools/link_gov/apply_corrections.py
  tools/link_gov/check_links.py
  tools/link_gov/classify_normalize.py
  tools/link_gov/config.yaml
  tools/link_gov/extract_links.py
  tools/link_gov/index_build.py
  tools/link_gov/report_csv.py
  tools/link_gov/suggest_corrections.py
  tools/link_gov/utils.py
  tools/requirements.txt
Owners: @gravitee-io/tech-writers

chore: scaffold link-governance tooling (CLI + config + cache stubs) & lint fixes
  .gitignore
  .pre-commit-config.yaml
  pyproject.toml
  tools/__init__.py
  tools/cli.py
  tools/link_gov/__init__.py
  tools/link_gov/apply_corrections.py
  tools/link_gov/check_links.py
  tools/link_gov/classify_normalize.py
  tools/link_gov/config.yaml
  tools/link_gov/extract_links.py
  tools/link_gov/index_build.py
  tools/link_gov/report_csv.py
  tools/link_gov/suggest_corrections.py
  tools/link_gov/utils.py
  tools/requirements.txt
Owners: @gravitee-io/tech-writers

WIP: link governance work before sync (after format fixes)
  tools/cli.py
  tools/link_gov/apply_autofix.py
  tools/link_gov/check_links.py
  tools/link_gov/classify_normalize.py
  tools/link_gov/index_build.py
  tools/link_gov/suggest_corrections.py
Owners: @gravitee-io/tech-writers
