Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

fix summary file for macven plugin page
  docs/apim/4.11/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix summary file for macven plugin page
  docs/apim/4.11/SUMMARY.md
Owners: @gravitee-io/tech-writers

fix summary file for macven plugin page
  docs/apim/4.11/SUMMARY.md
Owners: @gravitee-io/tech-writers

GITBOOK-4: LLM dashboard screenshot updates
  docs/apim/4.11/.gitbook/assets/image (5).png
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/ai-agent-management/AI-resources/ai-model-text-classification-configuration-and-usage.md
  docs/apim/4.11/ai-agent-management/AI-resources/ai-model-text-classification-overview-and-model-selection.md
  docs/apim/4.11/analyze-and-monitor-apis/dashboards/LLM-usage-dashboard.md
  docs/apim/4.11/create-and-configure-apis/development-tools/README.md
  docs/apim/4.11/create-and-configure-apis/development-tools/enforcing-logging-rules-with-archunit-maven-plugin.md
Owners: @gravitee-io/tech-writers

GITBOOK-4: LLM dashboard screenshot updates
  docs/apim/4.11/.gitbook/assets/image (5).png
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/ai-agent-management/AI-resources/ai-model-text-classification-configuration-and-usage.md
  docs/apim/4.11/ai-agent-management/AI-resources/ai-model-text-classification-overview-and-model-selection.md
  docs/apim/4.11/analyze-and-monitor-apis/dashboards/LLM-usage-dashboard.md
  docs/apim/4.11/create-and-configure-apis/development-tools/README.md
  docs/apim/4.11/create-and-configure-apis/development-tools/enforcing-logging-rules-with-archunit-maven-plugin.md
Owners: @gravitee-io/tech-writers

GITBOOK-5: MCP usage dashboard screenshot fic
  docs/apim/4.11/.gitbook/assets/image (8).png
  docs/apim/4.11/analyze-and-monitor-apis/dashboards/MCP-usage-dashboard.md
Owners: @gravitee-io/tech-writers

GITBOOK-5: MCP usage dashboard screenshot fic
  docs/apim/4.11/.gitbook/assets/image (8).png
  docs/apim/4.11/analyze-and-monitor-apis/dashboards/MCP-usage-dashboard.md
Owners: @gravitee-io/tech-writers

GITBOOK-15: Change logs AM.11
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.11/guides/applications/create-agent-application.md
  docs/am/4.11/guides/audit-trail.md
  docs/am/4.11/guides/fetching_and_displaying_agentcard_metadata.md
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.11/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-15: Change logs AM.11
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
  docs/am/4.11/guides/applications/create-agent-application.md
  docs/am/4.11/guides/audit-trail.md
  docs/am/4.11/guides/fetching_and_displaying_agentcard_metadata.md
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
  docs/am/4.11/releases-and-changelog/release-notes/am-4.11.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

update compatibility table
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

update compatibility table
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

update compatibility table
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/README.md
Owners: @gravitee-io/tech-writers

update the image tags docs
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-guard-rails-policy-to-your-llm-proxy.md
  docs/apim/4.11/ai-agent-management/llm-proxy/add-the-token-rate-limit-policy-to-your-llm-proxy.md
  docs/apim/4.11/create-and-configure-apis/apply-policies/policy-reference/ai-prompt-guard-rails.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/apigee-x.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/aws-api-gateway/README.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/azure-api-management.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/confluent-platform.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/mulesoft-anypoint.md
  docs/apim/4.11/govern-apis/federation/3rd-party-providers/solace.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/openshift.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes/deploy-a-hybrid-gateway-with-redis-sentinel.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/link-to-a-hybrid-gateway.md
  docs/apim/4.11/kafka-gateway/configure-and-deploy-kafka-console.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-6: Bedrock streaming updates
  docs/apim/4.11/ai-agent-management/llm-proxy/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-6: Bedrock streaming updates
  docs/apim/4.11/ai-agent-management/llm-proxy/README.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.10
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.10 (#1385)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.10 (#1385)
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: Release notes and changlogs links
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
  docs/apim/4.11/release-information/release-notes/apim-4.10.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: Release notes and changlogs links
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
  docs/apim/4.11/release-information/release-notes/apim-4.10.md
Owners: @gravitee-io/tech-writers

docs: add GKO OperatorHub installation guide
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/getting-started/installation/README.md
  docs/gko/4.11/getting-started/installation/install-from-operatorhub.md
Owners: @gravitee-io/tech-writers

GITBOOK-8: No subject
  docs/apim/4.11/release-information/release-notes/apim-4.11.md
Owners: @gravitee-io/tech-writers

GITBOOK-8: No subject
  docs/apim/4.11/release-information/release-notes/apim-4.11.md
Owners: @gravitee-io/tech-writers

add entities
  docs/gko/4.11/getting-started/installation/install-from-operatorhub.md
Owners: @gravitee-io/tech-writers

GITBOOK-17: AM release notes and changelogs links
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/releases-and-changelog/release-notes/am-4.10.md
Owners: @gravitee-io/tech-writers

GITBOOK-17: AM release notes and changelogs links
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/releases-and-changelog/release-notes/am-4.10.md
Owners: @gravitee-io/tech-writers

GITBOOK-19: GKO release notes and changelos links
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/gko-4.11.x.md
  docs/gko/4.10/releases-and-changelog/release-notes/gko-4.10.md
Owners: @gravitee-io/tech-writers

GITBOOK-19: GKO release notes and changelos links
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/gko-4.11.x.md
  docs/gko/4.10/releases-and-changelog/release-notes/gko-4.10.md
Owners: @gravitee-io/tech-writers

GitBook: No commit message
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/gko-4.10.md
  docs/gko/4.10/gko-4.11.x.md
Owners: @gravitee-io/tech-writers

GitBook: No commit message
  docs/gko/4.10/SUMMARY.md
  docs/gko/4.10/gko-4.10.md
  docs/gko/4.10/gko-4.11.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-3: GKO release notes and changelogs
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
  docs/gko/4.11/releases-and-changelog/release-notes/gko-4.10.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-3: GKO release notes and changelogs
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
  docs/gko/4.11/releases-and-changelog/release-notes/gko-4.10.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-10: plugin page placement
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/plugins/README.md
  docs/apim/4.11/plugins/archunit-maven-plugin.md
  docs/apim/4.11/plugins/customization/README.md
  docs/apim/4.11/plugins/customization/archunit-maven-plugin.md
  docs/apim/4.11/plugins/customization/context-aware-logging.md
  docs/apim/4.11/plugins/deployment.md
Owners: @gravitee-io/tech-writers

GITBOOK-10: plugin page placement
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/plugins/README.md
  docs/apim/4.11/plugins/archunit-maven-plugin.md
  docs/apim/4.11/plugins/customization/README.md
  docs/apim/4.11/plugins/customization/archunit-maven-plugin.md
  docs/apim/4.11/plugins/customization/context-aware-logging.md
  docs/apim/4.11/plugins/deployment.md
Owners: @gravitee-io/tech-writers

GITBOOK-11: No subject
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-11: No subject
  docs/apim/4.11/SUMMARY.md
  docs/apim/4.11/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

GITBOOK-18: No subject
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-18: No subject
  docs/am/4.11/SUMMARY.md
  docs/am/4.11/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/am

GITBOOK-4: No subject
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

GITBOOK-4: No subject
  docs/gko/4.11/SUMMARY.md
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
