Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

chore: add changelog for 4.8.14
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.27
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.6.27
  docs/am/4.6/releases-and-changelog/changelog/am-4.6.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.22
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.7.22
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.14
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.8.14
  docs/am/4.8/releases-and-changelog/changelog/am-4.8.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.4
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.4
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.4
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

create folder for templates sync
  templates/README.md
Owners: @gravitee-io/tech-writers

create folder for templates sync
  templates/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: No subject
  templates/.gitbook/assets/02.png
  templates/.gitbook/assets/file.excalidraw.svg
  templates/README.md
  templates/SUMMARY.md
  templates/gitbook-blocks.md
  templates/guidelines-for-how-to-articles.md
  templates/template-for-concept-articles.md
Owners: @gravitee-io/tech-writers

GITBOOK-7: No subject
  templates/.gitbook/assets/02.png
  templates/.gitbook/assets/file.excalidraw.svg
  templates/README.md
  templates/SUMMARY.md
  templates/gitbook-blocks.md
  templates/guidelines-for-how-to-articles.md
  templates/template-for-concept-articles.md
Owners: @gravitee-io/tech-writers

Rename README.md to template-for-how-to-articles.md
  templates/template-for-how-to-articles.md
Owners: @gravitee-io/tech-writers

Rename README.md to template-for-how-to-articles.md
  templates/template-for-how-to-articles.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.25
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.25
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

Refactor template for how-to articles
  templates/template-for-how-to-articles.md
Owners: @gravitee-io/tech-writers

Refactor template for how-to articles
  templates/template-for-how-to-articles.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.19
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.19
  docs/apim/4.7/overview/changelog/apim-4.7.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.13
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.8.13
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.6
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.6
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.8/release-information/changelog/apim-4.8.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

Update docs/apim/4.8/release-information/changelog/apim-4.8.x.md
  docs/apim/4.8/release-information/changelog/apim-4.8.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.6.24
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.24
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.18
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.18
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.12
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.12
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.3
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.3
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

Update link for GKO 4.9.x changelog
  docs/gko/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

Update link for GKO 4.9.x changelog
  docs/gko/4.9/SUMMARY.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.9.4
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.4
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
