Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

docs(apim): fix Alert Engine notification properties (DOC-1944)
  docs/apim/4.11/alert-engine/guides/integration-set-up/gravitee-api-management/configure-notifications.md
  docs/apim/4.11/alert-engine/guides/notifications.md
  docs/apim/4.12/alert-engine/guides/integration-set-up/gravitee-api-management/configure-notifications.md
  docs/apim/4.12/alert-engine/guides/notifications.md
  docs/apim/4.13/alert-engine/guides/integration-set-up/gravitee-api-management/configure-notifications.md
  docs/apim/4.13/alert-engine/guides/notifications.md
Owners: @gravitee-io/tech-writers

docs(gamma): show the 4.12.19 benchmark results before 4.12.20
  docs/gamma/4.12/api-management/deploy/gateway-benchmarks.md
  docs/gamma/4.13/api-management/deploy/gateway-benchmarks.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.24
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.12.8
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.11.18
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

docs(gamma): show the 4.12.19 benchmark results before 4.12.20
  docs/gamma/4.12/api-management/deploy/gateway-benchmarks.md
  docs/gamma/4.13/api-management/deploy/gateway-benchmarks.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.18
  docs/am/4.11/releases-and-changelog/changelog/am-4.11.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.10.24
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.33
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.12.8
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.36
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.21
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.29
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.32
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.9.36
  docs/apim/4.9/release-information/changelog/apim-4.9.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.12.21
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.10.32
  docs/apim/4.10/release-information/changelog/apim-4.10.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.11.29
  docs/apim/4.11/release-information/changelog/apim-4.11.x.md
Owners: @gravitee-io/tech-writers

docs(apim): add the missing #11840 entry to the 4.12.20 changelog
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs(apim): add the missing #11840 entry to the 4.12.20 changelog
  docs/apim/4.12/release-information/changelog/apim-4.12.x.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.10.32
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs(apim): document the Authentication page of the Portal Settings (PORTAL-174)
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication-activate-identity-provider.png
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication-force-login.png
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication-hide-login-form.png
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication.png
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.13/developer-portal/new-developer-portal/configure-authentication/enforce-user-authentication.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.11.29
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.29
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.32
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.36
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.36
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.21
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs(apim): document the Authentication page of the Portal Settings (PORTAL-174)
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication-activate-identity-provider.png
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication-force-login.png
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication-hide-login-form.png
  docs/apim/4.13/.gitbook/assets/portal-settings-authentication.png
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/developer-portal/new-developer-portal/configure-authentication/configure-authentication-with-sso.md
  docs/apim/4.13/developer-portal/new-developer-portal/configure-authentication/enforce-user-authentication.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs(apim): document the collapsed navigation tree of the New Developer Portal
  docs/apim/4.13/.gitbook/assets/devportal-navigation-tree-collapsed.png
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/developer-portal/new-developer-portal/catalog.md
  docs/apim/4.13/developer-portal/new-developer-portal/customize-the-navigation.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs(gamma): correct the path to API logs and traces (DOC-1948)
  docs/gamma/4.12/api-management/observe/view-api-logs.md
  docs/gamma/4.13/api-management/observe/view-api-logs.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.21
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs(gamma): correct the path to API logs and traces (DOC-1948)
  docs/gamma/4.12/api-management/observe/view-api-logs.md
  docs/gamma/4.13/api-management/observe/view-api-logs.md
Owners: @gravitee-io/tech-writers

docs(apim): document the collapsed navigation tree of the New Developer Portal
  docs/apim/4.13/.gitbook/assets/devportal-navigation-tree-collapsed.png
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/developer-portal/new-developer-portal/catalog.md
  docs/apim/4.13/developer-portal/new-developer-portal/customize-the-navigation.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs(gamma): drop the Condition step from the AI Token Compression policy (AIAM-53)
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-token-compression-configuration.png
  docs/gamma/4.13/agent-management/build/add-the-ai-token-compression-policy.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): document the AI Token Compression policy for LLM Proxies (AIAM-53)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-token-compression-add-policy.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-token-compression-configuration.png
  docs/gamma/4.13/agent-management/SUMMARY.md
  docs/gamma/4.13/agent-management/build/add-the-ai-token-compression-policy.md
  docs/gamma/4.13/agent-management/build/llm-proxies/design/README.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): drop the Condition step from the AI Token Compression policy (AIAM-53)
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-token-compression-configuration.png
  docs/gamma/4.13/agent-management/build/add-the-ai-token-compression-policy.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): document the AI Token Compression policy for LLM Proxies (AIAM-53)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-token-compression-add-policy.png
  docs/gamma/4.13/agent-management/.gitbook/assets/gamma-aim-ai-token-compression-configuration.png
  docs/gamma/4.13/agent-management/SUMMARY.md
  docs/gamma/4.13/agent-management/build/add-the-ai-token-compression-policy.md
  docs/gamma/4.13/agent-management/build/llm-proxies/design/README.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

fix: changelogs dedup
  docs/apim/4.12/terraform/changelog.md
Owners: @gravitee-io/tech-writers

docs: APIM Terraform provider v1.0.2 changelog
  docs/apim/4.12/terraform/changelog.md
Owners: @gravitee-io/tech-writers
