Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

Continue fixing imports
  docs/apim/4.3/guides/api-exposure-plans-applications-and-subscriptions/subscriptions.md
  docs/apim/4.4/using-the-product/managing-your-apis-with-gravitee-api-management/api-exposure-plans-applications-and-subscriptions/subscriptions.md
  docs/apim/4.5/using-the-product/managing-your-apis/preparing-apis-for-subscribers/subscriptions.md
  docs/apim/4.6/kafka-gateway/subscriptions.md
  docs/apim/4.7/expose-apis/subscriptions.md
  docs/apim/4.7/kafka-gateway/subscriptions.md
  docs/apim/4.8/kafka-gateway/subscriptions.md
  docs/apim/4.8/secure-and-expose-apis/subscriptions/manage-subscriptions.md
  docs/apim/4.9/configure-and-manage-the-platform/gravitee-gateway/notifications.md
  docs/apim/4.9/kafka-gateway/subscriptions.md
  docs/apim/4.9/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

Fix links
  docs/apim/4.8/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

Fix links
  docs/apim/4.8/secure-and-expose-apis/subscriptions/manage-subscriptions.md
Owners: @gravitee-io/tech-writers

Restore apim/4.9 assets
  docs/apim/4.9/.gitbook/assets/image (1).png
  docs/apim/4.9/.gitbook/assets/image (10) (1).png
  docs/apim/4.9/.gitbook/assets/image (11) (1).png
  docs/apim/4.9/.gitbook/assets/image (13) (1).png
  docs/apim/4.9/.gitbook/assets/image (14) (1).png
  docs/apim/4.9/.gitbook/assets/image (17) (1).png
  docs/apim/4.9/.gitbook/assets/image (2).png
  docs/apim/4.9/.gitbook/assets/image (22) (1).png
  docs/apim/4.9/.gitbook/assets/image (23) (1).png
  docs/apim/4.9/.gitbook/assets/image (24) (1).png
  docs/apim/4.9/.gitbook/assets/image (25) (1).png
  docs/apim/4.9/.gitbook/assets/image (27) (1).png
  docs/apim/4.9/.gitbook/assets/image (28) (1).png
  docs/apim/4.9/.gitbook/assets/image (3).png
  docs/apim/4.9/.gitbook/assets/image (30) (1).png
  docs/apim/4.9/.gitbook/assets/image (31) (1).png
  docs/apim/4.9/.gitbook/assets/image (33) (1).png
  docs/apim/4.9/.gitbook/assets/image (339) (1).png
  docs/apim/4.9/.gitbook/assets/image (34) (1).png
  docs/apim/4.9/.gitbook/assets/image (347) (1).png
  docs/apim/4.9/.gitbook/assets/image (348) (1).png
  docs/apim/4.9/.gitbook/assets/image (349) (1).png
  docs/apim/4.9/.gitbook/assets/image (35) (1).png
  docs/apim/4.9/.gitbook/assets/image (350) (1).png
  docs/apim/4.9/.gitbook/assets/image (351) (1).png
  docs/apim/4.9/.gitbook/assets/image (36) (1).png
  docs/apim/4.9/.gitbook/assets/image (37) (1).png
  docs/apim/4.9/.gitbook/assets/image (372) (1).png
  docs/apim/4.9/.gitbook/assets/image (375) (1).png
  docs/apim/4.9/.gitbook/assets/image (38) (1).png
  docs/apim/4.9/.gitbook/assets/image (39) (1).png
  docs/apim/4.9/.gitbook/assets/image (40) (1).png
  docs/apim/4.9/.gitbook/assets/image (9) (1).png
  docs/apim/4.9/.gitbook/assets/image.png
Owners: @gravitee-io/tech-writers

Restore apim/4.9 assets
  docs/apim/4.9/.gitbook/assets/image (1).png
  docs/apim/4.9/.gitbook/assets/image (10) (1).png
  docs/apim/4.9/.gitbook/assets/image (11) (1).png
  docs/apim/4.9/.gitbook/assets/image (13) (1).png
  docs/apim/4.9/.gitbook/assets/image (14) (1).png
  docs/apim/4.9/.gitbook/assets/image (17) (1).png
  docs/apim/4.9/.gitbook/assets/image (2).png
  docs/apim/4.9/.gitbook/assets/image (22) (1).png
  docs/apim/4.9/.gitbook/assets/image (23) (1).png
  docs/apim/4.9/.gitbook/assets/image (24) (1).png
  docs/apim/4.9/.gitbook/assets/image (25) (1).png
  docs/apim/4.9/.gitbook/assets/image (27) (1).png
  docs/apim/4.9/.gitbook/assets/image (28) (1).png
  docs/apim/4.9/.gitbook/assets/image (3).png
  docs/apim/4.9/.gitbook/assets/image (30) (1).png
  docs/apim/4.9/.gitbook/assets/image (31) (1).png
  docs/apim/4.9/.gitbook/assets/image (33) (1).png
  docs/apim/4.9/.gitbook/assets/image (339) (1).png
  docs/apim/4.9/.gitbook/assets/image (34) (1).png
  docs/apim/4.9/.gitbook/assets/image (347) (1).png
  docs/apim/4.9/.gitbook/assets/image (348) (1).png
  docs/apim/4.9/.gitbook/assets/image (349) (1).png
  docs/apim/4.9/.gitbook/assets/image (35) (1).png
  docs/apim/4.9/.gitbook/assets/image (350) (1).png
  docs/apim/4.9/.gitbook/assets/image (351) (1).png
  docs/apim/4.9/.gitbook/assets/image (36) (1).png
  docs/apim/4.9/.gitbook/assets/image (37) (1).png
  docs/apim/4.9/.gitbook/assets/image (372) (1).png
  docs/apim/4.9/.gitbook/assets/image (375) (1).png
  docs/apim/4.9/.gitbook/assets/image (38) (1).png
  docs/apim/4.9/.gitbook/assets/image (39) (1).png
  docs/apim/4.9/.gitbook/assets/image (40) (1).png
  docs/apim/4.9/.gitbook/assets/image (9) (1).png
  docs/apim/4.9/.gitbook/assets/image.png
Owners: @gravitee-io/tech-writers

Fix links
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/apim-console/notifications.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/apim-console/configuring-notifications-and-alerts-for-your-apis.md
Owners: @gravitee-io/tech-writers

Fix links
  docs/apim/4.4/using-the-product/using-the-gravitee-api-management-components/apim-console/notifications.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/apim-console/configuring-notifications-and-alerts-for-your-apis.md
Owners: @gravitee-io/tech-writers

Finish fixing direct links
  docs/apim/4.2/getting-started/configuration/authentication.md
  docs/apim/4.2/getting-started/install-and-upgrade-guides/multi-tenancy.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/multi-tenancy.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/notifications.md
  docs/apim/4.6/gravitee-gateway/tenants.md
  docs/apim/4.6/hybrid-deployment/hybrid-install-with-docker.md
  docs/apim/4.6/hybrid-deployment/overview.md
Owners: @gravitee-io/tech-writers

Finish fixing direct links
  docs/apim/4.2/getting-started/configuration/authentication.md
  docs/apim/4.2/getting-started/install-and-upgrade-guides/multi-tenancy.md
  docs/apim/4.3/getting-started/install-and-upgrade-guides/multi-tenancy.md
  docs/apim/4.5/using-the-product/using-the-gravitee-api-management-components/general-configuration/notifications.md
  docs/apim/4.6/gravitee-gateway/tenants.md
  docs/apim/4.6/hybrid-deployment/hybrid-install-with-docker.md
  docs/apim/4.6/hybrid-deployment/overview.md
Owners: @gravitee-io/tech-writers

Fix gravitee-cloud and gko/4.9
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.9/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.9/overview/example-architecture.md
  docs/gravitee-cloud/guides/account-token.md
  docs/gravitee-cloud/guides/custom-domains.md
Owners: @gravitee-io/tech-writers

Fix gravitee-cloud and gko/4.9
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.9/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.9/overview/example-architecture.md
  docs/gravitee-cloud/guides/account-token.md
  docs/gravitee-cloud/guides/custom-domains.md
Owners: @gravitee-io/tech-writers

Fix docs/gko/4.8
  docs/gko/4.8/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.8/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.8/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.8/guides/multi-environment-architecture.md
  docs/gko/4.8/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.8/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

Fix docs/gko/4.8
  docs/gko/4.8/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.8/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.8/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.8/guides/multi-environment-architecture.md
  docs/gko/4.8/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.8/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

GITBOOK-148: updated-confluent-helm-chart-list
  docs/apim/4.9/.gitbook/assets/confluent-click-next.png
  docs/apim/4.9/.gitbook/assets/confluent-integration-id (1).png
  docs/apim/4.9/.gitbook/assets/confluent-integration-id.png
  docs/apim/4.9/.gitbook/assets/confluent-platform-app-connected.png
  docs/apim/4.9/.gitbook/assets/enter-confluent-name-and-description (1).png
  docs/apim/4.9/.gitbook/assets/enter-confluent-name-and-description (2).png
  docs/apim/4.9/.gitbook/assets/enter-confluent-name-and-description.png
  docs/apim/4.9/.gitbook/assets/image (69).png
  docs/apim/4.9/.gitbook/assets/image (70).png
  docs/apim/4.9/.gitbook/assets/image (71).png
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/confluent-platform.md
Owners: @gravitee-io/tech-writers

GITBOOK-148: updated-confluent-helm-chart-list
  docs/apim/4.9/.gitbook/assets/confluent-click-next.png
  docs/apim/4.9/.gitbook/assets/confluent-integration-id (1).png
  docs/apim/4.9/.gitbook/assets/confluent-integration-id.png
  docs/apim/4.9/.gitbook/assets/confluent-platform-app-connected.png
  docs/apim/4.9/.gitbook/assets/enter-confluent-name-and-description (1).png
  docs/apim/4.9/.gitbook/assets/enter-confluent-name-and-description (2).png
  docs/apim/4.9/.gitbook/assets/enter-confluent-name-and-description.png
  docs/apim/4.9/.gitbook/assets/image (69).png
  docs/apim/4.9/.gitbook/assets/image (70).png
  docs/apim/4.9/.gitbook/assets/image (71).png
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/confluent-platform.md
Owners: @gravitee-io/tech-writers

Fix broken-reference in docs/gko
  docs/gko/4.4/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.6/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.6/guides/multi-environment-architecture.md
  docs/gko/4.6/guides/templating.md
  docs/gko/4.6/overview/example-architecture.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.7/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.7/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.7/guides/multi-environment-architecture.md
  docs/gko/4.7/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.7/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

Fix broken-reference in docs/gko
  docs/gko/4.4/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.6/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.6/guides/multi-environment-architecture.md
  docs/gko/4.6/guides/templating.md
  docs/gko/4.6/overview/example-architecture.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.7/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.7/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.7/guides/multi-environment-architecture.md
  docs/gko/4.7/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.7/overview/example-architecture.md
Owners: @gravitee-io/tech-writers

Update define-an-apim-service-account-for-gko.md
  docs/gko/4.4/guides/define-an-apim-service-account-for-gko.md
Owners: @gravitee-io/tech-writers

Update define-an-apim-service-account-for-gko.md
  docs/gko/4.4/guides/define-an-apim-service-account-for-gko.md
Owners: @gravitee-io/tech-writers

GITBOOK-152: updated-ibm-connect-for-federation-agents
  docs/apim/4.9/.gitbook/assets/click-next-on-integrations-workflow (1).png
  docs/apim/4.9/.gitbook/assets/click-next-on-integrations-workflow.png
  docs/apim/4.9/.gitbook/assets/create-integration-ibm-connect.png
  docs/apim/4.9/.gitbook/assets/ibm-connect-integraiton-id (1).png
  docs/apim/4.9/.gitbook/assets/ibm-connect-integraiton-id.png
  docs/apim/4.9/.gitbook/assets/ibm-connect-name-and-description (1).png
  docs/apim/4.9/.gitbook/assets/ibm-connect-name-and-description.png
  docs/apim/4.9/.gitbook/assets/image (72).png
  docs/apim/4.9/.gitbook/assets/image (73).png
  docs/apim/4.9/.gitbook/assets/image (74).png
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
Owners: @gravitee-io/tech-writers

GITBOOK-152: updated-ibm-connect-for-federation-agents
  docs/apim/4.9/.gitbook/assets/click-next-on-integrations-workflow (1).png
  docs/apim/4.9/.gitbook/assets/click-next-on-integrations-workflow.png
  docs/apim/4.9/.gitbook/assets/create-integration-ibm-connect.png
  docs/apim/4.9/.gitbook/assets/ibm-connect-integraiton-id (1).png
  docs/apim/4.9/.gitbook/assets/ibm-connect-integraiton-id.png
  docs/apim/4.9/.gitbook/assets/ibm-connect-name-and-description (1).png
  docs/apim/4.9/.gitbook/assets/ibm-connect-name-and-description.png
  docs/apim/4.9/.gitbook/assets/image (72).png
  docs/apim/4.9/.gitbook/assets/image (73).png
  docs/apim/4.9/.gitbook/assets/image (74).png
  docs/apim/4.9/govern-apis/federation/3rd-party-providers/ibm-api-connect.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.6.25
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.25
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.6
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.6
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.13
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.13
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.19
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.19
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.14
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.7
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

Fix all root block hints
  docs/am/4.1/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.2/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.3/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.4/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.5/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.6/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.7/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.8/getting-started/install-and-upgrade-guides/deploy-in-kubernetes.md
  docs/am/4.8/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.9/guides/identity-providers/user-and-role-mapping.md
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Fix all root block hints
  docs/am/4.1/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.2/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.3/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.4/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.5/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.6/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.7/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.8/getting-started/install-and-upgrade-guides/deploy-in-kubernetes.md
  docs/am/4.8/guides/identity-providers/user-and-role-mapping.md
  docs/am/4.9/guides/identity-providers/user-and-role-mapping.md
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Fix code block
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Fix code block
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Last fix to page
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Last fix to page
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Also fix broken code block
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Also fix broken code block
  docs/apim/4.4/installation-and-upgrades/install-gravitee-api-management/installing-gravitee-api-management-on-premise/install-on-red-hat-and-centos.md
Owners: @gravitee-io/tech-writers

Fix broken references in docs/gko
  docs/gko/4.4/.gitbook/assets/image (15).png
  docs/gko/4.4/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.4/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.5/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.5/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.5/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.5/guides/export-an-api-as-a-kubernetes-manifest.md
  docs/gko/4.5/guides/manage-api-groups-and-members.md
  docs/gko/4.5/guides/multi-environment-architecture.md
  docs/gko/4.5/guides/templating.md
  docs/gko/4.5/overview/example-architecture.md
  docs/gko/4.6/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.6/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.6/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.6/guides/multi-environment-architecture.md
  docs/gko/4.6/guides/templating.md
  docs/gko/4.6/overview/example-architecture.md
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
  docs/gko/4.7/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.7/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.7/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.7/guides/multi-environment-architecture.md
  docs/gko/4.7/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.7/overview/example-architecture.md
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
  docs/gko/4.8/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.8/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.8/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.8/guides/multi-environment-architecture.md
  docs/gko/4.8/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.8/overview/example-architecture.md
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
  docs/gko/4.9/getting-started/api-storage-and-control-options/use-a-central-apim-repository.md
  docs/gko/4.9/getting-started/installation/cluster-vs-namespaced-install.md
  docs/gko/4.9/guides/define-an-apim-service-account-for-gko.md
  docs/gko/4.9/guides/multi-environment-architecture.md
  docs/gko/4.9/overview/custom-resource-definitions/sharedpolicygroup.md
  docs/gko/4.9/overview/example-architecture.md
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/tech-writers, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
