Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko

chore: add changelog for 4.10.20
  docs/am/4.10/releases-and-changelog/changelog/am-4.10.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.12.4
  docs/am/4.12/releases-and-changelog/changelog/am-4.12.x.md
Owners: @gravitee-io/am

chore: add changelog for 4.9.29
  docs/am/4.9/releases-and-changelog/changelog/am-4.9.x.md
Owners: @gravitee-io/am

docs(gamma): document the Audit Logs page for LLM, MCP, and A2A Proxies (AIAM-71)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/observe/README.md
  docs/gamma/4.13/agent-management/observe/review-audit-logs.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

docs(apim): flesh out the schema registry provider contract page (ESM-28)
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/create-and-configure-apis/apply-policies/resources.md
  docs/apim/4.13/plugins/customization/schema-registry-provider.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs(apim): remove the provider contract sections from the schema registry provider page (ESM-28)
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/plugins/customization/schema-registry-provider.md
Owners: @gravitee-io/tech-writers

docs(apim): flesh out the schema registry provider contract page (ESM-28)
  docs/apim/4.13/.version-overrides
  docs/apim/4.13/create-and-configure-apis/apply-policies/resources.md
  docs/apim/4.13/plugins/customization/schema-registry-provider.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs(apim): document the schema registry provider contract 1.1.0 (ESM-28)
  docs/apim/4.13/SUMMARY.md
  docs/apim/4.13/create-and-configure-apis/apply-policies/resources.md
  docs/apim/4.13/plugins/customization/schema-registry-provider.md
  docs/apim/4.13/release-information/release-notes/apim-4.13.md
Owners: @gravitee-io/tech-writers

docs(gamma): add Duplicate a Kafka service page and 4.13 release notes entry (ESM-3)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/build/README.md
  docs/gamma/4.13/event-stream-management/build/duplicate-a-kafka-service.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

accepted-request-formats-gamma-port (#2159)
  docs/gamma/4.12/SUMMARY.md
  docs/gamma/4.12/agent-management/build/accepted-request-formats.md
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/agent-management/build/accepted-request-formats.md
Owners: @gravitee-io/tech-writers

docs(cloud): add Filter the Gateways list guide (CJ-4249)
  docs/gravitee-cloud/SUMMARY.md
  docs/gravitee-cloud/guides/filter-the-gateways-list.md
  docs/gravitee-cloud/guides/gravitee-hosted-gateways/README.md
  docs/gravitee-cloud/reference/release-notes.md
Owners: @gravitee-io/tech-writers

docs(cloud): list Status filter values as examples (CJ-4249)
  docs/gravitee-cloud/guides/filter-the-gateways-list.md
Owners: @gravitee-io/tech-writers

docs(cloud): list Status filter values as examples (CJ-4249)
  docs/gravitee-cloud/guides/filter-the-gateways-list.md
Owners: @gravitee-io/tech-writers

docs(cloud): add Filter the Gateways list guide (CJ-4249)
  docs/gravitee-cloud/SUMMARY.md
  docs/gravitee-cloud/guides/filter-the-gateways-list.md
  docs/gravitee-cloud/guides/gravitee-hosted-gateways/README.md
  docs/gravitee-cloud/reference/release-notes.md
Owners: @gravitee-io/tech-writers

docs(gamma): add Duplicate a Kafka service page and 4.13 release notes entry (ESM-3)
  docs/gamma/4.13/SUMMARY.md
  docs/gamma/4.13/event-stream-management/build/README.md
  docs/gamma/4.13/event-stream-management/build/duplicate-a-kafka-service.md
  docs/gamma/4.13/platform-management/gamma-release-notes.md
Owners: @gravitee-io/tech-writers

add warning for debian images on installation docs
  docs/apim/4.10/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.10/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.10/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

Add meta descriptions to Agent Management build pages in 4.12 and 4.13 (#2162)
  docs/gamma/4.12/agent-management/build/configure-your-a2a-proxy/add-policies-to-a2a-proxy.md
  docs/gamma/4.12/agent-management/build/configure-your-mcp/README.md
  docs/gamma/4.12/agent-management/build/create-an-mcp-proxy.md
  docs/gamma/4.12/agent-management/build/create-an-mcp-studio.md
  docs/gamma/4.12/agent-management/build/edit-mcp-studio-composition.md
  docs/gamma/4.13/agent-management/build/configure-your-a2a-proxy/add-policies-to-a2a-proxy.md
  docs/gamma/4.13/agent-management/build/configure-your-mcp/README.md
  docs/gamma/4.13/agent-management/build/create-an-mcp-proxy.md
  docs/gamma/4.13/agent-management/build/create-an-mcp-studio.md
  docs/gamma/4.13/agent-management/build/edit-mcp-studio-composition.md
Owners: @gravitee-io/tech-writers

docs(gamma): expand GAPL in the MCP policy page meta description
  docs/gamma/4.12/agent-management/build/configure-your-mcp/add-policies-to-mcp-server.md
  docs/gamma/4.13/agent-management/build/configure-your-mcp/add-policies-to-mcp-server.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.12.11
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.11
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.12
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.12
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.13
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.13
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.14
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.12.14
  docs/gko/4.12/releases-and-changelog/changelog/gko-4.12.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.22
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.22
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.23
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.23
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.24
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.11.24
  docs/gko/4.11/releases-and-changelog/changelog/gko-4.11.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.26
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.26
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

TW review
  docs/apim/4.10/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.10/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.10/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.10.27
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.10.27
  docs/gko/4.10/releases-and-changelog/changelog/gko-4.10.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.9.30
  docs/gko/4.9/releases-and-changelog/changelog/gko-4.9.x.md
Owners: @gravitee-io/gko

add warning for debian images on installation docs
  docs/apim/4.10/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.10/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.10/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

TW review
  docs/apim/4.10/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.10/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.10/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.11/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.11/self-hosted-installation-guides/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/classic-cloud/docker/docker-compose.md
  docs/apim/4.12/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.12/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers
