Repository gravitee-io/gravitee-platform-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gravitee-io/tech-writers, @gravitee-io/apim, @gravitee-io/am, @gravitee-io/gko

GITBOOK-317: No subject
  docs/apim/4.8/.gitbook/assets/image (323).png
  docs/apim/4.8/.gitbook/assets/image (324).png
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/gcp-gke.md
Owners: @gravitee-io/tech-writers

GITBOOK-317: No subject
  docs/apim/4.8/.gitbook/assets/image (323).png
  docs/apim/4.8/.gitbook/assets/image (324).png
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-compose.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/gcp-gke.md
Owners: @gravitee-io/tech-writers

GITBOOK-318: No subject
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
Owners: @gravitee-io/tech-writers

GITBOOK-318: No subject
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
Owners: @gravitee-io/tech-writers

GITBOOK-319: No subject
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
Owners: @gravitee-io/tech-writers

GITBOOK-319: No subject
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
Owners: @gravitee-io/tech-writers

GITBOOK-320: update-mock-v4-policy-proxy-apis
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
Owners: @gravitee-io/tech-writers

GITBOOK-320: update-mock-v4-policy-proxy-apis
  docs/apim/4.8/create-and-configure-apis/apply-policies/policy-reference/mock.md
Owners: @gravitee-io/tech-writers

GITBOOK-321: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-321: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-259: fix-eks-path
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/prepare-a-production-environment/production-best-practices/deployments.md
Owners: @gravitee-io/tech-writers

GITBOOK-259: fix-eks-path
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/prepare-a-production-environment/production-best-practices/deployments.md
Owners: @gravitee-io/tech-writers

GITBOOK-323: update-eks-next-gen-path
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-323: update-eks-next-gen-path
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/README.md
Owners: @gravitee-io/tech-writers

GITBOOK-325: Jira 831: Update support page
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/support.md
Owners: @gravitee-io/tech-writers

GITBOOK-325: Jira 831: Update support page
  docs/apim/4.8/configure-and-manage-the-platform/manage-organizations-and-environments/support.md
Owners: @gravitee-io/tech-writers

docs: add changelog for gko-4.5.24
  docs/gko/4.5/releases-and-changelog/changelog/gko-4.5.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.6.18
  docs/gko/4.6/releases-and-changelog/changelog/gko-4.6.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.7.12
  docs/gko/4.7/releases-and-changelog/changelog/gko-4.7.x.md
Owners: @gravitee-io/gko

docs: add changelog for gko-4.8.4
  docs/gko/4.8/releases-and-changelog/changelog/gko-4.8.x.md
Owners: @gravitee-io/gko

GITBOOK-9: Breaking change 4.8.0
  docs/am/4.8/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-9: Breaking change 4.8.0
  docs/am/4.8/getting-started/install-and-upgrade-guides/breaking-changes-for-access-management.md
Owners: @gravitee-io/tech-writers

GITBOOK-326: create and configure Kafka APIs
  docs/apim/4.8/kafka-gateway/create-and-configure-kafka-apis/README.md
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-cli.md
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-326: create and configure Kafka APIs
  docs/apim/4.8/kafka-gateway/create-and-configure-kafka-apis/README.md
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-cli.md
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-329: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-329: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-331: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-331: No subject
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-328: Create your first API: Add documentation
  docs/apim/4.8/.gitbook/assets/6DD0E65F-0096-4CD0-A5E4-ADFC9815CCB2.jpeg
  docs/apim/4.8/.gitbook/assets/7405FAE3-1497-40D0-A658-664B364E8493.jpeg
  docs/apim/4.8/.gitbook/assets/image (325).png
  docs/apim/4.8/.gitbook/assets/image (326).png
  docs/apim/4.8/.gitbook/assets/image (327).png
  docs/apim/4.8/.gitbook/assets/image (328).png
  docs/apim/4.8/.gitbook/assets/image (329).png
  docs/apim/4.8/.gitbook/assets/image (330).png
  docs/apim/4.8/.gitbook/assets/image (331).png
  docs/apim/4.8/.gitbook/assets/image (332).png
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/add-a-policy.md
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/add-api-documentation.md
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/create-an-api.md
Owners: @gravitee-io/tech-writers

GITBOOK-328: Create your first API: Add documentation
  docs/apim/4.8/.gitbook/assets/6DD0E65F-0096-4CD0-A5E4-ADFC9815CCB2.jpeg
  docs/apim/4.8/.gitbook/assets/7405FAE3-1497-40D0-A658-664B364E8493.jpeg
  docs/apim/4.8/.gitbook/assets/image (325).png
  docs/apim/4.8/.gitbook/assets/image (326).png
  docs/apim/4.8/.gitbook/assets/image (327).png
  docs/apim/4.8/.gitbook/assets/image (328).png
  docs/apim/4.8/.gitbook/assets/image (329).png
  docs/apim/4.8/.gitbook/assets/image (330).png
  docs/apim/4.8/.gitbook/assets/image (331).png
  docs/apim/4.8/.gitbook/assets/image (332).png
  docs/apim/4.8/SUMMARY.md
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/add-a-policy.md
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/add-api-documentation.md
  docs/apim/4.8/how-to-guides/create-and-publish-your-first-api/create-an-api.md
Owners: @gravitee-io/tech-writers

GITBOOK-336: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
Owners: @gravitee-io/tech-writers

GITBOOK-336: No subject
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/docker/docker-cli.md
Owners: @gravitee-io/tech-writers

GITBOOK-337: update-docker-agent-federation-docs
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

GITBOOK-337: update-docker-agent-federation-docs
  docs/apim/4.8/self-hosted-installation-guides/docker/docker-compose.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.7.12
  docs/am/4.7/releases-and-changelog/changelog/am-4.7.x.md
Owners: @gravitee-io/am

GITBOOK-342: update-redis-plugin
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

GITBOOK-342: update-redis-plugin
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/aws-eks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/azure-aks.md
  docs/apim/4.8/hybrid-installation-and-configuration-guides/next-gen-cloud/kubernetes/vanilla-kubernetes.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.5.25
  docs/apim/4.5/overview/changelog/apim-4.5.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.5.25
  docs/apim/4.5/overview/changelog/apim-4.5.x.md
Owners: @gravitee-io/tech-writers

chore: add changelog for 4.6.19
  docs/apim/4.6/overview/changelog/apim-4.6.x.md
Owners: @gravitee-io/tech-writers

.github/CODEOWNERS:

*                                               @gravitee-io/tech-writers
/docs/apim/*/releases-and-changelog/changelog   @gravitee-io/apim
/docs/am/*/releases-and-changelog/changelog     @gravitee-io/am
/docs/gko/*/releases-and-changelog/changelog    @gravitee-io/gko
